.contact-header {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0 0 210px 0;
    background: #171725;
    &__block {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: relative;
        width: 100%;
        height: 100%;
        &-title {
            margin: 246px 0 0 0;
            width: 626px;
            font-family: TT Norms;
            font-style: normal;
            font-weight: normal;
            font-size: 50px;
            line-height: 77px;
            text-transform: uppercase;
            color: #FFFFFF;
            z-index: 1;
        }
        &-img {
            position: absolute;
            top: 185px;
            right: 0;
            z-index: 0;
            -webkit-filter: brightness(40%);
        }
        &-wrapper {
            width: 100%;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            margin: 91px 0 0 0;
        }
        &-text {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            z-index: 2;
            &-add {
                height: 86px;
                font-family: TT Norms;
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                line-height: 86px;
                text-transform: uppercase;
                color: #FFFFFF;
                opacity: 0.5;
            }
            &-title {
                width: 415px;
                font-family: TT Norms;
                font-style: normal;
                font-weight: normal;
                font-size: 30px;
                line-height: 47px;
                text-transform: uppercase;
                color: #FFFFFF;
            }
            &-phone {
                margin: 51px 0 0 0;
                font-family: TT Norms;
                font-style: normal;
                font-weight: bold;
                font-size: 24px;
                line-height: 29px;
                color: #FFFFFF;
            }
            &-address {
                margin: 40px 0 0 0;
                font-family: TT Norms;
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 29px;
                color: #FFFFFF;
            }
            &-description {
                margin: 40px 0 0 0;
                font-family: TT Norms;
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 29px;
                color: #FFFFFF;
            }
            &-email {
                margin: 40px 0 0 0;
                font-family: TT Norms;
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 29px;
                color: #FFFFFF;
            }
            &-time {
                margin: 40px 0 0 0;
                font-family: TT Norms;
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 29px;
                color: #FFFFFF;
            }
            &-address {
                margin: 40px 0 0 0;
                font-family: TT Norms;
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 29px;
                color: #FFFFFF;
            }
            &-item {
                margin: 178px 0 0 0;
                width: 482px;
                font-family: TT Norms;
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 29px;
                color: #FFFFFF;
            }
        }
        &-banner {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: flex-start;
            margin: 90px 0 0 0;
            z-index: 2;
            &-item {
                width: 568px;
                height: 441px;
                background: #800705;
                position: relative;
                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 35px;
                    height: 441px;
                    background: #414141;
                }
            }
            &-items {
                width: 522px;
                height: 340px;
                position: absolute;
                top: 50px;
                left: -67px;
                & img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            &-map {
                margin: 135px 0 0 0;
                width: 636px;
                height: 474px;
            }
        }
    }
}
.contact-mapg {
    width: 100%;
    &__block {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        &-add {
            font-family: TT Norms;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 86px;
            text-transform: uppercase;
            color: #FFFFFF;
            opacity: 0.5;
        }
        &-title {
            font-family: TT Norms;
            font-style: normal;
            font-weight: normal;
            font-size: 30px;
            line-height: 47px;
            text-transform: uppercase;
            color: #FFFFFF;
        }
        &-map {
            margin: 42px 0 0 0;
            width: 100%;
        }
    }
}
.contact-mapy {
    margin: 80px 0 70px 0;
    width: 100%;
    &__block {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        &-add {
            font-family: TT Norms;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 86px;
            text-transform: uppercase;
            color: #FFFFFF;
            opacity: 0.5;
        }
        &-title {
            font-family: TT Norms;
            font-style: normal;
            font-weight: normal;
            font-size: 30px;
            line-height: 47px;
            text-transform: uppercase;
            color: #FFFFFF;
        }
        &-map {
            margin: 42px 0 0 0;
            width: 100%;
        }
    }
}