.disk-header {
    position: relative;
    width: 100%;
    height: 891px;
    background: #171725;
    &__block {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: relative;
        width: 100%;
        height: 100%;
        &-title {
            margin: 246px 0 0 0;
            width: 701px;
            font-family: TT Norms;
            font-style: normal;
            font-weight: normal;
            font-size: 50px;
            line-height: 77px;
            text-transform: uppercase;
            color: #FFFFFF;
            z-index: 1;
        }
        &-add {
            margin: 59px 0 0 0;
            width: 419px;
            font-family: TT Norms;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 131%;
            color: #FFFFFF;
            text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
            z-index: 1;
        }
        &-banner {
            position: absolute;
            top: 185px;
            right: 0;
            z-index: 0;
            -webkit-filter: brightness(40%);
        }
        &-quiz {
            position: absolute;
            top: 470px;
            left: 492px;
            &-title {
                font-family: TT Norms;
                font-style: normal;
                font-weight: normal;
                font-size: 17px;
                line-height: 89%;
                color: #FFFFFF;
                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
            }
            &-wrapper {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                margin: 32px 0 0 0;
            }
            &-add {
                font-family: TT Norms;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 130%;
                color: #7E7E7E;
            }
            &-description {
                margin: 17px 0 0 0;
                font-family: TT Norms;
                font-style: normal;
                font-weight: normal;
                font-size: 17px;
                line-height: 89%;
                color: #FFFFFF;
                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
            }
            &-block {
                margin: 32px 0 0 0;
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 468px;
            }
            &-item {
                position: relative;
                width: 148px;
                height: 73px;
                background: #800705;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                transition: all 0.5s ease;
                &:hover {
                    background: #000000;
                    transition: all 0.5s ease;
                }
                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 5px;
                    height: 73px;
                    background: #414141;
                }
                &-text {
                    transition: all 0.5s ease;
                    font-family: TT Norms;
                    width: 100px;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 118%;
                    color: #FFFFFF;
                    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
                }
            }
        }
    }
}

.disk-about {
    width: 100%;
    height: 434px;
    margin: 0 0 170px 0;
    &__block {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        position: relative;
        &-banner {
            width: 647px;
            height: 434px;
            background: #800705;
            position: relative;
            padding: 49px 0 0 53px;
            &::after {
                content: "";
                width: 35px;
                height: 163px;
                background: #414141;
                position: absolute;
                top: 0;
                right: 0;
            }
            &-add {
                width: 352px;
                font-family: TT Norms;
                font-style: normal;
                font-weight: normal;
                font-size: 24px;
                line-height: 41px;
                color: #FFFFFF;
            }
            &-text {
                margin: 70px 0 0 0;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                width: 100%;
                &-item {
                    font-family: TT Norms;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 40px;
                    line-height: 29px;
                    color: #FFFFFF;
                }
                &-link {
                    margin: 0 0 -10px 70px;
                    font-family: TT Norms;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 32px;
                    text-decoration-line: underline;
                    text-transform: uppercase;
                    color: #FFFFFF;
                }
            }
            &-date {
                margin: 73px 0 0 0;
                font-family: TT Norms;
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 29px;
                color: #FFFFFF;
            }
        }
        &-add {
            margin: 90px 0 0 0;
            width: 613px;
            height: 343px;
            background: #1B1B2F;
            padding: 40px 0 0 28px;
            &-list {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
            }
            &-item {
                display: flex;
                width: 100%;
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                margin: 0 0 35px 0;
                &:last-child {
                    margin: 0;
                }
                &-circle {
                    width: 40px;
                    height: 40px;
                    background: #800705;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                }
                &-text {
                    margin: 0 0 0 28px;
                    width: 337px;
                    font-family: TT Norms;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 25px;
                    color: #FFFFFF;
                }
            }
        }
        &-btn {
            width: 193px;
            height: 68px;
            border: 3px solid #FFFFFF;
            cursor: pointer;
            background: transparent;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            position: absolute;
            top: 471px;
            right: 120px;
            padding: 0 0 0 14px;
            font-family: TT Norms;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 32px;
            text-transform: uppercase;
            color: #FFFFFF;
            &::after {
                content: url(../svg/disk/arrow-next-add.svg);
                position: absolute;
                top: 18px;
                right: 19px;
            }
        }
    }
}

.disk-easy {
    position: relative;
    width: 100%;
    height: 798px;
    background: #1B1B2F;
    &__block {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        &-add {
            margin: 43px 0 0 0;
            height: 86px;
            font-family: TT Norms;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 86px;
            text-transform: uppercase;
            color: #FFFFFF;
            opacity: 0.5;
        }
        &-title {
            font-family: TT Norms;
            font-style: normal;
            font-weight: normal;
            font-size: 30px;
            line-height: 50px;
            text-transform: uppercase;
            color: #FFFFFF;
        }
        &-list {
            margin: 68px 0 0 0;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 45px 30px;
        }
        &-item {
            width: 100%;
            height: 212px;
            background: #800705;
            padding: 33px 0 0 44px;
            position: relative;
            &-icons {
                position: absolute;
                top: -19px;
                right: 28px;
                width: 68px;
                height: 68px;
                background: #FFE9E9;
                border-radius: 50%;
            }
            &-title {
                width: 275px;
                font-family: TT Norms;
                font-style: normal;
                font-weight: normal;
                font-size: 24px;
                line-height: 30px;
                color: #FFFFFF;
            }
            &-text {
                margin: 18px 0 0 0;
                width: 95%;
                font-family: TT Norms;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                color: #FFFFFF;
            }
        }
    }
}

.disk-examples {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 210px 0;
    width: 100%;
    & .containers {
        width: 100%;
    }
    &__block {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        width: 100%;
        &-add {
            height: 86px;
            font-family: TT Norms;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 86px;
            text-transform: uppercase;
            color: #FFFFFF;
            opacity: 0.5;
        }
        &-title {
            width: 368px;
            font-family: TT Norms;
            font-style: normal;
            font-weight: normal;
            font-size: 30px;
            line-height: 50px;
            text-transform: uppercase;
            color: #FFFFFF;
        }
        &-tabs {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            gap: 10px 0;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            margin: 60px 0 0 0;
            &-item {
                width: 243px;
                height: 40px;
                border: 1px solid #FFFFFF;
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: Roboto;
                cursor: pointer;
                font-style: normal;
                font-weight: normal;
                font-size: 15px;
                line-height: 50px;
                text-align: center;
                text-transform: uppercase;
                color: #FFFFFF;
                opacity: 0.5;
                &-active {
                    opacity: 1;
                }
            }
        }
        &-catalog {
            margin: 55px 0 0 0;
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            width: 100%;
            &-item {
                width: 100%;
                height: 210px;
                overflow: hidden;
                & img {
                    cursor: pointer;
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                    transition: all 0.5s ease;
                    &:hover {
                        transform: scale(1.3);
                        transition: all 0.5s ease;
                    }
                }
            }
        }
    }
}

.disk-video {
    position: relative;
    padding: 96px 0 202px 0;
    width: 100%;
    &__block {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        &-add {
            height: 86px;
            font-family: TT Norms;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 86px;
            text-transform: uppercase;
            color: #FFFFFF;
            opacity: 0.5;
        }
        &-title {
            margin: 8px 0 0 0;
            font-family: TT Norms;
            font-style: normal;
            font-weight: normal;
            font-size: 30px;
            line-height: 50px;
            text-transform: uppercase;
            color: #FFFFFF;
        }
        &-slider {
            margin: 111px 0 0 0;
            width: 100%;
            & .swiper-slide {
                width: 1020px;
                height: 458px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            & .swiper-controls {
                position: relative;
                bottom: 205px;
            }
            & .swiper-button-prev {
                width: 51px;
                height: 51px;
                border: 1px solid #EFEFEF;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                opacity: 1;
                z-index: 3;
                &::after {
                    content: "";
                }
            }
            & .swiper-button-next {
                width: 51px;
                height: 51px;
                background:#FFFFFF;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                opacity: 1;
                z-index: 3;
                &::after {
                    content: "";
                }
            }
        }
    }
}

.disk-discount {
    position: relative;
    padding: 0 0 121px 0;
    &__block {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        &-add {
            height: 147px;
            width: 486px;
            background: #2D2D2D;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 0 0 0 96px;
            & p {
                font-family: TT Norms;
                font-style: normal;
                font-weight: normal;
                font-size: 30px;
                line-height: 86px;
                text-transform: uppercase;
                color: #FFFFFF;
                margin: 0 0 0 61px;
            }
            & h3 {
                font-family: TT Norms;
                font-style: normal;
                font-weight: normal;
                font-size: 60px;
                line-height: 86px;
                text-transform: uppercase;
                color: #FFFFFF;
            }
            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 35px;
                height: 147px;
                background: #800705;
            }
        }
        &-banner {
            margin: 0 0 0 auto;
            width: 774px;
            height: 338px;
            background: #800705;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            padding: 51px 0 0 76px;
            &-title {
                font-family: TT Norms;
                font-style: normal;
                font-weight: normal;
                font-size: 24px;
                line-height: 41px;
                color: #FFFFFF;
            }
            &-text {
                margin: 10px 0 0 0;
                font-family: TT Norms;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 29px;
                color: #FFFFFF;
                width: 282px;
            }
        }
    }
}

.disk-constructor {
    padding: 80px 0 220px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    & .containers {
        width: 100%;
    }
    &__block {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        &-add {
            font-family: TT Norms;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 86px;
            text-transform: uppercase;
            color: #FFFFFF;
            opacity: 0.5;
        }
        &-title {
            font-family: TT Norms;
            font-style: normal;
            font-weight: normal;
            font-size: 30px;
            line-height: 50px;
            text-transform: uppercase;
            color: #FFFFFF;
        }
    }
    &__wrapper {
        margin: 18px 0 0 0;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        &-controls {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            position: relative;
            &-description {
                font-family: TT Norms;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 50px;
                color: #FFFFFF;
            }
            &-type {
                width: 158px;
                height: 85px;
                background: #800705;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                padding: 0 13px 0 19px;
                cursor: pointer;
                position: relative;
                &::after {
                    content: url(../svg/index/arrow.svg);
                    position: absolute;
                    top: 33px;
                    right: 9px;
                }
            }
            &-adds {
                width: 382px;
                height: 85px;
                background: #1B1B2F;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                padding: 0 0 0 22px;
                position: absolute;
                top: 50px;
                left: 180px;
                &-close {
                    position: absolute;
                    top: 33px;
                    right: 9px;
                    transform: rotate(180deg);
                    cursor: pointer;
                }
                &-color {
                    width: 54px;
                    height: 54px;
                    margin: 0 12px 0 0;
                    cursor: pointer;
                    &:last-child {
                        margin: 0;
                    }
                    &:nth-child(1) {
                        background: #EC8D34;
                    }
                    &:nth-child(2) {
                        background: #5DAF3C;
                    }
                    &:nth-child(3) {
                        background: #000000;
                    }
                    &:nth-child(4) {
                        background: #FFFFFF;
                    }
                    &:nth-child(5) {
                        background: #BC271C;
                    }
                }
            }
            &-colors {
                width: 158px;
                height: 274px;
                background: #1B1B2F;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            &-color {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 10px 12px;
                &-items {
                    width: 54px;
                    height: 54px;
                    cursor: pointer;
                    &:nth-child(1) {
                        background: #EC8D34;
                    }
                    &:nth-child(2) {
                        background: #BC271C;
                    }
                    &:nth-child(3) {
                        background: #5DAF3C;
                    }
                    &:nth-child(4) {
                        background: #5E5E5E;
                    }
                    &:nth-child(5) {
                        background: #ACACA6;
                    }
                    &:nth-child(6) {
                        background: #FFFFFC;
                    }
                    &:nth-child(7) {
                        background: #393939;
                    }
                    &:nth-child(8) {
                        background: #000000;
                    }
                }
            }
            &-btn {
                margin: 55px 0 0 0;
                width: 275px;
                height: 68px;
                background: #800705;
                border: 3px solid #FFFFFF;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                padding: 0 0 0 27px;
                position: relative;
                &::after {
                    content: url(../svg/index/arrow-w.svg);
                    position: absolute;
                    top: 20px;
                    right: 13px;
                }
                & a {
                    font-family: TT Norms;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 32px;
                    text-transform: uppercase;
                    color: #FFFFFF;
                }
            }
        }
        &-car {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            margin: 160px 0 0 22px;
            &-list {
                margin: 50px 0 0 180px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 594px;
                &-item {
                    cursor: pointer;
                }
            }
        }
    }
}

.disk-list {
    position: relative;
    padding: 0 0 110px 0;
    &__block {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        &:nth-child(2) {
            margin: 100px 0 0 0;
        }
        &-add {
            height: 86px;
            font-family: TT Norms;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 86px;
            text-transform: uppercase;
            color: #FFFFFF;
            opacity: 0.5;
        }
        &-price {
            width: 100%;
        }
        &-title {
            font-family: TT Norms;
            font-style: normal;
            font-weight: normal;
            font-size: 30px;
            line-height: 50px;
            text-transform: uppercase;
            color: #FFFFFF;
        }
        &-description {
            margin: 20px 0 0 0;
            height: 86px;
            font-family: TT Norms;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 86px;
            color: #FFFFFF;
        }
        &-wrapper {
            margin: 8px 0 11px 0;
            width: 100%;
            height: 55px;
            background: #800705;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 0 75px 0 25px;
            &-title {
                font-family: TT Norms;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 32px;
                color: #FFFFFF;
            }
            &-list {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 0 0 0 173px;
                width: 100%;
                &-item {
                    font-family: TT Norms;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 32px;
                    text-transform: uppercase;
                    color: #FFFFFF;
                }
            }
        }
        &-wrappers {
            margin: 8px 0 11px 0;
            width: 100%;
            height: 55px;
            background: #272727;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 0 38px 0 20px;
            &-title {
                font-family: TT Norms;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 32px;
                text-transform: uppercase;
                color: #FFFFFF;
                width: 225px;
            }
            &-list {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                margin: 0 0 0 55px;
                &-item {
                    font-family: TT Norms;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 32px;
                    text-transform: uppercase;
                    color: #FFFFFF;
                }
            }
        }
    }
    &__btns {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        &-btn {
            margin: 59px 90px 0 0;
            width: 232px;
            height: 68px;
            border: 3px solid #FFFFFF;
            cursor: pointer;
            background: transparent;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 0 0 0 14px;
            font-family: TT Norms;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 32px;
            text-transform: uppercase;
            color: #FFFFFF;
            position: relative;
            &::after {
                content: url(../svg/disk/arrow-next-add.svg);
                position: absolute;
                top: 18px;
                right: 19px;
            }
        }
    }
}

.disk-slider {
    width: 100%;
    padding: 0 0 150px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    & .containers {
        width: 100%;
    }
    &__block {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        &-add {
            font-family: TT Norms;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 86px;
            text-transform: uppercase;
            color: #FFFFFF;
            opacity: 0.5;
        }
        &-title {
            font-family: TT Norms;
            font-style: normal;
            font-weight: normal;
            font-size: 30px;
            line-height: 50px;
            text-transform: uppercase;
            color: #FFFFFF;
        }
        &-wrapper {
            margin: 45px 0 0 0;
            width: 100%;
            position: relative;
            & .swiper-slide {
                -webkit-filter: brightness(40%);
                transition: all 0.5s ease;
            }
            & .swiper-slide-active {
                -webkit-filter: brightness(100%);
                transition: all 0.5s ease;
            }
            & .swiper-pagination {
                bottom: -60px;
                left: auto;
                width: 30%;
                right: 200px;
                z-index: 2;
            }
            & .swiper-pagination-bullet {
                width: 4px;
                height: 4px;
                border-radius: 50%;
                background: #FFFFFF;
                opacity: 1;
            }
            & .swiper-pagination-bullet-active {
                width: 4px;
                height: 4px;
                border-radius: 50%;
                background: #FF0000;
            }
            & .swiper-button-prev {
                width: 51px;
                height: 51px;
                z-index: 2;
                border: 1px solid #EFEFEF;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                opacity: 1;
                top: auto;
                bottom: -75px;
                left: auto;
                right: 60px;
                &::after {
                    content: "";
                }
            }
            & .swiper-button-next {
                width: 51px;
                height: 51px;
                z-index: 2;
                background:#FFFFFF;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                opacity: 1;
                top: auto;
                bottom: -75px;
                left: auto;
                right: 0;
                &::after {
                    content: "";
                }
            }
            &-item {
                width: 100%;
                height: 310px;
                overflow: hidden;
                cursor: pointer;
                & img {
                    cursor: pointer;
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                    cursor: pointer;
                    transition: all 0.5s ease;
                    &:hover {
                        transform: scale(1.3);
                        transition: all 0.5s ease;
                    }
                }
            }
        }
    }
}

.disk-abouts {
    width: 100%;
    & .containers {
        width: 100%;
    }
    &__block {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        &-text {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-self: flex-start;
            &-add {
                font-family: TT Norms;
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                line-height: 86px;
                text-transform: uppercase;
                color: #FFFFFF;
                opacity: 0.5;
            }
            &-title {
                font-family: TT Norms;
                font-style: normal;
                font-weight: normal;
                font-size: 30px;
                line-height: 50px;
                text-transform: uppercase;
                color: #FFFFFF;
            }
            &-description {
                margin: 55px 0 0 0;
                width: 482px;
                font-family: TT Norms;
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 29px;
                color: #FFFFFF;
            }
            &-list {
                margin: 41px 0 0 23px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                &-items {
                    margin: 0 0 16px 0;
                    position: relative;
                    font-family: TT Norms;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 27px;
                    color: #FFFFFF;
                    &::after {
                        content: "";
                        position: absolute;
                        top: 10px;
                        left: -23px;
                        width: 8px;
                        border-radius: 50%;
                        height: 8px;
                        background: #FFFFFF;
                    }
                    &:last-child {
                        margin: 0;
                    }
                }
            }
            &-item {
                margin: 55px 0 0 0;
                width: 482px;
                font-family: TT Norms;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 29px;
                color: #FFFFFF;
            }
        }
        &-img {
            margin: 210px 0 0 0;
            width: 568px;
            height: 370px;
            background: #800705;
            position: relative;
            &::after {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                width: 35px;
                height: 370px;
                background: #414141;
            }
            &-slider {
                position: absolute;
                width: 550px;
                height: 275px;
                background: #C4C4C4;
                display: flex;
                align-items: center;
                justify-content: center;
                top: 50%;
                left: -70px;
                transform: translate(0%, -50%);
                & .swiper-pagination {
                    bottom: -110px;
                    left: auto;
                    width: 30%;
                    right: 110px;
                }
                & .swiper-pagination-bullet {
                    width: 4px;
                    height: 4px;
                    border-radius: 50%;
                    background: #FFFFFF;
                    opacity: 1;
                }
                & .swiper-pagination-bullet-active {
                    width: 4px;
                    height: 4px;
                    border-radius: 50%;
                    background: #FF0000;
                }
                & .swiper-button-prev {
                    width: 51px;
                    height: 51px;
                    border: 1px solid #EFEFEF;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    opacity: 1;
                    top: auto;
                    bottom: -125px;
                    left: auto;
                    right: -30px;
                    &::after {
                        content: "";
                    }
                }
                & .swiper-button-next {
                    width: 51px;
                    height: 51px;
                    background:#FFFFFF;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    opacity: 1;
                    top: auto;
                    bottom: -125px;
                    left: auto;
                    right: -90px;
                    &::after {
                        content: "";
                    }
                }
                &-item {
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    & img {
                        cursor: pointer;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        transition: all 0.5s ease;
                        &:hover {
                            transition: all 0.5s ease;
                            transform: scale(1.3);
                        }
                    }
                }
            }
        }
    }
}

//! Price 

.disk-price {
    padding: 0 0 115px 0;
    background: url(../img/price-bg.png) no-repeat;
    background-size: 100%;
    & .containers {
        width: 100%;
    }
    &__block {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        &-add {
            height: 86px;
            font-family: TT Norms;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 86px;
            text-transform: uppercase;
            color: #FFFFFF;
            opacity: 0.5;
        }
        &-title {
            height: 86px;
            font-family: TT Norms;
            font-style: normal;
            font-weight: normal;
            font-size: 30px;
            line-height: 86px;
            text-transform: uppercase;
            color: #FFFFFF;
        }
        &-titles {
            margin: 28px 0 0 0;
            height: 50px;
            font-family: TT Norms;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 50px;
            text-transform: uppercase;
            color: #FFFFFF;
        }
        &-dye {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: 100%;
            margin: 14px 0 0 0;
            &-radio {
                &:nth-child(1) {
                    margin-bottom: 0;
                }
                &:nth-child(2) {
                    margin: 0 0 0 59px;
                }
                &:nth-child(3) {
                    margin: 0 0 0 59px;
                }
            }
        }
        &-adds {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            margin: 92px 0 0 0;
        }
        &-plus {
            margin: 67px 0 0 0;
            position: relative;
            height: 50px;
            cursor: pointer;
            &::after {
                content: url(../svg/index/price-plus.svg);
                position: absolute;
                top: 12px;
                right: -30px;
            }
            & p {
                cursor: pointer;
                font-family: TT Norms;
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 50px;
                text-decoration-line: underline;
                text-transform: uppercase;
                color: #FFFFFF;
            }
        }
        &-banner {
            width: 657px;
            height: 128px;
            background: #800705;
            margin: 0 0 0 auto;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 0 0 0 37px;
            position: relative;
            & h3 {
                font-family: TT Norms;
                font-style: normal;
                font-weight: normal;
                font-size: 30px;
                line-height: 86px;
                color: #FFFFFF;
            }
            & p {
                margin: 0 0 0 100px;
                font-family: TT Norms;
                font-style: normal;
                font-weight: normal;
                font-size: 30px;
                line-height: 86px;
                color: #FFFFFF;
            }
            &::after {
                content: "";
                width: 215px;
                height: 128px;
                background: #600200;
                position: absolute;
                top: 0;
                right: 0;
            }
            &-btn {
                position: absolute;
                top: 30px;
                right: 20px;
                width: 177px;
                height: 68px;
                background: #800705;
                border: 3px solid #FFFFFF;
                z-index: 4;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                padding: 0 0 0 27px;
                cursor: pointer;
                &::after {
                    content: url(../svg/index/price-arrow-next.svg);
                    position: absolute;
                    top: 22px;
                    right: 22px;
                    transition: all .5s ease;
                }
                & a {
                    font-family: TT Norms;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 32px;
                    text-transform: uppercase;
                    color: #FFFFFF;
                }
            }
        }
        &-catalog {
            margin: 50px 0 135px 0;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            &-checkbox {
                display: flex;
                width: 100%;
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                &-item {
                    margin: 0 250px 0 0;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    position: relative;
                    &:last-child {
                        margin: 0;
                    }
                }
                &-title {
                    font-family: TT Norms;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 50px;
                    text-transform: uppercase;
                    color: #FFFFFF;
                }
                &-price {
                    position: absolute;
                    top: 0;
                    right: -80px;
                    font-family: TT Norms;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 20px;
                    line-height: 50px;
                    color: #FFFFFF;
                }
            }
            &-select {
                width: 100%;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 64px 0;
                margin: 80px 0 0 0;
                &-item {
                    width: 380px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    position: relative;
                }
                &-title {
                    font-family: TT Norms;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 50px;
                    text-transform: uppercase;
                    color: #FFFFFF;
                }
                &-price {
                    position: absolute;
                    top: 0;
                    right: 0;
                    font-family: TT Norms;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 20px;
                    line-height: 50px;
                    color: #FFFFFF;
                }
            }
        }
    }
}


//! Price - radio button

.disk-price__block-dye-radio {
    position: relative;
}
.disk-price__block-dye-radio__input {
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
}
.disk-price__block-dye-radio__label {
    padding-left: 35px;
    font-size: 1rem;
    cursor: pointer;
    font-family: TT Norms;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.disk-price__block-dye-radio__label:before {
    content: "";
    display: block;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 0px;
    z-index: 1;
    transition: border .1s linear;
    width: 20px;
    height: 20px;
    background: #800705;
}
.disk-price__block-dye-radio__label:after {
    content: "";
    display: block;
    border-radius: 50%;
    opacity: 0;
    position: absolute;
    top: 7px;
    left: 5px;
    z-index: 2;
    transition: opacity .1s linear;
    width: 10px;
    height: 10px;
    background: #FFFFFF;
}
.disk-price__block-dye-radio__input:checked + .disk-price__block-dye-radio__label:after {
    opacity: 1;
}



.disk-price__block-catalog-checkbox-block {
    overflow: hidden;
    height: 64px;
    margin: 0 0 0 -10px;
}
.disk-price__block-catalog-checkbox-block-checkbox {
    position: relative;
    z-index: -1;
    opacity: 0;
}
.disk-price__block-catalog-checkbox-block-checkbox + label {
    position: relative;
    cursor: pointer;
}
.disk-price__block-catalog-checkbox-block-checkbox + label:before {
    content: '';
    position: absolute;
    top: 2px;
    left: -6px;
    width: 155px;
    height: 61px;
    border-radius: 31px;
    background: transparent;
    transition: .2s all ease;
    width: 93px;
    height: 42px;
    border: 1px solid #FFFFFF;
    border-radius: 20.5px;
}
.disk-price__block-catalog-checkbox-block-checkbox + label:after {
    content: '';
    position: absolute;
    top: 8px;
    left: 0px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #CCCCCC;
    transition: .2s all ease;
}
.disk-price__block-catalog-checkbox-block-checkbox:checked + label:before {
    background: #DC4139;
}
.disk-price__block-catalog-checkbox-block-checkbox:checked + label:after {
    left: 51px;
}
#indexPriceCheckbox-1:checked + label:before{
    background: #800705;
    width: 93px;
    height: 42px;
    border: 1px solid #FFFFFF;
    border-radius: 20.5px;
}
#indexPriceCheckbox-2:checked + label:before{
    background: #800705;
    width: 93px;
    height: 42px;
    border: 1px solid #FFFFFF;
    border-radius: 20.5px;
}
.disk-price__block-catalog-checkbox-block-checkbox + label {
    position: relative;
    padding: 0 0 0 155px;
    cursor: pointer;
}
