@media (max-width: 1440px) {
    .disk-examples__block-catalog {
        width: 100%;
    }
    .disk-examples__block-catalog-item {
        width: 100%;
        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .disk-video__block-slider {
        & iframe {
            width: 80%;
        }
    }
    .disk-easy__block-item-icons {
        top: -35px;
    }
    .disk-list__block-price {
        width: 100%;
        overflow-x: auto;
    }
    .disk-list__block-wrapper {
        width: 1260px;
    }
    .disk-list__block-wrappers {
        width: 1260px;
    }
}
@media (max-width: 1400px) {
    .disk-examples__block-tabs {
        grid-template-columns: repeat(4, 1fr);
        gap: 15px 10px;
    }
    .disk-examples__block-tabs-item {
        width: 100%;
    }
}
@media (max-width: 1370px) {
    .disk-price__block-adds {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
}
@media (max-width: 1350px) {
    .disk-examples__block-catalog {
        grid-template-columns: repeat(5, 1fr);
    }
    .disk-about__block {
        display: flex;
        flex-direction: column;
    }
    .disk-about {
        height: 100%;
    }
    .disk-about__block-add {
        margin: 50px 0 0 0;
        width: 613px;
        height: 343px;
        background: #1b1b2f;
        padding: 40px 0 0 28px;
    }
    .disk-about__block-btn {
        bottom: -110px;
        right: 120px;
        top: auto;
    }
    .disk-about__block-add {
        width: 100%;
    }
    .disk-about__block-add-item-text {
        width: 90%;
    }
    .disk-about__block-banner {
        width: 100%;
    }
}
@media (max-width: 1330px) {
    .disk-price__block-catalog-select {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 1280px) {
    .disk-abouts__block {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .disk-abouts__block-img {
        margin: 70px 0 0 70px;
    }
    .disk-abouts__block {
        margin: 0 0 95px 0;
    }
    .disk-abouts__block-text-description {
        width: 100%;
    }
    .disk-abouts__block-text-item {
        width: 100%;
    }
}
@media (max-width: 1220px) {
    .modelDiskSliders__slider-item {
        width: 799px; 
    }
    .modelDiskSliders__slider .swiper-slide {
        display: flex;
        justify-content: center;
    }
    .modelDiskAboutSlider__slider .swiper-slide {
        display: flex;
        justify-content: center;
    }
    .modelDiskAboutSlider__slider-item {
        width: 800px;
    }
    .modelDiskAboutSlider__slider-item img {
        object-fit: contain;
    }
    .modelDiskExamplesSliders__slider-item {
        width: 799px; 
    }
    .modelDiskExamplesSliders__slider .swiper-slide {
        display: flex;
        justify-content: center;
    }
}
@media (max-width: 1200px) {
    .disk-easy__block-list {
        grid-template-columns: repeat(2, 1fr);
    }
    .disk-easy {
        position: relative;
        width: 100%;
        height: 100%;
        background: #1b1b2f;
        padding: 0 0 100px 0;
    }
    .disk-header .containers {
        padding: 0;
    }
    .disk-header__block-banner {
        right: auto;
        position: absolute;
        top: 185px;
        left: 0;
        z-index: 0;
        -webkit-filter: brightness(40%);
        width: 100%;
        height: 100%;
    }
    .disk-header {
        position: relative;
        width: 100%;
        height: 891px;
        background: #171725;
        overflow: hidden;
    }
    .disk-header__block-banner {
        right: auto;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        -webkit-filter: brightness(40%);
        width: 100%;
        height: 100%;
        & img {
            object-fit: cover;
            width: 100%;
            height: 190%;
        }
    }
    .disk-header__block-quiz {
        position: absolute;
        top: 610px;
        left: 90px;
    }
    .disk-header__block-title {
        margin: 246px 0 0 90px;
        width: 90%;
        font-family: TT Norms;
        font-style: normal;
        font-weight: 400;
        font-size: 50px;
        line-height: 77px;
        text-transform: uppercase;
        color: #fff;
        z-index: 1;
    }
    .disk-header__block-add {
        margin: 59px 0 0 90px;
        width: 80%;
        font-family: TT Norms;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 131%;
        color: #fff;
        text-shadow: 0 4px 6px rgb(0 0 0 / 25%);
        z-index: 1;
    }
}
@media (max-width: 1150px) {
    .disk-price__block-dye {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .disk-price__block-dye-radio:nth-child(2) {
        margin: 30px 0 0 0;
    }
    .disk-price__block-dye-radio:nth-child(3) {
        margin: 30px 0 0 0;
    }
}
@media (max-width: 1100px) {
    .disk-examples .containers {
        padding: 0 30px;
    }
    .disk-list .containers {
        padding: 0 30px;
    }
    .disk-abouts .containers {
        padding: 0 30px;
    }
    .disk-slider .containers {
        padding: 0 30px;
    }
    .disk-video .containers {
        padding: 0 30px;
    }
    .disk-easy .containers {
        padding: 0 30px;
    }
    .disk-discount .containers {
        padding: 0 30px;
    }
    .disk-price .containers {
        padding: 0 30px;
    }
    .disk-about .containers {
        padding: 0 30px;
    }
    .disk-header__block-quiz {
        position: absolute;
        top: 610px;
        left: 30px;
    }
    .disk-examples__block-catalog {
        height: 100%;
    }
    .disk-header__block-title {
        margin: 246px 0 0 30px;
        width: 90%;
        font-family: TT Norms;
        font-style: normal;
        font-weight: 400;
        font-size: 50px;
        line-height: 77px;
        text-transform: uppercase;
        color: #fff;
        z-index: 1;
    }
    .disk-header__block-add {
        margin: 59px 0 0 30px;
        width: 80%;
        font-family: TT Norms;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 131%;
        color: #fff;
        text-shadow: 0 4px 6px rgb(0 0 0 / 25%);
        z-index: 1;
    }
}
@media (max-width: 1050px) {
    .disk-slider__block-wrapper .swiper-pagination {
        bottom: -60px;
        left: auto;
        width: 55%;
        right: 200px;
    }
}
@media (max-width: 1000px) {
    .modelDiskSliders__slider-item {
        width: 500px;
    }
    .modelDiskAboutSlider__slider-item {
        width: 500px;
    }
    .modelDiskExamplesSliders__slider-item {
        width: 500px;
    }
}
@media (max-width: 950px) {
    .disk-discount__block-banner {
        width: 100%;
        height: 100%;
        padding: 51px 0 30px 76px;
        gap: 30px;
    }
}
@media (max-width: 900px) {
    .disk-examples__block-catalog {
        grid-template-columns: repeat(4, 1fr);
    }
    .disk-video__block-slider .swiper-controls {
        position: relative;
        bottom: -50px;
    }
    .disk-video__block-slider .swiper-button-next {
        right: auto;
        left: 70px;
    }
    .disk-video__block-slider {
        & iframe {
            width: 100%;
        }
    }
    .disk-easy__block-list {
        grid-template-columns: repeat(1, 1fr);
    }
    .disk-price {
        background: transparent;
    }
}
@media (max-width: 850px) {
    .disk-price__block-catalog-select {
        grid-template-columns: repeat(1, 1fr);
    }
    .disk-price__block-catalog-checkbox {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .disk-price__block-catalog-checkbox-item:nth-child(2) {
        margin: 35px 0 0 0;
    }
    .disk-price__block-banner {
        width: 100%;
        margin: 75px 0 55px 0;
    }
    .disk-price__block-banner::after {
        content: "";
        width: 100%;
        height: 128px;
        background: #600200;
        position: absolute;
        top: 128px;
        right: auto;
        left: 0;
    }
    .disk-price__block-banner-btn {
        position: absolute;
        top: 159px;
        right: auto;
        left: 30px;
    }
}
@media (max-width: 770px) {
    .disk-abouts__block-img::after {
        display: none;
    }
    .disk-abouts__block-img {
        width: 100%;
    }
    .disk-abouts__block-img {
        margin: 70px 0 0 0;
    }
    .disk-abouts__block-img-slider {
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transform: none;
    }
    .disk-abouts__block-img-slider .swiper-button-next {
        right: 0;
        bottom: -70px;
    }
    .disk-abouts__block-img-slider .swiper-button-prev {
        right: 60px;
        bottom: -70px;
    }
    .disk-abouts__block-img-slider .swiper-pagination {
        bottom: -58px;
        left: auto;
        width: 30%;
        right: 110px;
    }
}
@media (max-width: 750px) {
    .disk-discount__block-banner {
        grid-template-columns: repeat(1, 1fr);
    }
    .disk-header__block-title {
        margin: 206px 0 0 30px;
        width: 90%;
        font-family: TT Norms;
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 77px;
        text-transform: uppercase;
        color: #fff;
        z-index: 1;
    }
    .disk-header__block-add {
        margin: 59px 0 0 30px;
        width: 80%;
        font-family: TT Norms;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 131%;
        color: #fff;
        text-shadow: 0 4px 6px rgb(0 0 0 / 25%);
        z-index: 1;
    }
    .disk-header__block-quiz {
        position: absolute;
        top: 470px;
        left: 30px;
    }
    .disk-header__block-title {
        margin: 206px 0 0 30px;
        width: 90%;
        font-family: TT Norms;
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 35px;
        text-transform: uppercase;
        color: #fff;
        z-index: 1;
    }
    .disk-header__block-banner img {
        -o-object-fit: cover;
        object-fit: cover;
        width: 100%;
        height: 270%;
    }
}
@media (max-width: 700px) {
    .disk-examples__block-catalog {
        grid-template-columns: repeat(3, 1fr);
    }
    .modelDiskSliders__slider-item {
        width: 370px;
    }
    .modelDiskSliders__slider .swiper-button-prev,
    .modelDiskSliders__slider .swiper-button-next {
        display: none;
    }
    .modelDiskSliders-close {
        top: 8px;
        right: 8px;
    }
    .modelDiskAboutSlider__slider-item {
        width: 370px;
    }
    .modelDiskAboutSlider__slider .swiper-button-prev,
    .modelDiskAboutSlider__slider .swiper-button-next {
        display: none;
    }
    .modelDiskAboutSlider-close {
        top: 8px;
        right: 8px;
    }
    .modelDiskExamplesSliders__slider-item {
        width: 370px;
    }
    .modelDiskExamplesSliders__slider .swiper-button-prev,
    .modelDiskExamplesSliders__slider .swiper-button-next {
        display: none;
    }
    .modelDiskExamplesSliders-close {
        top: 8px;
        right: 8px;
    }
    .disk-about__block-banner-text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .disk-about__block-banner-text-link {
        margin: 20px 0 0 0;
    }
    .disk-about__block-banner-date {
        margin: 50px 0 0 0;
    }
    .disk-about__block-banner-add {
        width: 90%;
    }
    .disk-about__block-banner {
        height: 100%;
        padding: 30px 0 50px 20px;
    }
}
@media (max-width: 650px) {
    .disk-about__block-add-item-text {
        width: 80%;
    }
    .disk-list__block-description {
        line-height: 35px;
        color: #fff;
    }
}
@media (max-width: 600px) {
    .disk-examples__block-catalog {
        grid-template-columns: repeat(2, 1fr);
    }
    .disk-examples__block-tabs {
        grid-template-columns: repeat(2,1fr);
    }
    .disk-about__block-add {
        margin: 50px 0 0 0;
        width: 100%;
        height: 100%;
        background: #1b1b2f;
        padding: 40px 0 30px 28px;
    }
    .disk-list__btns {
        justify-content: flex-start;
    }
    .disk-list__btns-btn {
        margin: 35px 0 0 0;
    }
    .disk-list__block-title {
        font-family: TT Norms;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 35px;
        text-transform: uppercase;
        color: #fff;
    }
    .disk-about__block-btn {
        bottom: -110px;
        right: 101px;
        top: auto;
    }
}
@media (max-width: 550px) {
    .disk-discount__block-add {
        width: 100%;
    }
    .disk-price__block-banner {
        width: 100%;
    }
    .type-select-item,
    .count-select-item,
    .radios-select-item {
        width: 100%;
    }
    .type-select-wrapper,
    .count-select-wrapper,
    .radios-select-wrapper {
        width: 100%;
    }
    .disk-header__block-quiz-block {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px 20px;
        width: 90%;
    }
    .disk-header__block-quiz-item {
        width: 100%;
    }
    .disk-slider__block-wrapper .swiper-pagination {
        bottom: -58px;
        left: 0;
        width: 300px;
        right: auto;
    }
    .disk-about__block-banner {
        height: 100%;
        padding: 30px 30px 50px 20px;
    }
}
@media (max-width: 500px) {
    .disk-slider__block-wrapper .swiper-pagination {
        bottom: -45px;
        left: 0;
        width: 100%;
        right: auto;
    }
    .disk-slider__block-wrapper .swiper-button-next {
        bottom: -120px;
    }
    .disk-slider__block-wrapper .swiper-button-prev {
        bottom: -120px;
    }
    .disk-price__block-banner p {
        margin: 0 0 0 40px;
        font-family: TT Norms;
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 86px;
        color: #fff;
    }
}
@media (max-width: 450px) {
    .disk-examples__block-catalog {
        grid-template-columns: repeat(1, 1fr);
    }
    .disk-price__block-catalog-select-item {
        width: 100%;
    }
    .disk-price__block-catalog-select-block {
        width: 100%;
    }
    .disk-examples__block-catalog-item {
        height: 300px;
    }
    .disk-examples__block-tabs-item {
        font-size: 14px;
    }
    .disk-discount__block-add {
        padding: 0 0 0 45px;
    }
    .disk-discount__block-banner {
        width: 100%;
        height: 100%;
        padding: 51px 0 30px 30px;
        gap: 30px;
    }
    .disk-price__block-banner p {
        margin: 0 0 0 50px;
        font-family: TT Norms;
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 86px;
        color: #fff;
    }
}
