@media (max-width: 1440px) {
    .reviews-header__block-messages {
        width: 100%;
        background: transparent;
    }
    .reviews-header__block-messages::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 568px;
        height: 441px;
        background: #800705;
        z-index: 2;
    }
    .reviews-header__block-messages::after {
        z-index: 4;
    }
    .reviews-header__block-messages-block {
        z-index: 4;
    }
    .reviews-header__block-messages-block {
        width: 92%;
        padding: 102px 40px 46px 44px;
    }
    .reviews-header__block-messages-block-text {
        width: 100%;
    }
}
@media (max-width: 1100px) {
    .reviews-header .containers {
        padding: 0 30px;
    }
    .reviews-header__block-messages-block {
        width: 100%;
        left: 0;
        right: auto;
    }
    .reviews-header__block-messages::before,
    .reviews-header__block-messages::after {
        display: none;
    }
}
@media (max-width: 1050px) {
    .reviews-header__block {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        position: relative;
        width: unset; 
        height: unset;
        padding: 0 0 100px 0;
    }
    .reviews-header__block-messages {
        width: 100%;
        background: 0 0;
        height: unset;
    }
    .reviews-header__block-messages-block {
        position: static;
        transform: none;
        padding: 102px 40px 46px 25px;
    }
    .reviews-header__block-messages-block-img {
        left: 25px;
    }
    .reviews-header__block-title {
        margin: 246px 0 190px 0;
    }
}
@media (max-width: 1000px) {
    .reviews-header__block-banner {
        display: none;
    }
    .reviews-header__block-title {
        width: 100%;
    }
}
@media (max-width: 550px) {
    .reviews-header__block-messages-block-text {
        font-family: TT Norms;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 29px;
        color: #fff;
    }
}