.constructor-header {
    position: relative;
    width: 100%;
    height: 100%;
    background: #171725;
    &__block {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: relative;
        width: 100%;
        height: 100%;
        &-title {
            margin: 246px 0 0 0;
            width: 650px;
            font-family: TT Norms;
            font-style: normal;
            font-weight: normal;
            font-size: 50px;
            line-height: 77px;
            text-transform: uppercase;
            color: #FFFFFF;
            z-index: 1;
        }
        &-banner {
            position: absolute;
            top: 185px;
            right: 0;
            z-index: 0;
            -webkit-filter: brightness(40%);
        }
        &-add {
            margin: 64px 0 0 0;
            font-family: TT Norms;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 86px;
            text-transform: uppercase;
            color: #FFFFFF;
            opacity: 0.5;
        }
        &-text {
            font-family: TT Norms;
            font-style: normal;
            font-weight: normal;
            font-size: 30px;
            line-height: 50px;
            text-transform: uppercase;
            color: #FFFFFF;
        }
    }
}


.constructor-constructor {
    padding: 50px 0 220px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    & .containers {
        width: 100%;
    }
    &__block {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        &-add {
            font-family: TT Norms;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 86px;
            text-transform: uppercase;
            color: #FFFFFF;
            opacity: 0.5;
        }
        &-title {
            font-family: TT Norms;
            font-style: normal;
            font-weight: normal;
            font-size: 30px;
            z-index: 3;
            line-height: 50px;
            text-transform: uppercase;
            color: #FFFFFF;
        }
    }
    &__wrapper {
        margin: 18px 0 0 0;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        &-controls {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            position: relative;
            &-description {
                font-family: TT Norms;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 50px;
                color: #FFFFFF;
            }
            &-descriptions {
                font-family: TT Norms;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 50px;
                color: #FFFFFF;
            }
            &-type {
                width: 158px;
                height: 85px;
                background: #800705;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                padding: 0 13px 0 19px;
                cursor: pointer;
                position: relative;
                &::after {
                    content: url(../svg/index/arrow.svg);
                    position: absolute;
                    top: 33px;
                    right: 9px;
                }
            }
            &-adds {
                width: 450px;
                height: 85px;
                background: #1B1B2F;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                padding: 0 0 0 22px;
                position: absolute;
                top: 50px;
                left: 180px;
                &-close {
                    position: absolute;
                    top: 33px;
                    right: 9px;
                    transform: rotate(180deg);
                    cursor: pointer;
                }
                &-color {
                    width: 54px;
                    height: 54px;
                    margin: 0 12px 0 0;
                    cursor: pointer;
                    &:last-child {
                        margin: 0;
                    }
                    &:nth-child(1) {
                        background: #030303;
                    }
                    &:nth-child(2) {
                        background: #FFFFFF;
                    }
                    &:nth-child(3) {
                        background: #FF0000;
                    }
                    &:nth-child(4) {
                        background: #595959;
                    }
                    &:nth-child(5) {
                        background: #0058DA;
                    }
                    &:nth-child(6) {
                        background: #00D516;
                    }
                }
            }
            &-colors {
                width: 158px;
                height: 274px;
                background: #1B1B2F;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            &-btn {
                position: absolute;
                top: 0;
                right: 0;
                margin: 55px 0 0 0;
                width: 275px;
                height: 68px;
                background: #800705;
                border: 3px solid #FFFFFF;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                padding: 0 0 0 27px;
                display: none;
                &::after {
                    content: url(../svg/index/arrow-w.svg);
                    position: absolute;
                    top: 20px;
                    right: 13px;
                }
                & a {
                    font-family: TT Norms;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 32px;
                    text-transform: uppercase;
                    color: #FFFFFF;
                }
            }
        }
        &-car {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            width: 100%;
            &-item {
                width: 100%;
                & img {
                    width: 100%;
                }
            }
            &-list {
                margin: -50px 0 0 0;
                display: grid;
                grid-template-columns: repeat(11, 1fr);
                justify-items: center;
                width: 100%;
                gap: 60px 0;
                &-item {
                    cursor: pointer;
                    width: 95px;
                    height: 95px;
                    position: relative;
                    &:nth-child(1) {
                        &::after {
                            content: "BM2T10N550";
                            position: absolute;
                            bottom: -30px;
                            transform: translate(-50%, 0);
                            left: 50%;
                            font-family: TT Norms;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 13px;
                            line-height: 15px;
                            color: #FFFFFF;
                        }
                    }
                    &:nth-child(2) {
                        &::after {
                            content: "BM2T10G431";
                            position: absolute;
                            bottom: -30px;
                            transform: translate(-50%, 0);
                            left: 50%;
                            font-family: TT Norms;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 13px;
                            line-height: 15px;
                            color: #FFFFFF;
                        }
                    }
                    &:nth-child(3) {
                        &::after {
                            content: "BM2T10M454";
                            position: absolute;
                            bottom: -30px;
                            transform: translate(-50%, 0);
                            left: 50%;
                            font-family: TT Norms;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 13px;
                            line-height: 15px;
                            color: #FFFFFF;
                        }
                    }
                    &:nth-child(4) {
                        &::after {
                            content: "BD2T906018";
                            position: absolute;
                            bottom: -30px;
                            transform: translate(-50%, 0);
                            left: 50%;
                            font-family: TT Norms;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 13px;
                            line-height: 15px;
                            color: #FFFFFF;
                        }
                    }
                    &:nth-child(5) {
                        &::after {
                            content: "BD2T901026";
                            position: absolute;
                            bottom: -30px;
                            transform: translate(-50%, 0);
                            left: 50%;
                            font-family: TT Norms;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 13px;
                            line-height: 15px;
                            color: #FFFFFF;
                        }
                    }
                    &:nth-child(6) {
                        &::after {
                            content: "BM2T10GN39";
                            position: absolute;
                            bottom: -30px;
                            transform: translate(-50%, 0);
                            left: 50%;
                            font-family: TT Norms;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 13px;
                            line-height: 15px;
                            color: #FFFFFF;
                        }
                    }
                    &:nth-child(7) {
                        &::after {
                            content: "BD2T9FR002";
                            position: absolute;
                            bottom: -30px;
                            transform: translate(-50%, 0);
                            left: 50%;
                            font-family: TT Norms;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 13px;
                            line-height: 15px;
                            color: #FFFFFF;
                        }
                    }
                    &:nth-child(8) {
                        &::after {
                            content: "BM2T90N547";
                            position: absolute;
                            bottom: -30px;
                            transform: translate(-50%, 0);
                            left: 50%;
                            font-family: TT Norms;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 13px;
                            line-height: 15px;
                            color: #FFFFFF;
                        }
                    }
                    &:nth-child(9) {
                        &::after {
                            content: "BV2T90V059";
                            position: absolute;
                            bottom: -30px;
                            transform: translate(-50%, 0);
                            left: 50%;
                            font-family: TT Norms;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 13px;
                            line-height: 15px;
                            color: #FFFFFF;
                        }
                    }
                    &:nth-child(10) {
                        &::after {
                            content: "BD2T202004";
                            position: absolute;
                            bottom: -30px;
                            transform: translate(-50%, 0);
                            left: 50%;
                            font-family: TT Norms;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 13px;
                            line-height: 15px;
                            color: #FFFFFF;
                        }
                    }
                    &:nth-child(11) {
                        &::after {
                            content: "BD2T203020";
                            position: absolute;
                            bottom: -30px;
                            transform: translate(-50%, 0);
                            left: 50%;
                            font-family: TT Norms;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 13px;
                            line-height: 15px;
                            color: #FFFFFF;
                        }
                    }
                    &:nth-child(12) {
                        &::after {
                            content: "BM2T909007";
                            position: absolute;
                            bottom: -30px;
                            transform: translate(-50%, 0);
                            left: 50%;
                            font-family: TT Norms;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 13px;
                            line-height: 15px;
                            color: #FFFFFF;
                        }
                    }
                    &:nth-child(13) {
                        &::after {
                            content: "BM2T70S641";
                            position: absolute;
                            bottom: -30px;
                            transform: translate(-50%, 0);
                            left: 50%;
                            font-family: TT Norms;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 13px;
                            line-height: 15px;
                            color: #FFFFFF;
                        }
                    }&:nth-child(14) {
                        &::after {
                            content: "BD2T209003";
                            position: absolute;
                            bottom: -30px;
                            transform: translate(-50%, 0);
                            left: 50%;
                            font-family: TT Norms;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 13px;
                            line-height: 15px;
                            color: #FFFFFF;
                        }
                    }
                    &:nth-child(15) {
                        &::after {
                            content: "BM2T909006";
                            position: absolute;
                            bottom: -30px;
                            transform: translate(-50%, 0);
                            left: 50%;
                            font-family: TT Norms;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 13px;
                            line-height: 15px;
                            color: #FFFFFF;
                        }
                    }
                    &:nth-child(16) {
                        &::after {
                            content: "BM2T20G363";
                            position: absolute;
                            bottom: -30px;
                            transform: translate(-50%, 0);
                            left: 50%;
                            font-family: TT Norms;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 13px;
                            line-height: 15px;
                            color: #FFFFFF;
                        }
                    }
                    &:nth-child(17) {
                        &::after {
                            content: "BM2T90N514";
                            position: absolute;
                            bottom: -30px;
                            transform: translate(-50%, 0);
                            left: 50%;
                            font-family: TT Norms;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 13px;
                            line-height: 15px;
                            color: #FFFFFF;
                        }
                    }
                    & img {
                        width: 100%;
                    }
                }
            }
        }
    }
}