//! --------------------------------------------------------------------
//! Миксин для шрифтов -------------------------------------------------
//! --------------------------------------------------------------------

@mixin font($font_name, $file_name, $weight, $style) {
    @font-face {
        font-family: $font_name;
        font-display: swap;
        src: url("../fonts/#{$font_name}/#{$file_name}.woff") format("woff"), url("../fonts/#{$font_name}/#{$file_name}.woff2") format("woff2");
        font-weight: #{$weight};
        font-style: #{$style};
    }
}


//! --------------------------------------------------------------------
//! Подключение файлов -------------------------------------------------
//! --------------------------------------------------------------------

@import "fonts";
@import "index/style";


//! --------------------------------------------------------------------
//! Переменные ---------------------------------------------------------
//! --------------------------------------------------------------------

$bg: #171725;


//! --------------------------------------------------------------------
//! Стили --------------------------------------------------------------
//! --------------------------------------------------------------------

body {
    position: relative;
    background-color: $bg;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
input {
    padding: 0;
    margin: 0;
    border: 0;
    border: none;
}
button {
    padding: 0;
    border: none;
    cursor: pointer;
}
.containers {
    max-width: 1440px;
    padding: 0 90px;
    margin: 0 auto;
}
ol, ul {
    padding-left: 0;
}
dl, ol, ul {
    margin-top: 0;
    margin-bottom: 0;
}
p {
    margin-top: 0;
    margin-bottom: 0;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
}
.display-n {
    display: none !important;
}
.display-f {
    display: flex !important;
}
.display-g {
    display: grid !important;
}
.blocking {
    pointer-events: none;
}
