//! --------------------------------------------------------------------
//! Миксин для шрифтов -------------------------------------------------
//! --------------------------------------------------------------------

@mixin font($font_name, $file_name, $weight, $style) {
    @font-face {
        font-family: $font_name;
        font-display: swap;
        src: url("../fonts/#{$font_name}/#{$file_name}.woff") format("woff"), url("../fonts/#{$font_name}/#{$file_name}.woff2") format("woff2");
        font-weight: #{$weight};
        font-style: #{$style};
    }
}


//! --------------------------------------------------------------------
//! Подключение файлов -------------------------------------------------
//! --------------------------------------------------------------------

@import "fonts";
@import "index/style";
@import "disks/style";
@import "polishing/style";
@import "painting/style";
@import "tires/style";
@import "balance/style";
@import "contact/style";
@import "client/style";
@import "alloy/style";
@import "hernia/style";
@import "constructor/style";
@import "reviews/style";
@import "delivery/style";
@import "season/style";
@import "conditioner/style";
@import "refill/style";
@import "price/style";
@import "media";


//! --------------------------------------------------------------------
//! Переменные ---------------------------------------------------------
//! --------------------------------------------------------------------

$bg: #171725;


//! --------------------------------------------------------------------
//! Стили --------------------------------------------------------------
//! --------------------------------------------------------------------

body {
    position: relative;
    background-color: $bg;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
input {
    padding: 0;
    margin: 0;
    border: 0;
    border: none;
}
button {
    padding: 0;
    border: none;
    cursor: pointer;
}
.containers {
    max-width: 1440px;
    padding: 0 90px;
    margin: 0 auto;
}
ol, ul {
    padding-left: 0;
}
dl, ol, ul {
    margin-top: 0;
    margin-bottom: 0;
}
p {
    margin-top: 0;
    margin-bottom: 0;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
}
.display-n {
    display: none !important;
}
.display-f {
    display: flex !important;
}
.display-g {
    display: grid !important;
}
.blocking {
    pointer-events: none;
}



.header {
    position: fixed;
    width: 100%;
    height: 90px;
    background-color: $bg;
    z-index: 10;
    &__block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        &-logo {
            width: 136px;
            height: 34px;
            border: 1px solid #FFFFFF;
            background: transparent;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            & a {
                font-family: Lorin;
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                line-height: 26px;
                letter-spacing: 2px;
                color: #FFFFFF;
            }
        }
        &-list {
            width: 507px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            &-item {
                position: relative;
                cursor: pointer;
                transition: all 0.5s ease;
                &:hover {
                    &.header__block-list-item::after {
                        opacity: 1;
                        transition: all 0.5s ease;
                    }
                }
                &::after {
                    content: "";
                    position: absolute;
                    top: 60px;
                    left: 50%;
                    width: 21px;
                    transform: translate(-50%, 0%);
                    height: 0;
                    border-top: 1px solid #a17683;
                    opacity: 0;
                    transition: all 0.5s ease;
                }
                & a {
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 87px;
                    letter-spacing: 2px;
                    color: #FFFFFF;
                    text-transform: uppercase;
                }
            }
        }
        &-phone {
            width: 198px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            & a {
                font-family: Lorin;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 26px;
                text-align: center;
                color: #FFFFFF;
            }
        }
        &-services {
            width: 775px;
            height: 277px;
            background: #800705;
            position: absolute;
            top: 81px;
            left: 345px;
            padding: 24px 48px 0 37px;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            transition: all 0.5s ease;
            opacity: 1;
            &:hover {
                &.header__block-list-item::after {
                    opacity: 1;
                    transition: all 0.5s ease;
                }
            }
            &-list {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                height: 100%;
                &-title {
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 12px;
                    line-height: 27px;
                    color: #FFFFFF;
                    margin: 0 0 27px 0;
                }
                &-item {
                    margin: 0 0 1px 0;
                    & a {
                        font-family: Roboto;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 12px;
                        line-height: 27px;
                        color: #FFFFFF;
                        transition: all 0.5s ease;
                        &:hover {
                            color: #999999;
                            transition: all 0.5s ease;
                        }
                    }
                    &:last-child {
                        margin: 0;
                    }
                }
            }
        }
    }
}

.footer {
    background: #111124;
    width: 100%;
    height: 100%;
    &__block {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 35px 0 101px 0;
        &-add {
            height: 86px;
            font-family: TT Norms;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 86px;
            text-transform: uppercase;
            color: #FFFFFF;
            opacity: 0.5;
        }
        &-title {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            & h3 {
                font-family: TT Norms;
                font-style: normal;
                font-weight: normal;
                font-size: 30px;
                line-height: 50px;
                text-transform: uppercase;
                color: #FFFFFF;
            }
            & p {
                margin: 0 0 0 auto;
                font-family: TT Norms;
                font-style: normal;
                font-weight: normal;
                font-size: 30px;
                line-height: 50px;
                color: #FFFFFF;
                & span {
                    font-weight: 700;
                }
            }
        }
        &-content {
            margin: 77px 0 0 0;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            width: 100%;
            &-list {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 72px 66px;
            }
            &-item {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                &-title {
                    font-family: TT Norms;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 19px;
                    text-transform: uppercase;
                    color: #FFFFFF;
                }
                &-add {
                    margin: 10px 0 0 0;
                    font-family: TT Norms;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 15px;
                    line-height: 30px;
                    color: #FFFFFF;
                    mix-blend-mode: normal;
                    opacity: 0.8;
                }
                &-time {
                    margin: 6px 0 0 0;
                    font-family: TT Norms;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 15px;
                    line-height: 30px;
                    color: #FFFFFF;
                    mix-blend-mode: normal;
                    opacity: 0.8;
                }
            }
            &-map {
                margin: 0 0 0 auto;
                width: 670px;
                height: 457px;
                overflow: hidden;
                & iframe {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    &__add {
        background: #09091B;
        width: 100%;
        height: 99px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        & .containers {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
        }
        &-logo {
            width: 136px;
            height: 34px;
            border: 1px solid #FFFFFF;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            & a {
                font-family: Lorin;
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                line-height: 26px;
                letter-spacing: 2px;
                color: #FFFFFF;
            }
        }
        &-rights {
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 18px;
            text-align: center;
            letter-spacing: -0.204545px;
            color: #FFFFFF;
        }
        &-create {
            & a {
                font-style: normal;
                font-weight: normal;
                font-size: 15px;
                line-height: 18px;
                text-align: center;
                letter-spacing: -0.204545px;
                color: #FFFFFF;
            }
        }
        &-icons {
            & svg:nth-child(2) {
                margin: 0 0 0 35px;
            }
        }
    }
}
