.paint-header {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0 0 100px 0;
    background: #171725;
    &__block {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: relative;
        width: 100%;
        height: 100%;
        &-title {
            margin: 246px 0 0 0;
            width: 90%;
            font-family: TT Norms;
            font-style: normal;
            font-weight: normal;
            font-size: 50px;
            line-height: 77px;
            text-transform: uppercase;
            color: #FFFFFF;
            z-index: 1;
        }
        &-banner {
            position: absolute;
            top: 185px;
            right: 0;
            z-index: 0;
            -webkit-filter: brightness(40%);
        }
        &-wrapper {
            margin: 123px 0 0 0;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            z-index: 2;
        }
        &-content {
            width: 647px;
            height: 434px;
            background: #800705;
            padding: 40px 0 0 53px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            position: relative;
            &::after {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                width: 35px;
                height: 163px;
                background: #414141;
            }
            &-text {
                width: 465px;
                font-family: TT Norms;
                font-style: normal;
                font-weight: normal;
                font-size: 24px;
                line-height: 41px;
                color: #FFFFFF;
            }
            &-add {
                margin: 53px 0 0 0;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                & h3 {
                    font-family: TT Norms;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 40px;
                    line-height: 29px;
                    color: #FFFFFF;
                }
                & a {
                    margin: 30px 0 0 60px;
                    font-family: TT Norms;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 32px;
                    text-decoration-line: underline;
                    text-transform: uppercase;
                    color: #FFFFFF;
                }
            }
        }
        &-add {
            width: 613px;
            height: 185px;
            background: #1B1B2F;
            margin: 249px 0 0 0;
            padding: 51px 0 0 28px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            &-list {
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
            }
            &-item {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                &-icons {
                    width: 40px;
                    height: 40px;
                    background: #800705;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                }
                &-text {
                    margin: 0 0 0 29px;
                    width: 438px;
                    font-family: TT Norms;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 25px;
                    color: #FFFFFF;
                }
            }
        }
        &-btn {
            width: 232px;
            height: 68px;
            border: 3px solid #FFFFFF;
            z-index: 2;
            background: transparent;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin: 66px 120px 0 auto;
            padding: 0 0 0 27px;
            position: relative;
            &::after {
                content: url(../svg/index/header-arrow-next-add.svg);
                position: absolute;
                top: 20px;
                right: 20px;
            }
            & a {
                font-family: TT Norms;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 32px;
                text-transform: uppercase;
                color: #FFFFFF;
            }
        }
    }
}

.paint-easy {
    position: relative;
    width: 100%;
    height: 798px;
    background: #1B1B2F;
    &__block {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        &-add {
            margin: 43px 0 0 0;
            height: 86px;
            font-family: TT Norms;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 86px;
            text-transform: uppercase;
            color: #FFFFFF;
            opacity: 0.5;
        }
        &-title {
            font-family: TT Norms;
            font-style: normal;
            font-weight: normal;
            font-size: 30px;
            line-height: 50px;
            text-transform: uppercase;
            color: #FFFFFF;
        }
        &-list {
            margin: 68px 0 0 0;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 45px 30px;
        }
        &-item {
            width: 100%;
            height: 212px;
            background: #800705;
            padding: 33px 0 0 44px;
            position: relative;
            &-icons {
                position: absolute;
                top: -19px;
                right: 28px;
                width: 68px;
                height: 68px;
                background: #FFE9E9;
                border-radius: 50%;
            }
            &-title {
                width: 275px;
                font-family: TT Norms;
                font-style: normal;
                font-weight: normal;
                font-size: 24px;
                line-height: 30px;
                color: #FFFFFF;
            }
            &-text {
                margin: 18px 0 0 0;
                width: 95%;
                font-family: TT Norms;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                color: #FFFFFF;
            }
        }
    }
}

.paint-examples {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 210px 0;
    width: 100%;
    & .containers {
        width: 100%;
    }
    &__block {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        width: 100%;
        &-add {
            height: 86px;
            font-family: TT Norms;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 86px;
            text-transform: uppercase;
            color: #FFFFFF;
            opacity: 0.5;
        }
        &-title {
            width: 368px;
            font-family: TT Norms;
            font-style: normal;
            font-weight: normal;
            font-size: 30px;
            line-height: 50px;
            text-transform: uppercase;
            color: #FFFFFF;
        }
        &-tabs {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            gap: 10px 0;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            margin: 60px 0 0 0;
            &-item {
                width: 243px;
                height: 40px;
                border: 1px solid #FFFFFF;
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: Roboto;
                cursor: pointer;
                font-style: normal;
                font-weight: normal;
                font-size: 15px;
                line-height: 50px;
                text-align: center;
                text-transform: uppercase;
                color: #FFFFFF;
                opacity: 0.5;
                &-active {
                    opacity: 1;
                }
            }
        }
        &-catalog {
            margin: 55px 0 0 0;
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            &-item {
                width: 210px;
                height: 210px;
                & img {
                    object-fit: cover;
                }
            }
        }
    }
}

.paint-video {
    position: relative;
    padding: 96px 0 202px 0;
    width: 100%;
    &__block {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        &-add {
            height: 86px;
            font-family: TT Norms;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 86px;
            text-transform: uppercase;
            color: #FFFFFF;
            opacity: 0.5;
        }
        &-title {
            margin: 8px 0 0 0;
            font-family: TT Norms;
            font-style: normal;
            font-weight: normal;
            font-size: 30px;
            line-height: 50px;
            text-transform: uppercase;
            color: #FFFFFF;
        }
        &-slider {
            margin: 111px 0 0 0;
            width: 100%;
            & .swiper-slide {
                width: 1020px;
                height: 458px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            & .swiper-controls {
                position: relative;
                bottom: 205px;
            }
            & .swiper-button-prev {
                width: 51px;
                height: 51px;
                border: 1px solid #EFEFEF;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                opacity: 1;
                &::after {
                    content: "";
                }
            }
            & .swiper-button-next {
                width: 51px;
                height: 51px;
                background:#FFFFFF;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                opacity: 1;
                &::after {
                    content: "";
                }
            }
        }
    }
}

.paint-discount {
    position: relative;
    padding: 0 0 121px 0;
    &__block {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        &-add {
            height: 147px;
            width: 486px;
            background: #2D2D2D;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 0 0 0 96px;
            & p {
                font-family: TT Norms;
                font-style: normal;
                font-weight: normal;
                font-size: 30px;
                line-height: 86px;
                text-transform: uppercase;
                color: #FFFFFF;
                margin: 0 0 0 61px;
            }
            & h3 {
                font-family: TT Norms;
                font-style: normal;
                font-weight: normal;
                font-size: 60px;
                line-height: 86px;
                text-transform: uppercase;
                color: #FFFFFF;
            }
            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 35px;
                height: 147px;
                background: #800705;
            }
        }
        &-banner {
            margin: 0 0 0 auto;
            width: 774px;
            height: 338px;
            background: #800705;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            padding: 51px 0 0 76px;
            &-title {
                font-family: TT Norms;
                font-style: normal;
                font-weight: normal;
                font-size: 24px;
                line-height: 41px;
                color: #FFFFFF;
            }
            &-text {
                margin: 10px 0 0 0;
                font-family: TT Norms;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 29px;
                color: #FFFFFF;
                width: 282px;
            }
        }
    }
}

.paint-list {
    position: relative;
    padding: 0 0 110px 0;
    &__block {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        &:nth-child(2) {
            margin: 100px 0 0 0;
        }
        &-add {
            height: 86px;
            font-family: TT Norms;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 86px;
            text-transform: uppercase;
            color: #FFFFFF;
            opacity: 0.5;
        }
        &-title {
            font-family: TT Norms;
            font-style: normal;
            font-weight: normal;
            font-size: 30px;
            line-height: 50px;
            text-transform: uppercase;
            color: #FFFFFF;
        }
        &-description {
            margin: 20px 0 0 0;
            height: 86px;
            font-family: TT Norms;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 86px;
            color: #FFFFFF;
        }
        &-wrapper {
            margin: 8px 0 11px 0;
            width: 100%;
            height: 55px;
            background: #800705;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 0 75px 0 25px;
            &-title {
                font-family: TT Norms;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 32px;
                color: #FFFFFF;
            }
            &-list {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 0 0 0 173px;
                width: 100%;
                &-item {
                    font-family: TT Norms;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 32px;
                    text-transform: uppercase;
                    color: #FFFFFF;
                }
            }
        }
        &-wrappers {
            margin: 8px 0 11px 0;
            width: 100%;
            height: 55px;
            background: #272727;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 0 38px 0 20px;
            &-title {
                font-family: TT Norms;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 32px;
                text-transform: uppercase;
                color: #FFFFFF;
                width: 225px;
            }
            &-list {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                margin: 0 0 0 55px;
                &-item {
                    font-family: TT Norms;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 32px;
                    text-transform: uppercase;
                    color: #FFFFFF;
                }
            }
        }
    }
    &__btns {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        &-btn {
            margin: 59px 0 0 0;
            width: 232px;
            height: 68px;
            border: 3px solid #FFFFFF;
            cursor: pointer;
            background: transparent;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 0 0 0 14px;
            font-family: TT Norms;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 32px;
            text-transform: uppercase;
            color: #FFFFFF;
            position: relative;
            &::after {
                content: url(../svg/paint/arrow-next-add.svg);
                position: absolute;
                top: 18px;
                right: 19px;
            }
        }
    }
}

.paint-about {
    padding: 230px 0 98px 0;
    & .containers {
        width: 100%;
    }
    &__block {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        &-img {
            margin: 0 0 0 35px;
            position: relative;
            width: 568px;
            height: 359px;
            & img {
                object-fit: cover;
            }
            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: -35px;
                width: 35px;
                height: 374px;
                background: #800705;
            }
        }
        &-content {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            &-text {
                margin: 0 0 0 53px;
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                flex-direction: column;
                &-add {
                    height: 86px;
                    font-family: TT Norms;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 20px;
                    line-height: 86px;
                    text-transform: uppercase;
                    color: #FFFFFF;
                    opacity: 0.5;
                }
                &-title {
                    height: 86px;
                    font-family: TT Norms;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 30px;
                    line-height: 86px;
                    text-transform: uppercase;
                    color: #FFFFFF;
                }
                &-item {
                    margin: 5px 0 0 0;
                    width: 557px;
                    height: 174px;
                    font-family: TT Norms;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 29px;
                    color: #FFFFFF;
                }
            }
            &-add {
                width: 692px;
                height: 212px;
                background: #800705;
                margin: 8px 0 0 0;
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                padding: 48px 0 0 53px;
                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 35px;
                    height: 212px;
                    background: #414141;
                }
                & p {
                    width: 560px;
                    height: 116px;
                    font-family: TT Norms;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 29px;
                    color: #FFFFFF;
                    & span {
                        font-weight: 700;
                    }
                    &:nth-child(2) {
                        margin: 21px 0 0 0;
                    }
                }
                &-btn {
                    width: 232px;
                    height: 68px;
                    border: 3px solid #FFFFFF;
                    z-index: 2;
                    background: transparent;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    position: absolute;
                    bottom: -100px;
                    right: 128px;
                    padding: 0 0 0 27px;
                    &::after {
                        content: url(../svg/index/header-arrow-next-add.svg);
                        position: absolute;
                        top: 20px;
                        right: 20px;
                    }
                    & a {
                        font-family: TT Norms;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 32px;
                        text-transform: uppercase;
                        color: #FFFFFF;
                    }
                }
            }
        }
    }
}

.paint-work {
    position: relative;
    padding: 0 0 146px 0;
    &__block {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        &-add {
            height: 86px;
            font-family: TT Norms;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 86px;
            text-transform: uppercase;
            color: #FFFFFF;
            opacity: 0.5;
        }
        &-title {
            font-family: TT Norms;
            font-style: normal;
            font-weight: normal;
            font-size: 30px;
            line-height: 86px;
            text-transform: uppercase;
            color: #FFFFFF;
        }
        &-description {
            font-family: TT Norms;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 29px;
            color: #FFFFFF;
        }
        &-wrapper {
            width: 100%;
            margin: 92px 0 0 0;
            height: 203px;
            background: #800705;
            position: relative;
            padding: 61px 148px 0 58px;
            &::after {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                width: 35px;
                height: 203px;
                background: #414141;
            }
            &-list {
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                width: 100%;
            }
            &-item {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                &:nth-child(1) {
                    &.paint-work__block-wrapper-item {
                        position: relative;
                        &::after {
                            content: "1";
                            position: absolute;
                            top: -90px;
                            left: 0;
                            width: 58px;
                            height: 58px;
                            background: #FFE9E9;
                            border-radius: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-family: TT Norms;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 30px;
                            line-height: 25px;
                            color: #800705;
                        }
                        &:before {
                            content: url(../svg/paint/arrow-work.svg);
                            position: absolute;
                            top: 5px;
                            right: -55px;
                        }
                    }
                }
                &:nth-child(2) {
                    &.paint-work__block-wrapper-item {
                        position: relative;
                        &::after {
                            content: "2";
                            position: absolute;
                            top: -90px;
                            left: 0;
                            width: 58px;
                            height: 58px;
                            background: #FFE9E9;
                            border-radius: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-family: TT Norms;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 30px;
                            line-height: 25px;
                            color: #800705;
                        }
                        &:before {
                            content: url(../svg/paint/arrow-work.svg);
                            position: absolute;
                            top: 5px;
                            right: -55px;
                        }
                    }
                }
                &:nth-child(3) {
                    &.paint-work__block-wrapper-item {
                        position: relative;
                        &::after {
                            content: "3";
                            position: absolute;
                            top: -90px;
                            left: 0;
                            width: 58px;
                            height: 58px;
                            background: #FFE9E9;
                            border-radius: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-family: TT Norms;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 30px;
                            line-height: 25px;
                            color: #800705;
                        }
                    }
                }
                &-title {
                    font-family: TT Norms;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 24px;
                    line-height: 30px;
                    color: #FFFFFF;
                }
                &-text {
                    margin: 18px 0 0 0;
                    width: 282px;
                    font-family: TT Norms;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 25px;
                    color: #FFFFFF;
                }
            }
        }
    }
}
