header.header 
        .containers 
            .header__block 
                .header__block-logo 
                    a(href="#") PIT-STOP 
                ul.header__block-list
                    li.header__block-list-item#headerServicesButton
                        a(href="#") УСЛУГИ 
                    li.header__block-list-item 
                        a(href="#") ЦЕНЫ 
                    li.header__block-list-item 
                        a(href="#") ОТЗЫВЫ 
                    li.header__block-list-item 
                        a(href="#") Контакты 
                    li.header__block-list-item 
                        a(href="#") КОРП.КЛИЕНТАМ 
                .header__block-phone 
                    a(href="tel:+74950218878")  +7 495 021-88-78
                    a(href="tel:+74952331763")  +7 495 233-17-63
                .header__block-services.display-n#headerServices
                    ul.header__block-services-list
                        .header__block-services-list-title ПОКРАСКА
                        li.header__block-services-list-item 
                            a(href="#") Покраска дисков
                        li.header__block-services-list-item 
                            a(href="#") Покраска изделий
                        li.header__block-services-list-item 
                            a(href="#") Алмазная шлифовка
                        li.header__block-services-list-item 
                            a(href="#") Калькулятор стоимости
                        li.header__block-services-list-item 
                            a(href="#") Подбор дисков по цвету
                        li.header__block-services-list-item 
                            a(href="#") Доставка
                    ul.header__block-services-list
                        .header__block-services-list-title ШИНОМОНТАЖ
                        li.header__block-services-list-item 
                            a(href="#") Ремонт дисков
                        li.header__block-services-list-item 
                            a(href="#") Балансировка колес
                        li.header__block-services-list-item 
                            a(href="#") Вулканизация шин
                        li.header__block-services-list-item 
                            a(href="#") Ремонт боковых порезов
                    ul.header__block-services-list
                        .header__block-services-list-title ДРУГИЕ УСЛУГИ
                        li.header__block-services-list-item 
                            a(href="#") Хранение шин
                        li.header__block-services-list-item 
                            a(href="#") Заправка автокондиционеров
                        li.header__block-services-list-item 
                            a(href="#") Ремонт автокондиционеров
















