header.header 
        .containers 
            .header__block 
                .header__block-logo 
                    a(href="index.html") PIT-STOP 
                ul.header__block-list
                    li.header__block-list-item#headerServicesButton
                        a(href="#") УСЛУГИ 
                    li.header__block-list-item 
                        a(href="price.html") ЦЕНЫ 
                    li.header__block-list-item 
                        a(href="reviews.html") ОТЗЫВЫ 
                    li.header__block-list-item 
                        a(href="contact.html") Контакты 
                    li.header__block-list-item 
                        a(href="client.html") КОРП.КЛИЕНТАМ 
                .header__block-phone 
                    a(href="tel:+74950218878")  +7 495 021-88-78
                    a(href="tel:+74952331763")  +7 495 233-17-63
                .header__block-services.display-n#headerServices
                    ul.header__block-services-list
                        .header__block-services-list-title ПОКРАСКА
                        li.header__block-services-list-item 
                            a(href="disks.html") Покраска дисков
                        li.header__block-services-list-item 
                            a(href="painting.html") Покраска изделий
                        li.header__block-services-list-item 
                            a(href="polishing.html") Алмазная шлифовка
                        li.header__block-services-list-item 
                            a(href="price.html") Калькулятор стоимости
                        li.header__block-services-list-item 
                            a(href="constructor.html") Подбор дисков по цвету
                        li.header__block-services-list-item 
                            a(href="delivery.html") Доставка
                    ul.header__block-services-list
                        .header__block-services-list-title ШИНОМОНТАЖ
                        li.header__block-services-list-item 
                            a(href="alloy.html") Ремонт дисков
                        li.header__block-services-list-item 
                            a(href="balance.html") Балансировка колес
                        li.header__block-services-list-item 
                            a(href="tires.html") Вулканизация шин
                        li.header__block-services-list-item 
                            a(href="hernia.html") Ремонт боковых порезов
                    ul.header__block-services-list
                        .header__block-services-list-title ДРУГИЕ УСЛУГИ
                        li.header__block-services-list-item 
                            a(href="season.html") Хранение шин
                        li.header__block-services-list-item 
                            a(href="refill.html") Заправка автокондиционеров
                        li.header__block-services-list-item 
                            a(href="conditioner.html") Ремонт автокондиционеров
















