.menu.display-n
        .menu__nav 
            .menu__nav-logo 
                a(href="index.html") PIT-STOP
            .menu__nav-close#menuClose
                <svg width="52" height="52" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M39 13L13 39" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M13 13L39 39" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
        ul.menu__list 
            .menu__list-close#menuCloseButton-1
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 6L12 18" stroke="#800705" stroke-width="2" stroke-linecap="round"/>
                    <path d="M18 12L6 12" stroke="#800705" stroke-width="2" stroke-linecap="round"/>
                </svg>
            .menu__list-title#menuCloseButtons-1 ПОКРАСКА
            li.menu__list-item#menuItems-1
                a(href="#") Покраска дисков
            li.menu__list-item#menuItems-2
                a(href="#") Покраска изделий
            li.menu__list-item#menuItems-3
                a(href="#") Алмазная шлифовка
            li.menu__list-item#menuItems-4
                a(href="#") Калькулятор стоимости
            li.menu__list-item#menuItems-5
                a(href="#") Подбор дисков по цвету
            li.menu__list-item#menuItems-6
                a(href="#") Доставка
        ul.menu__list 
            .menu__list-close#menuCloseButton-2
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 6L12 18" stroke="#800705" stroke-width="2" stroke-linecap="round"/>
                    <path d="M18 12L6 12" stroke="#800705" stroke-width="2" stroke-linecap="round"/>
                </svg>
            .menu__list-title#menuCloseButtons-2 ШИНОМОНТАЖ
            li.menu__list-item.display-n#menuItems-7
                a(href="#") Ремонт дисков
            li.menu__list-item.display-n#menuItems-8
                a(href="#") Балансировка колес
            li.menu__list-item.display-n#menuItems-9
                a(href="#") Вулканизация шин
            li.menu__list-item.display-n#menuItems-10
                a(href="#") Ремонт боковых порезов
        ul.menu__list 
            .menu__list-close#menuCloseButton-3
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 6L12 18" stroke="#800705" stroke-width="2" stroke-linecap="round"/>
                    <path d="M18 12L6 12" stroke="#800705" stroke-width="2" stroke-linecap="round"/>
                </svg>
            .menu__list-title#menuCloseButtons-3 ДРУГИЕ УСЛУГИ
            li.menu__list-item.display-n#menuItems-11
                a(href="#") Хранение шин
            li.menu__list-item.display-n#menuItems-12
                a(href="#") Заправка автокондиционеров
            li.menu__list-item.display-n#menuItems-13
                a(href="#") Ремонт автокондиционеров
        .menu__contact 
            .menu__contact-youtube 
                a(href="#") 
                    <svg width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M41.3999 32.4875C41.0166 34.5 39.3874 36.0333 37.3749 36.3208C34.2124 36.8 28.9416 37.375 22.9999 37.375C17.1541 37.375 11.8833 36.8 8.62492 36.3208C6.61242 36.0333 4.98325 34.5 4.59992 32.4875C4.21659 30.2833 3.83325 27.025 3.83325 23C3.83325 18.975 4.21659 15.7167 4.59992 13.5125C4.98325 11.5 6.61242 9.96667 8.62492 9.67917C11.7874 9.2 17.0583 8.625 22.9999 8.625C28.9416 8.625 34.1166 9.2 37.3749 9.67917C39.3874 9.96667 41.0166 11.5 41.3999 13.5125C41.7833 15.7167 42.2624 18.975 42.2624 23C42.1666 27.025 41.7833 30.2833 41.3999 32.4875Z" fill="#FF3D00"/>
                        <path d="M19.1667 29.7082V16.2915L30.6667 22.9998L19.1667 29.7082Z" fill="white"/>
                    </svg>
            .menu__contact-instagram
                a(href="#") 
                    img(src="./img/instagram.png", alt="")
        .menu__phone 
            .menu__phone-item 
                a(href="tel:+74950218878")  +7 495 021-88-78
            .menu__phone-item
                a(href="tel:+74952331763")  +7 495 233-17-63











