.menu.display-n
        .menu__nav 
            .menu__nav-logo 
                a(href="index.html") PIT-STOP
            .menu__nav-close#menuClose
                <svg width="52" height="52" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M39 13L13 39" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M13 13L39 39" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
        ul.menu__list 
            .menu__list-title ПОКРАСКА
            li.menu__list-item 
                a(href="#") Покраска дисков
            li.menu__list-item 
                a(href="#") Покраска изделий
            li.menu__list-item 
                a(href="#") Алмазная шлифовка
            li.menu__list-item 
                a(href="#") Калькулятор стоимости
            li.menu__list-item 
                a(href="#") Подбор дисков по цвету
            li.menu__list-item 
                a(href="#") Доставка
        ul.menu__list 
            .menu__list-title ШИНОМОНТАЖ
            li.menu__list-item 
                a(href="#") Ремонт дисков
            li.menu__list-item 
                a(href="#") Балансировка колес
            li.menu__list-item 
                a(href="#") Вулканизация шин
            li.menu__list-item 
                a(href="#") Ремонт боковых порезов
        ul.menu__list 
            .menu__list-title ДРУГИЕ УСЛУГИ
            li.menu__list-item 
                a(href="#") Хранение шин
            li.menu__list-item 
                a(href="#") Заправка автокондиционеров
            li.menu__list-item 
                a(href="#") Ремонт автокондиционеров












