.modelDiskExamplesSliders.display-n
        .modelDiskExamplesSliders-close 
            <svg width="52" height="52" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M39 13L13 39" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M13 13L39 39" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        .modelDiskExamplesSliders__slider 
            .swiper.modelDiskExamplesSlidersBlock
                .swiper-wrapper
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-1.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-2.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-3.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-4.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-5.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-6.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-7.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-8.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-9.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-10.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-11.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-12.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-13.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-14.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-15.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-16.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-17.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-18.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-19.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-20.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-21.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-22.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-23.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-24.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-25.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-26.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-27.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-28.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-29.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-30.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-31.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-32.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-33.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-34.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-35.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-36.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-37.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-38.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-39.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-40.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-41.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-42.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-43.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-44.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-45.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-46.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-47.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-48.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-49.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-50.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-51.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-52.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-53.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-54.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-55.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-56.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-57.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-58.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-59.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-60.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-61.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-62.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-63.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-64.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-65.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-66.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-67.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-68.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-69.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-70.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-71.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-72.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-73.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-74.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-75.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-76.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-77.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-78.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-79.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-80.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-81.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-82.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-83.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-84.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-85.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-86.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-87.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-88.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-89.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-90.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-91.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-92.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-93.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-94.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-95.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-96.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-97.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-98.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-99.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-100.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-101.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-102.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-103.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-104.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-105.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-106.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-107.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-108.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-109.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-110.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-111.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-112.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-113.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-114.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-115.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-116.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-117.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-118.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-119.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-120.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-121.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-122.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-123.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-124.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-125.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-126.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-127.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-128.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-129.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-130.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-131.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-132.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-133.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-134.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-135.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-136.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-137.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-138.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-139.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-140.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-141.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-142.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-143.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-144.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-145.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-146.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-147.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-148.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-149.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-150.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-151.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-152.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-153.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-154.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-155.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-156.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-157.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-158.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-159.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-160.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-161.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-162.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-163.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-164.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-165.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-166.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-167.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-168.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-169.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-170.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-171.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-172.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-173.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-174.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-175.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-176.png", alt="img")
                    .swiper-slide 
                        .modelDiskExamplesSliders__slider-item
                            img(src="./img/disk/exp-177.png", alt="img")
            .swiper-controls 
                .swiper-button-next 
                    <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6.53033 5.46967C6.82322 5.76256 6.82322 6.23744 6.53033 6.53033L1.75736 11.3033C1.46447 11.5962 0.989593 11.5962 0.696699 11.3033C0.403806 11.0104 0.403806 10.5355 0.696699 10.2426L4.93934 6L0.696699 1.75736C0.403806 1.46447 0.403806 0.989593 0.696699 0.696699C0.989593 0.403806 1.46447 0.403806 1.75736 0.696699L6.53033 5.46967ZM5 5.25H6V6.75H5V5.25Z" fill="black"/>
                    </svg>
                .swiper-button-prev 
                    <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6.53033 5.46967C6.82322 5.76256 6.82322 6.23744 6.53033 6.53033L1.75736 11.3033C1.46447 11.5962 0.989593 11.5962 0.696699 11.3033C0.403806 11.0104 0.403806 10.5355 0.696699 10.2426L4.93934 6L0.696699 1.75736C0.403806 1.46447 0.403806 0.989593 0.696699 0.696699C0.989593 0.403806 1.46447 0.403806 1.75736 0.696699L6.53033 5.46967ZM5 5.25H6V6.75H5V5.25Z" fill="black"/>
                    </svg>
                .swiper-pagination