.modelOrderCall.display-n
        form.modelOrderCall__block 
            .modelOrderCall__block-close 
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M18 6L6 18" stroke="#800705" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M6 6L18 18" stroke="#800705" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            .modelOrderCall__block-title Заказать звонок
            .modelOrderCall__block-add Оставьте заявку и мы свяжемся с вами
            input(type="text" class="modelOrderCall__block-name" placeholder="Введите ваше имя")
            input(type="text" class="modelOrderCall__block-phone" placeholder="Введите ваш телефон")
            button.modelOrderCall__block-btn ОТПРАВИТЬ
