
@media (max-width: 1400px) {
    .price-list__block-price {
        overflow-x: auto;
    }
    .price-list__block-wrapper,
    .price-list__block-wrappers {
        width: 1260px;
    }
    .price-list__block-description {
        margin: 20px 0 0 0;
        height: unset;
        font-family: TT Norms;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 43px;
        color: #fff;
    }
}
@media (max-width: 1370px) {
    .price-price__block-adds {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
}
@media (max-width: 1340px) {
    .price-price__block-catalog-select {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 1150px) {
    .price-price__block-dye {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .price-price__block-dye-radio:nth-child(2),
    .price-price__block-dye-radio:nth-child(3) {
        margin: 30px 0 0 0;
    }
}
@media (max-width: 1100px) {
    .price-header,
    .price-price,
    .price-list {
        & .containers {
            padding: 0 30px;
        }
    }
    .price-list__block-title {
        width: 100%;
    }
    .price-list__block-list-item {
        width: 100%;
    }
}
@media (max-width: 1050px) {
    .price-price__block-dye {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .price-price__block-dye-radio:nth-child(2) {
        margin: 35px 0 0 0;
    }
    .price-price__block-dye-radio:nth-child(3) {
        margin: 35px 0 0 0;
    }
}
@media (max-width: 1000px) {
    .price-header__block-banner {
        display: none;
    }
    .price-header__block-title {
        width: 100%;
    }
    .price-list__block-wrappers-table {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .price-list__block-wrappers-table-list {
        margin: 0 0 55px 0;
    }
}
@media (max-width: 850px) {
    .price-price__block-catalog-select {
        grid-template-columns: repeat(1, 1fr);
    }
    .price-price__block-catalog-checkbox {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .price-price__block-catalog-checkbox-item:nth-child(2) {
        margin: 45px 0 0 0;
    }
}
@media (max-width: 700px) {
    .price-price__block-banner {
        width: 100%;
    }
    .price-list__block-title {
        font-family: TT Norms;
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 35px;
        text-transform: uppercase;
        color: #fff;
    }
    .price-list__block-price {
        margin: 35px 0 0 0;
    }
}
@media (max-width: 650px) {
    .price-price__block-banner p {
        margin: 0 0 0 25px;
        font-family: TT Norms;
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 86px;
        color: #fff;
    }
    .price-header__block-title {
        font-weight: 600;
        font-size: 45px;
    }
}
@media (max-width: 550px) {
    .price-price__block-banner {
        width: 100%;
    }
    .price-price__block-banner::after {
        content: "";
        width: 100%;
        height: 128px;
        background: #600200;
        position: absolute;
        top: 128px;
        right: 0;
    }
    .price-price__block-banner-btn {
        position: absolute;
        top: 157px;
        left: 35px;
        right: auto;
        width: 177px;
        height: 68px;
    }
}
@media (max-width: 500px) {
    .price-price__block-catalog-checkbox-block {
        overflow: hidden;
        height: 64px;
        width: 180px;
        margin: 0 0 0 -10px;
    }
}
@media (max-width: 450px) {
    .price-price__block-catalog-select-item {
        width: 100%;
    }
    .price-price__block-catalog-select-block {
        width: 100%;
    }
    .mounting-select-item,
    .remove-select-item,
    .disk-select-item,
    .balance-select-item,
    .shooting-select-item,
    .delivery-select-item {
        width: 100%;
    }
    .mounting-select-wrapper,
    .remove-select-wrapper,
    .disk-select-wrapper,
    .balance-select-wrapper,
    .shooting-select-wrapper,
    .delivery-select-wrapper {
        width: 100%;
    }
}