@@include('components/_head.pug')

    section.error 
        .error__block 
            div(class="error__block-title wow fadeInUp animated" data-wow-delay="1.5s") 404
            div(class="error__block-text wow fadeInUp animated" data-wow-delay="2s") К сожалению, страница, которую вы ищете, не существует.
            button(class="error__block-btn wow fadeInUp animated" data-wow-delay="2.3s")
                a(href="index.html") Вернуться на главную

@@include('components/_script.pug')
