@@include('components/_head.pug')

    @@include('components/_header.pug')


    section.alloy-header 
        .containers 
            .alloy-header__block
                .alloy-header__block-title Ремонт литых дисков
                .alloy-header__block-add Подберем лучший вариант покраски дисков в вашем ценовом сегменте, с гарантией качества
                .alloy-header__block-banner 
                    img(src="./img/alloy/banner.png" alt="img")
                .alloy-header__block-quiz 
                    .alloy-header__block-quiz-title Ответьте на 5 вопросов и получите чек лист “Порошковая покраска ” 
                    .alloy-header__block-quiz-wrapper
                        .alloy-header__block-quiz-add Вопрос 1 из 5
                        .alloy-header__block-quiz-description Вид покраски
                        ul.alloy-header__block-quiz-block 
                            li.alloy-header__block-quiz-item 
                                .alloy-header__block-quiz-item-text Порошковая покраска
                            li.alloy-header__block-quiz-item 
                                .alloy-header__block-quiz-item-text Покраска "Эксклюзив"
                            li.alloy-header__block-quiz-item 
                                .alloy-header__block-quiz-item-text Алмазная шлифовка

    section.alloy-about 
        .containers 
            .alloy-about__block 
                .alloy-about__block-banner 
                    .alloy-about__block-banner-title Качественная и недорогая порошковая покраска дисков на собственном оборудовании.
                    .alloy-about__block-banner-text Если произошла беда на дороге: вы попали в яму, наехали на бордюр или какую-то иную неровность, и с ужасом обнаружили, что погнули диск — не спешите его выбрасывать и покупать новый. Позвоните нам, мы проконсультируем по ремонту литого или штампованого диска. В 95% случаев ваш диск можно отремонтировать и вернуть к жизни, даже если вам кажется, что это невозможно.
                .alloy-about__block-add 
                    ul.alloy-about__block-add-list 
                        li.alloy-about__block-add-item 
                            .alloy-about__block-add-item-circle 
                                <svg width="4" height="18" viewBox="0 0 4 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M3.28516 12.1953H0.636719L0.0390625 0.195312H3.88281L3.28516 12.1953ZM0.601562 16.6953C0.226562 16.3359 0.0390625 15.918 0.0390625 15.4414C0.0390625 14.957 0.226562 14.5352 0.601562 14.1758C0.976562 13.8164 1.42969 13.6367 1.96094 13.6367C2.49219 13.6367 2.94531 13.8164 3.32031 14.1758C3.69531 14.5352 3.88281 14.957 3.88281 15.4414C3.88281 15.918 3.69531 16.3359 3.32031 16.6953C2.94531 17.0547 2.49219 17.2344 1.96094 17.2344C1.42969 17.2344 0.976562 17.0547 0.601562 16.6953Z" fill="white"/>
                                </svg>
                            .alloy-about__block-add-items 
                                .alloy-about__block-add-items-title Скидка 50% на хранение шин
                                .alloy-about__block-add-items-text На хранение шин при заказе покраски дисков или шиномонтажных работ
                        li.alloy-about__block-add-item 
                            .alloy-about__block-add-item-circle 
                                <svg width="4" height="18" viewBox="0 0 4 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M3.28516 12.1953H0.636719L0.0390625 0.195312H3.88281L3.28516 12.1953ZM0.601562 16.6953C0.226562 16.3359 0.0390625 15.918 0.0390625 15.4414C0.0390625 14.957 0.226562 14.5352 0.601562 14.1758C0.976562 13.8164 1.42969 13.6367 1.96094 13.6367C2.49219 13.6367 2.94531 13.8164 3.32031 14.1758C3.69531 14.5352 3.88281 14.957 3.88281 15.4414C3.88281 15.918 3.69531 16.3359 3.32031 16.6953C2.94531 17.0547 2.49219 17.2344 1.96094 17.2344C1.42969 17.2344 0.976562 17.0547 0.601562 16.6953Z" fill="white"/>
                                </svg>
                            .alloy-about__block-add-items 
                                .alloy-about__block-add-items-title Скидка 6% на страхование
                                .alloy-about__block-add-items-text При заказе услуг шиномонтажа и покраски дисков на Перерва - оформления полиса ОСАГО, КАСКО, страхование дома, квартиры, ипотечное страхование со скидкой 6 процентов! (от страхового партнера).
                button.alloy-about__block-btn Связаться

    section.alloy-easy 
        .containers 
            .alloy-easy__block 
                .alloy-easy__block-add 001
                .alloy-easy__block-title С нами удобно!
                ul.alloy-easy__block-list
                    li.alloy-easy__block-item
                        .alloy-easy__block-item-icons 
                        .alloy-easy__block-item-title Среднее время ожидания - 20 минут
                        .alloy-easy__block-item-text Самый быстрый шиномонтаж по времени прибытия в Москве
                    li.alloy-easy__block-item
                        .alloy-easy__block-item-icons 
                        .alloy-easy__block-item-title Гарантия на ремонт
                        .alloy-easy__block-item-text Гарантия на балансировку 14 дней, на ремонт шин - 3 года
                    li.alloy-easy__block-item
                        .alloy-easy__block-item-icons 
                        .alloy-easy__block-item-title Круглосуточно
                        .alloy-easy__block-item-text 24 часа. У нас нет выходных и праздников
                    li.alloy-easy__block-item
                        .alloy-easy__block-item-icons 
                        .alloy-easy__block-item-title Приедем тогда, когда вам удобно
                        .alloy-easy__block-item-text Мы приедем максимально быстро или в то время когда удобно вам
                    li.alloy-easy__block-item
                        .alloy-easy__block-item-icons 
                        .alloy-easy__block-item-title Даже если шина не подлежит ремонту!
                        .alloy-easy__block-item-text При необходимости купим и привезём новую или б/у шину на замену вашей
                    li.alloy-easy__block-item
                        .alloy-easy__block-item-icons 
                        .alloy-easy__block-item-title Повышаем компетенции сотрудников
                        .alloy-easy__block-item-text Все сотрудники проходят полное обучение технологиям ремонта от американских инструкторов

    section.alloy-list 
        .containers 
            .alloy-list__block 
                .alloy-list__block-add 002
                .alloy-list__block-title Цены на ремонт литых и штампованных дисков
                .alloy-list__block-wrapper 
                    .alloy-list__block-wrapper-title радиус:
                    ul.alloy-list__block-wrapper-list
                        li.alloy-list__block-wrapper-list-item R13
                        li.alloy-list__block-wrapper-list-item R14
                        li.alloy-list__block-wrapper-list-item R15
                        li.alloy-list__block-wrapper-list-item R16
                        li.alloy-list__block-wrapper-list-item R17
                        li.alloy-list__block-wrapper-list-item R18
                        li.alloy-list__block-wrapper-list-item R19
                        li.alloy-list__block-wrapper-list-item R20
                        li.alloy-list__block-wrapper-list-item R21
                        li.alloy-list__block-wrapper-list-item R22
                .alloy-list__block-wrappers
                    .alloy-list__block-wrappers-title ШТАМПОВАННЫЙ
                    ul.alloy-list__block-wrappers-list.alloy-list__block-wrappers-lists
                        li.alloy-list__block-wrappers-list-item 400 ₽
                        li.alloy-list__block-wrappers-list-item 500 ₽
                        li.alloy-list__block-wrappers-list-item 600 ₽
                        li.alloy-list__block-wrappers-list-item 700 ₽
                        li.alloy-list__block-wrappers-list-item 800 ₽
                        li.alloy-list__block-wrappers-list-item 900 ₽
                        li.alloy-list__block-wrappers-list-item 1 000₽
                        li.alloy-list__block-wrappers-list-item 9 900 ₽
                .alloy-list__block-wrappers 
                    .alloy-list__block-wrappers-title ЛИТОЙ
                    ul.alloy-list__block-wrappers-list
                        li.alloy-list__block-wrappers-list-item 1 000 ₽
                        li.alloy-list__block-wrappers-list-item 1 300 ₽
                        li.alloy-list__block-wrappers-list-item 1 500 ₽
                        li.alloy-list__block-wrappers-list-item 1 600 ₽
                        li.alloy-list__block-wrappers-list-item 1 700 ₽
                        li.alloy-list__block-wrappers-list-item 1 800 ₽
                        li.alloy-list__block-wrappers-list-item 1 900 ₽
                        li.alloy-list__block-wrappers-list-item 2 000 ₽
                        li.alloy-list__block-wrappers-list-item 2 500 ₽
                        li.alloy-list__block-wrappers-list-item 3 000 ₽
            .alloy-list__block 
                .alloy-list__block-add 003
                .alloy-list__block-title Исправление повреждения диска "восьмерка"
                .alloy-list__block-wrapper 
                    .alloy-list__block-wrapper-title радиус:
                    ul.alloy-list__block-wrapper-list
                        li.alloy-list__block-wrapper-list-item R13
                        li.alloy-list__block-wrapper-list-item R14
                        li.alloy-list__block-wrapper-list-item R15
                        li.alloy-list__block-wrapper-list-item R16
                        li.alloy-list__block-wrapper-list-item R17
                        li.alloy-list__block-wrapper-list-item R18
                        li.alloy-list__block-wrapper-list-item R19
                        li.alloy-list__block-wrapper-list-item R20
                        li.alloy-list__block-wrapper-list-item R21
                        li.alloy-list__block-wrapper-list-item R22
                .alloy-list__block-wrappers 
                    .alloy-list__block-wrappers-title ЛИТОЙ
                    ul.alloy-list__block-wrappers-list
                        li.alloy-list__block-wrappers-list-item 1 400 ₽
                        li.alloy-list__block-wrappers-list-item 1 400 ₽
                        li.alloy-list__block-wrappers-list-item 1 800 ₽
                        li.alloy-list__block-wrappers-list-item 1 900 ₽
                        li.alloy-list__block-wrappers-list-item 2 200 ₽
                        li.alloy-list__block-wrappers-list-item 2 500 ₽
                        li.alloy-list__block-wrappers-list-item 2 700 ₽
                        li.alloy-list__block-wrappers-list-item 3 000 ₽
                        li.alloy-list__block-wrappers-list-item 3 500 ₽
                        li.alloy-list__block-wrappers-list-item 3 000 ₽
                        li.alloy-list__block-wrappers-list-item 4 000 ₽

    section.alloy-abouts 
        .containers 
            .alloy-abouts__block 
                .alloy-abouts__block-img 
                    img(src="./img/alloy/about-1.png", alt="img")
                .alloy-abouts__block-content 
                    .alloy-abouts__block-content-text
                        .alloy-abouts__block-content-text-add 004
                        .alloy-abouts__block-content-text-title Ремонт литых дисков
                        .alloy-abouts__block-content-text-item одна из наиболее частых услуг, оказываемых нашим шиномонтажом. Наши пункты ремонта находятся в удобных местах, работает шиномонтажка в Марьино.
                    .alloy-abouts__block-content-add
                        p У нас большой опыт в обслуживании машин, исправляем даже самые сложные и запущенные случаи. Для восстановления автомобильных дисков используем высокоточное оборудование и широкая техническая база. В нашем шиномонтаже используются только качественные и правильно подобранные расходные материалы. Такая, казалось бы, мелочь на деле играет серьезную роль в конечном результате.
            .alloy-abouts__wrapper 
                .alloy-abouts__wrapper-text 
                    .alloy-abouts__wrapper-text-title Чтобы получить объективную картину проблемы, наши мастера работают по плану:
                    ul.alloy-abouts__wrapper-text-list
                        li.alloy-abouts__wrapper-text-list-item диагностика правки литых дисков и других, связанных с ними процессов;
                        li.alloy-abouts__wrapper-text-list-item непосредственно ремонт, восстановление автомобильных дисков и аргонная сварка;
                        li.alloy-abouts__wrapper-text-list-item порошковая покраска.
                    .alloy-abouts__wrapper-text-description К ремонту и покраске дисков мы всегда подходим комплексно, что позволяет в кратчайшие сроки получить достойный результат, которым могут гордиться наши мастера.
                .alloy-abouts__wrapper-img 
                    img(src="./img/alloy/about-2.png", alt="img")
            .alloy-abouts__wrappers 
                .alloy-abouts__wrappers-add 005
                .alloy-abouts__wrappers-title Рассмотрим основные этапы правки (восстановление геометрии) автомобильного диска:
                ul.alloy-abouts__wrappers-list 
                    li.alloy-abouts__wrappers-item
                        .alloy-abouts__wrappers-item-img 
                            img(src="./img/alloy/add-1.png", alt="img")
                        .alloy-abouts__wrappers-item-title Установка диска на правочный станок
                    li.alloy-abouts__wrappers-item
                        .alloy-abouts__wrappers-item-img 
                            img(src="./img/alloy/add-2.png", alt="img")
                        .alloy-abouts__wrappers-item-title Правка внутреннего борта диска
                    li.alloy-abouts__wrappers-item
                        .alloy-abouts__wrappers-item-img 
                            img(src="./img/alloy/add-3.png", alt="img")
                        .alloy-abouts__wrappers-item-title Правка диска гидравлическим прессом
                    li.alloy-abouts__wrappers-item
                        .alloy-abouts__wrappers-item-img 
                            img(src="./img/alloy/add-4.png", alt="img")
                        .alloy-abouts__wrappers-item-title Исправление радиального биения диска
            .alloy-abouts__wrapper 
                .alloy-abouts__wrapper-text 
                    .alloy-abouts__wrapper-text-title Как правило, сильные деформации при ударе сопровождаются образованием микротрещин, которые могут проявить себя в процессе ремонта литого диска (правки диска), в результате чего необходима аргонная сварка.
                    .alloy-abouts__wrapper-text-description Процесс ремонта, восстановления и диагностики дисков включает в себя:
                    ul.alloy-abouts__wrapper-text-list
                        li.alloy-abouts__wrapper-text-list-item тщательный осмотр проблемных мест и примыкающих к ним зон;
                        li.alloy-abouts__wrapper-text-list-item подбор необходимых работ, которые помогут устранить проблему;
                        li.alloy-abouts__wrapper-text-list-item косметические манипуляции, в том числе и покраска  автомобильных дисков, чтобы исключить визуальные изъяны.
                .alloy-abouts__wrapper-img 
                    img(src="./img/alloy/about-3.png", alt="img")
            .alloy-abouts__wrappers 
                .alloy-abouts__wrappers-add 006
                .alloy-abouts__wrappers-title Исправление деформации геометрии диска в результате наезда колеса на неровность:
                ul.alloy-abouts__wrappers-list 
                    li.alloy-abouts__wrappers-item
                        .alloy-abouts__wrappers-item-img 
                            img(src="./img/alloy/add-5.png", alt="img")
                        .alloy-abouts__wrappers-item-title Установка поврежденного диска на станок
                    li.alloy-abouts__wrappers-item
                        .alloy-abouts__wrappers-item-img 
                            img(src="./img/alloy/add-6.png", alt="img")
                        .alloy-abouts__wrappers-item-title Установка поврежденного диска на станок
                    li.alloy-abouts__wrappers-item
                        .alloy-abouts__wrappers-item-img 
                            img(src="./img/alloy/add-7.png", alt="img")
                        .alloy-abouts__wrappers-item-title Правка геометрии диска гидравлическим прессом
                    li.alloy-abouts__wrappers-item
                        .alloy-abouts__wrappers-item-img 
                            img(src="./img/alloy/add-8.png", alt="img")
                        .alloy-abouts__wrappers-item-title Заключительный процесс точной правки литого диска

    section.alloy-video 
        .containers 
            .alloy-video__block 
                .alloy-video__block-add 007
                .alloy-video__block-title Видео окрашенных дисков
                .alloy-video__block-text Не пробуйте сами ремонтировать колесные диски — это трудоемкий процесс, требующий не только профессионального оборудования для правки и восстановления автомобильных дисков, но и большого опыта мастера, который берется за дело со всей ответственностью.
                    br
                    br
                    | Для тех, кто хочет больше узнать о ремонте дисков — мы специально написали статью.
                .alloy-video__block-slider 
                    .swiper.alloySliderVideo 
                        .swiper-wrapper 
                            .swiper-slide 
                                <iframe width="1020px" height="458px" src="https://www.youtube.com/embed/E1WuWQyCJFA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                .alloy-video__block-slider-text Видео процесса правки диска:
                            .swiper-slide 
                                <iframe width="1020px" height="458px" src="https://www.youtube.com/embed/kYEavS0Z-ow" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                .alloy-video__block-slider-text Видео прокатки диска на специальном оборудовании роликами:
                            .swiper-slide 
                                <iframe width="1020px" height="458px" src="https://www.youtube.com/embed/uP8ErZMwkKM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                .alloy-video__block-slider-text Правка диска. Повреждение типа "восьмерка".
                                    br
                                    | Диск устанавливается на станок для правки диска. Геометрия диска выравнивается за счет гидравлического поршня усилием 10 тонн.
                            .swiper-slide 
                                <iframe width="1020px" height="458px" src="https://www.youtube.com/embed/ARefsNjYi3s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                .alloy-video__block-slider-text Правка диска. Повреждение типа "восьмерка".
                                    br
                                    | Токарная обработка диска. Окончательное выравнивание геометрии диска за счет токарной группы. Доработка мелких неровностей, которые невозможно убрать при работе с гидравлическим поршнем.
                            .swiper-slide 
                                <iframe width="1020px" height="458px" src="https://www.youtube.com/embed/LtdNRUqMynQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                .alloy-video__block-slider-text Правка наружнего борта диска
                                    br
                                    | Правка наружнего борта диска, а также вытягивание небольшой "восмерки" с последующей обработкой при помощи токарной группы.
                    .swiper-controls 
                        .swiper-button-next 
                            <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6.53033 5.46967C6.82322 5.76256 6.82322 6.23744 6.53033 6.53033L1.75736 11.3033C1.46447 11.5962 0.989593 11.5962 0.696699 11.3033C0.403806 11.0104 0.403806 10.5355 0.696699 10.2426L4.93934 6L0.696699 1.75736C0.403806 1.46447 0.403806 0.989593 0.696699 0.696699C0.989593 0.403806 1.46447 0.403806 1.75736 0.696699L6.53033 5.46967ZM5 5.25H6V6.75H5V5.25Z" fill="black"/>
                            </svg>
                        .swiper-button-prev 
                            <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.46967 5.46967C0.176777 5.76256 0.176777 6.23744 0.46967 6.53033L5.24264 11.3033C5.53553 11.5962 6.01041 11.5962 6.3033 11.3033C6.59619 11.0104 6.59619 10.5355 6.3033 10.2426L2.06066 6L6.3033 1.75736C6.59619 1.46447 6.59619 0.989593 6.3033 0.696699C6.01041 0.403806 5.53553 0.403806 5.24264 0.696699L0.46967 5.46967ZM2 5.25H1V6.75H2V5.25Z" fill="white"/>
                            </svg>

    @@include('components/_footer.pug')
    @@include('components/_menu.pug')

@@include('components/_script.pug')