@@include('components/_head.pug')

    @@include('components/_header.pug')



    section.conditioner-header 
        .containers 
            .conditioner-header__block
                .conditioner-header__block-title Ремонт автокондиционеров
                .conditioner-header__block-add Качественный и быстрый ремонт автомобильных кондиционеров. Диагностика автокондиционеров.
                .conditioner-header__block-banner 
                    img(src="./img/header-banner.png" alt="img")

    section.conditioner-about 
        .containers 
            .conditioner-about__block 
                .conditioner-about__block-img 
                    img(src="./img/about.png", alt="img")
                .conditioner-about__block-content 
                    .conditioner-about__block-content-text
                        .conditioner-about__block-content-text-item Мы производим диагностику, заправку и ремонт автокондиционеров. Наши специалисты обладают большим опытом в подобном ремонте, в работе используются качественные комплектующие и проверенные решения..
                            br
                            br
                            | Диагностика авто кондиционера необходима для проверки его герметичности, так как в ином случае хладагент достаточно быстро выйдет из системы. Проводя диагностику, мы экономим ваши деньги на повторную заправку.
                        button.conditioner-about__block-content-add-btn
                            a(href="#") Связаться
            .conditioner-about__wrapper 
                .conditioner-about__wrapper-text 
                    .conditioner-about__wrapper-text-add В случае, если в процессе диагностики автокондиционера была обнаружена утечка, мы точно определяем место повреждения. Как правило, магистрали, по которым циркулирует хладагент, состоят либо из алюминиевых трубок, либо из резиновых шлангов высокого давления.
                        br
                        br
                        | Алюминиевые трубки, как и обычный металл, подвержены коррозии, которая приводит к разгерметизации системы. Мы сможем отремонтировать такую трубку посредством аргонно-дуговой сварки, в результате чего мы экономим ваше время и средства на поиски новой трубки.
                .conditioner-about__wrapper-banner
                    .conditioner-about__wrapper-banner-item
                        .conditioner-about__wrapper-banner-items 
                    button.conditioner-about__wrapper-banner-btn
                        a(href="#") Связаться

    section.conditioner-easy 
        .containers 
            .conditioner-easy__block 
                .conditioner-easy__block-add 002
                .conditioner-easy__block-title С нами удобно!
                ul.conditioner-easy__block-list
                    li.conditioner-easy__block-item
                        .conditioner-easy__block-item-icons 
                        .conditioner-easy__block-item-title Среднее время ожидания - 20 минут
                        .conditioner-easy__block-item-text Самый быстрый шиномонтаж по времени прибытия в Москве
                    li.conditioner-easy__block-item
                        .conditioner-easy__block-item-icons 
                        .conditioner-easy__block-item-title Гарантия на ремонт
                        .conditioner-easy__block-item-text Гарантия на балансировку 14 дней, на ремонт шин - 3 года
                    li.conditioner-easy__block-item
                        .conditioner-easy__block-item-icons 
                        .conditioner-easy__block-item-title Круглосуточно
                        .conditioner-easy__block-item-text 24 часа. У нас нет выходных и праздников
                    li.conditioner-easy__block-item
                        .conditioner-easy__block-item-icons 
                        .conditioner-easy__block-item-title Приедем тогда, когда вам удобно
                        .conditioner-easy__block-item-text Мы приедем максимально быстро или в то время когда удобно вам
                    li.conditioner-easy__block-item
                        .conditioner-easy__block-item-icons 
                        .conditioner-easy__block-item-title Даже если шина не подлежит ремонту!
                        .conditioner-easy__block-item-text При необходимости купим и привезём новую или б/у шину на замену вашей
                    li.conditioner-easy__block-item
                        .conditioner-easy__block-item-icons 
                        .conditioner-easy__block-item-title Повышаем компетенции сотрудников
                        .conditioner-easy__block-item-text Все сотрудники проходят полное обучение технологиям ремонта от американских инструкторов

    section.conditioner-abouts 
        .containers 
            .conditioner-abouts__block 
                .conditioner-abouts__block-img 
                    img(src="./img/abouts.png", alt="img")
                .conditioner-abouts__block-content 
                    .conditioner-abouts__block-content-text
                        .conditioner-abouts__block-content-text-item Если во время диагностики автомобильного кондиционера мы обнаружили утечку в в резиновом шланге высокого давления, то и такую проблему мы поможем вам решить. В этом случае при помощи специального оборудования меняется и перепрессовывается испорченный шланг на новый. Мы используем только качественные шланги фирмы Goodyear выдерживающие давление до 50 бар, которые по сроку своей службы превосходят на порядок шланги заводского изготовления.
                    .conditioner-abouts__block-content-add Чаще всего ремонт автокондиционера требуется в начале лета, и это не потому что начали его включать, а потому, что долгое время (осень, зима, весна) им не пользовались. При долгом простое уплотнительные кольца сохнут, нарушается герметичность. Если компрессор длительное время не работает, внутри него появляется окисление, что часто приводит к поломке. Если зимой будете хотя бы раз в неделю включать авто кондиционер на 10-20 минут, то ремонт кондиционера может и не понадобиться.
                        br
                        br
                        | Обращайтесь к нам и мы поможем сделать вашу езду на автомобиле максимальной комфортной.
                        br
                        br
                        | Мы будем рады вам помочь выполнить ремонт авто кондиционера!



    @@include('components/_footer.pug')
    @@include('components/_menu.pug')

@@include('components/_script.pug')