@@include('components/_head.pug')

    @@include('components/_header.pug')



    section.constructor-header 
        .containers 
            .constructor-header__block
                .constructor-header__block-title Подбор цвета дисков по автомобилю
                .constructor-header__block-add 002
                .constructor-header__block-text Подбор цвета диска
                .constructor-header__block-banner 
                    img(src="./img/header-banner.png" alt="img")



    @@include('components/_footer.pug')

@@include('components/_script.pug')