@@include('components/_head.pug')

    @@include('components/_header.pug')


    section.contact-header 
        .containers 
            .contact-header__block
                .contact-header__block-title Контакты
                .contact-header__block-img 
                    img(src="./img/header-banner.png" alt="img")
                .contact-header__block-wrapper 
                    .contact-header__block-text 
                        .contact-header__block-text-add 001
                        .contact-header__block-text-title Шиномонтаж ЮВАО, Марьино - Пит-Стоп
                        .contact-header__block-text-phone +7 495 021-88-78
                        .contact-header__block-text-address ул. Перерва, 30
                        .contact-header__block-text-description в нашем здании находится магазин Автозапчасти и кафе Пандок
                        .contact-header__block-text-time с 900 - 2100
                        .contact-header__block-text-email E-mail: shini-pitstop@yandex.ru
                        .contact-header__block-text-item В ЮВАО, Марьино у нас находится основное производство по покраске литых дисков и точка шиномонтажа. Здесь мы оказываем все услуги по шиномонтажу: "переобувка", балансировка колес, ремонт боковых порезов и другие услуги. 
                            br
                            br
                            | В шиномонтаже Марьино, ЮВАО работает два поста. Для вашего удобства вы можете посетить нас как в порядке "живой" очереди, так записаться на нужное вам время. Основной упор мы делаем на качестве предоставляемых услуг, и скорости выполняемых работ. Все оборудование для шиномонтажа проходит периодическую проверку, регулярно обслуживается и калибруется. Наши специалисты обладают большим опытом и нужной квалификацией для выполнения самых сложных шиномонтажных работ. 
                            br
                            br
                            | Шиномонтажкой в Марьино могут воспользоваться как автовладельцы в ЮВАО, так и ближлежайших районов и округов - ЮАО, Люблино, Печатники и др. Также наши клиенты те, кто часто ищет шиномонтаж на Люблинской улице - это совсем рядом.
                    .contact-header__block-banner
                        .contact-header__block-banner-item 
                            .contact-header__block-banner-items 
                                img(src="img/contact/contact-1.png", alt="png")
                        .contact-header__block-banner-img
                            img(src="img/contact/contact-2.png", alt="png")
                        .contact-header__block-banner-img 
                            img(src="img/contact/contact-3.png", alt="png")

    @@include('components/_footer.pug')

@@include('components/_script.pug')