@@include('components/_head.pug')

    @@include('components/_header.pug')


    section.delivery-header 
        .containers 
            .delivery-header__block
                .delivery-header__block-title Доставка
                .delivery-header__block-add Доставим диски, шины, и другие детали по Москве.
                .delivery-header__block-price В одну сторону - 1000 руб., туда-обратно - 1600 руб.
                .delivery-header__block-time Время доставки - с 9 до 21.
                .delivery-header__block-banner 
                    img(src="./img/header-banner.png" alt="img")

    section.delivery-work
        .containers 
            .delivery-work__block 
                .delivery-work__block-add 003
                .delivery-work__block-title Как мы работаем?
                .delivery-work__block-description Вам нужно только позвонить или оставить заявку на сайте - всё остальное сделаем мы!
                .delivery-work__block-wrapper
                    ul.delivery-work__block-wrapper-list
                        li.delivery-work__block-wrapper-item
                            .delivery-work__block-wrapper-item-title Свяжитесь с нами
                            .delivery-work__block-wrapper-item-text По телефону или оставьте заявку
                        li.delivery-work__block-wrapper-item
                            .delivery-work__block-wrapper-item-title Оформите заказ
                            .delivery-work__block-wrapper-item-text Наш менеджер уточнит детали заказа и сориентирует по стоимости работ
                        li.delivery-work__block-wrapper-item
                            .delivery-work__block-wrapper-item-title К вам приедет мастер 
                            .delivery-work__block-wrapper-item-text Наш менеджер уточнит детали заказа и сориентирует по стоимости работ

    section.delivery-easy 
        .containers 
            .delivery-easy__block 
                .delivery-easy__block-add 002
                .delivery-easy__block-title С нами удобно!
                ul.delivery-easy__block-list
                    li.delivery-easy__block-item
                        .delivery-easy__block-item-icons 
                        .delivery-easy__block-item-title Среднее время ожидания - 20 минут
                        .delivery-easy__block-item-text Самый быстрый шиномонтаж по времени прибытия в Москве
                    li.delivery-easy__block-item
                        .delivery-easy__block-item-icons 
                        .delivery-easy__block-item-title Гарантия на ремонт
                        .delivery-easy__block-item-text Гарантия на балансировку 14 дней, на ремонт шин - 3 года
                    li.delivery-easy__block-item
                        .delivery-easy__block-item-icons 
                        .delivery-easy__block-item-title Круглосуточно
                        .delivery-easy__block-item-text 24 часа. У нас нет выходных и праздников
                    li.delivery-easy__block-item
                        .delivery-easy__block-item-icons 
                        .delivery-easy__block-item-title Приедем тогда, когда вам удобно
                        .delivery-easy__block-item-text Мы приедем максимально быстро или в то время когда удобно вам
                    li.delivery-easy__block-item
                        .delivery-easy__block-item-icons 
                        .delivery-easy__block-item-title Даже если шина не подлежит ремонту!
                        .delivery-easy__block-item-text При необходимости купим и привезём новую или б/у шину на замену вашей
                    li.delivery-easy__block-item
                        .delivery-easy__block-item-icons 
                        .delivery-easy__block-item-title Повышаем компетенции сотрудников
                        .delivery-easy__block-item-text Все сотрудники проходят полное обучение технологиям ремонта от американских инструкторов


    @@include('components/_footer.pug')

@@include('components/_script.pug')