@@include('components/_head.pug')

    @@include('components/_header.pug')


    section.disk-header 
        .containers 
            .disk-header__block
                .disk-header__block-title Порошковая покраска дисков в Москве
                .disk-header__block-add Подберем лучший вариант покраски дисков в вашем ценовом сегменте, с гарантией качества
                .disk-header__block-banner 
                    img(src="./img/disk/banner.png" alt="img")
                .disk-header__block-quiz 
                    .disk-header__block-quiz-title Ответьте на 5 вопросов и получите чек лист “Порошковая покраска ” 
                    .disk-header__block-quiz-wrapper
                        .disk-header__block-quiz-add Вопрос 1 из 5
                        .disk-header__block-quiz-description Вид покраски
                        ul.disk-header__block-quiz-block 
                            li.disk-header__block-quiz-item 
                                .disk-header__block-quiz-item-text Порошковая покраска
                            li.disk-header__block-quiz-item 
                                .disk-header__block-quiz-item-text Покраска "Эксклюзив"
                            li.disk-header__block-quiz-item 
                                .disk-header__block-quiz-item-text Алмазная шлифовка

    section.disk-about 
        .containers 
            .disk-about__block 
                .disk-about__block-banner 
                    .disk-about__block-banner-add Качественная и недорогая порошковая покраска дисков на собственном оборудовании.
                    .disk-about__block-banner-text 
                        .disk-about__block-banner-text-item Гарантия 2 года.
                        a(class="disk-about__block-banner-text-link" href="#") Посмотреть цены
                    .disk-about__block-banner-date Диски можете сдать в любой нашей точке, срок покраски: 1-3 дня *.
                .disk-about__block-add 
                    ul.disk-about__block-add-list 
                        li.disk-about__block-add-item 
                            .disk-about__block-add-item-circle 
                                <svg width="4" height="18" viewBox="0 0 4 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M3.28516 12.1953H0.636719L0.0390625 0.195312H3.88281L3.28516 12.1953ZM0.601562 16.6953C0.226562 16.3359 0.0390625 15.918 0.0390625 15.4414C0.0390625 14.957 0.226562 14.5352 0.601562 14.1758C0.976562 13.8164 1.42969 13.6367 1.96094 13.6367C2.49219 13.6367 2.94531 13.8164 3.32031 14.1758C3.69531 14.5352 3.88281 14.957 3.88281 15.4414C3.88281 15.918 3.69531 16.3359 3.32031 16.6953C2.94531 17.0547 2.49219 17.2344 1.96094 17.2344C1.42969 17.2344 0.976562 17.0547 0.601562 16.6953Z" fill="white"/>
                                </svg>
                            .disk-about__block-add-item-text Специальные условия для корпоративных клиентов.
                        li.disk-about__block-add-item 
                            .disk-about__block-add-item-circle 
                                <svg width="4" height="18" viewBox="0 0 4 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M3.28516 12.1953H0.636719L0.0390625 0.195312H3.88281L3.28516 12.1953ZM0.601562 16.6953C0.226562 16.3359 0.0390625 15.918 0.0390625 15.4414C0.0390625 14.957 0.226562 14.5352 0.601562 14.1758C0.976562 13.8164 1.42969 13.6367 1.96094 13.6367C2.49219 13.6367 2.94531 13.8164 3.32031 14.1758C3.69531 14.5352 3.88281 14.957 3.88281 15.4414C3.88281 15.918 3.69531 16.3359 3.32031 16.6953C2.94531 17.0547 2.49219 17.2344 1.96094 17.2344C1.42969 17.2344 0.976562 17.0547 0.601562 16.6953Z" fill="white"/>
                                </svg>
                            .disk-about__block-add-item-text В связи с сезоном, просьба записываться на шиномонтаж заранее по телефону.
                        li.disk-about__block-add-item 
                            .disk-about__block-add-item-circle 
                                <svg width="4" height="18" viewBox="0 0 4 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M3.28516 12.1953H0.636719L0.0390625 0.195312H3.88281L3.28516 12.1953ZM0.601562 16.6953C0.226562 16.3359 0.0390625 15.918 0.0390625 15.4414C0.0390625 14.957 0.226562 14.5352 0.601562 14.1758C0.976562 13.8164 1.42969 13.6367 1.96094 13.6367C2.49219 13.6367 2.94531 13.8164 3.32031 14.1758C3.69531 14.5352 3.88281 14.957 3.88281 15.4414C3.88281 15.918 3.69531 16.3359 3.32031 16.6953C2.94531 17.0547 2.49219 17.2344 1.96094 17.2344C1.42969 17.2344 0.976562 17.0547 0.601562 16.6953Z" fill="white"/>
                                </svg>
                            .disk-about__block-add-item-text Перед покраской дисков — обязательная пескоструйная обработка. Антикоррозийное покрытие. Грунтовка. Все это входит в стоимость окраски.
                button.disk-about__block-btn Связаться

    section.constructor-constructor
        .containers 
            .constructor-constructor__block 
                .constructor-constructor__block-add 001
                .constructor-constructor__block-title Подбор цвета диска
            .constructor-constructor__wrapper 
                button.constructor-constructor__wrapper-controls-btn
                        a(href="#") Помощь при подборе
                .constructor-constructor__wrapper-controls 
                    .constructor-constructor__wrapper-controls-description Выберите цвет автомобиля
                    .constructor-constructor__wrapper-controls-type 
                        <svg width="88" height="30" viewBox="0 0 88 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M87.8749 24.0167C87.8749 24.0167 88.8907 17.3422 85.1708 13.4672C81.9248 10.0846 79.0246 9.18545 73.116 8.92225C67.6248 8.67668 65.0804 8.90462 61.4485 8.92225C59.119 8.93358 32.9365 10.7798 23.2012 8.92225C23.2012 8.92225 29.2279 11.7079 43.3683 11.5921C55.1075 11.4963 65.0087 11.6399 68.0334 11.6915C68.5865 11.7008 69.1389 11.6852 69.6903 11.6449C71.5195 11.5127 76.5606 11.3339 80.6878 12.9874C85.8396 15.0414 87.4098 20.5334 87.8749 24.0167Z" fill="white"/>
                            <path d="M82.3128 24.0023C82.9439 20.1077 80.3037 16.4379 76.4158 15.8057C72.528 15.1735 68.8646 17.8183 68.2335 21.713C67.6024 25.6076 70.2426 29.2774 74.1305 29.9096C78.0183 30.5418 81.6817 27.897 82.3128 24.0023Z" fill="white"/>
                            <path d="M23.9397 24.0011C24.5708 20.1064 21.9307 16.4367 18.0428 15.8045C14.1549 15.1723 10.4916 17.8171 9.86047 21.7117C9.22937 25.6064 11.8695 29.2762 15.7574 29.9084C19.6453 30.5406 23.3086 27.8958 23.9397 24.0011Z" fill="white"/>
                            <path d="M73.9651 13.6838C73.9651 13.6838 65.6227 11.3616 62.9538 21.9274H29.2749C29.2749 21.9274 26.9932 15.0011 21.5762 14.4973C21.5762 14.4973 21.6893 14.6107 21.8666 14.821C23.4037 15.7684 24.636 17.1391 25.4163 18.7693C26.1965 20.3996 26.4917 22.2204 26.2666 24.0142H66.1985C66.1985 24.0142 65.3059 14.5956 73.9651 13.6838Z" fill="white"/>
                            <path d="M37.8024 2.77167C49.1984 3.30311 58.5453 7.41612 58.5453 7.41612C58.5453 7.41612 56.5753 5.44273 50.3173 3.00842C44.0592 0.574121 36.9526 -1.3703 26.6767 1.26046C16.9577 3.75018 18.7994 8.32032 1.72242 7.49671C1.59465 7.48975 1.4674 7.51774 1.3543 7.57769C1.2412 7.63763 1.14651 7.72727 1.08038 7.837C1.01424 7.94673 0.97915 8.07241 0.978866 8.20059C0.978582 8.32877 1.01311 8.45461 1.07876 8.56463C1.80539 9.81516 2.53705 11.9384 1.06116 14.1561C-1.25701 17.6319 0.945506 22.8569 0.945506 22.8569H7.46379C7.46314 20.4204 8.40179 18.0779 10.0838 16.318C11.7659 14.5582 14.0614 13.517 16.4913 13.4118C14.9023 13.1398 12.437 13.2859 8.82276 14.8424H3.03111C3.03111 14.8424 4.88665 12.4044 4.30711 10.4348C4.30711 10.4348 10.9134 8.34551 17.2884 10.5506C23.6633 12.7557 37.8024 14.1498 47.0751 13.2242C47.0751 13.2242 24.8237 12.1789 18.0992 7.41863C18.103 7.41486 24.5144 2.15207 37.8024 2.77167Z" fill="white"/>
                        </svg>
                    ul.constructor-constructor__wrapper-controls-adds
                        li.constructor-constructor__wrapper-controls-adds-color#constructorTypeCarColor-1
                        li.constructor-constructor__wrapper-controls-adds-color#constructorTypeCarColor-2
                        li.constructor-constructor__wrapper-controls-adds-color#constructorTypeCarColor-3
                        li.constructor-constructor__wrapper-controls-adds-color#constructorTypeCarColor-4
                        li.constructor-constructor__wrapper-controls-adds-color#constructorTypeCarColor-5
                        li.constructor-constructor__wrapper-controls-adds-color#constructorTypeCarColor-6
                        li.constructor-constructor__wrapper-controls-adds-close 
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M18 12L18.7071 11.2929L19.4142 12L18.7071 12.7071L18 12ZM12.7071 5.29289L18.7071 11.2929L17.2929 12.7071L11.2929 6.70711L12.7071 5.29289ZM18.7071 12.7071L12.7071 18.7071L11.2929 17.2929L17.2929 11.2929L18.7071 12.7071Z" fill="white"/>
                                <path d="M12 12L12.7071 11.2929L13.4142 12L12.7071 12.7071L12 12ZM6.70711 5.29289L12.7071 11.2929L11.2929 12.7071L5.29289 6.70711L6.70711 5.29289ZM12.7071 12.7071L6.70711 18.7071L5.29289 17.2929L11.2929 11.2929L12.7071 12.7071Z" fill="white"/>
                            </svg>
                .constructor-constructor__wrapper-car
                    .constructor-constructor__wrapper-car-item 
                        img(src="./img/constructor/start.png", alt="")#constructorCar
                    ul.constructor-constructor__wrapper-car-list
                        li.constructor-constructor__wrapper-car-list-item#constructorTypeDiskColor-1
                            img(src="./img/constructor/disk-1.png", alt="disk")
                        li.constructor-constructor__wrapper-car-list-item#constructorTypeDiskColor-2
                            img(src="./img/constructor/disk-2.png", alt="disk")
                        li.constructor-constructor__wrapper-car-list-item#constructorTypeDiskColor-3
                            img(src="./img/constructor/disk-3.png", alt="disk")
                        li.constructor-constructor__wrapper-car-list-item#constructorTypeDiskColor-4
                            img(src="./img/constructor/disk-4.png", alt="disk")
                        li.constructor-constructor__wrapper-car-list-item#constructorTypeDiskColor-5
                            img(src="./img/constructor/disk-5.png", alt="disk")
                        li.constructor-constructor__wrapper-car-list-item#constructorTypeDiskColor-6
                            img(src="./img/constructor/disk-6.png", alt="disk")
                        li.constructor-constructor__wrapper-car-list-item#constructorTypeDiskColor-7
                            img(src="./img/constructor/disk-7.png", alt="disk")
                        li.constructor-constructor__wrapper-car-list-item#constructorTypeDiskColor-8
                            img(src="./img/constructor/disk-8.png", alt="disk")
                        li.constructor-constructor__wrapper-car-list-item#constructorTypeDiskColor-9
                            img(src="./img/constructor/disk-9.png", alt="disk")
                        li.constructor-constructor__wrapper-car-list-item#constructorTypeDiskColor-10
                            img(src="./img/constructor/disk-10.png", alt="disk")
                        li.constructor-constructor__wrapper-car-list-item#constructorTypeDiskColor-11
                            img(src="./img/constructor/disk-11.png", alt="disk")
                        li.constructor-constructor__wrapper-car-list-item#constructorTypeDiskColor-12
                            img(src="./img/constructor/disk-12.png", alt="disk")
                        li.constructor-constructor__wrapper-car-list-item#constructorTypeDiskColor-13
                            img(src="./img/constructor/disk-13.png", alt="disk")
                        li.constructor-constructor__wrapper-car-list-item#constructorTypeDiskColor-14
                            img(src="./img/constructor/disk-14.png", alt="disk")
                        li.constructor-constructor__wrapper-car-list-item#constructorTypeDiskColor-15
                            img(src="./img/constructor/disk-15.png", alt="disk")
                        li.constructor-constructor__wrapper-car-list-item#constructorTypeDiskColor-16
                            img(src="./img/constructor/disk-16.png", alt="disk")
                        li.constructor-constructor__wrapper-car-list-item#constructorTypeDiskColor-17
                            img(src="./img/constructor/disk-17.png", alt="disk")

    section.disk-list 
        .containers 
            .disk-list__block 
                .disk-list__block-add 002
                .disk-list__block-title Цена на порошковую покраску литых дисков
                .disk-list__block-description Дополнительное покрытие лаком: +700 руб. / диск
                
                .disk-list__block-price 
                    .disk-list__block-prices
                        .disk-list__block-wrapper 
                            .disk-list__block-wrapper-title радиус:
                            ul.disk-list__block-wrapper-list
                                li.disk-list__block-wrapper-list-item R13
                                li.disk-list__block-wrapper-list-item R14
                                li.disk-list__block-wrapper-list-item R15
                                li.disk-list__block-wrapper-list-item R16
                                li.disk-list__block-wrapper-list-item R17
                                li.disk-list__block-wrapper-list-item R18
                                li.disk-list__block-wrapper-list-item R19
                                li.disk-list__block-wrapper-list-item R20
                                li.disk-list__block-wrapper-list-item R21
                                li.disk-list__block-wrapper-list-item R22
                                li.disk-list__block-wrapper-list-item R23 
                                li.disk-list__block-wrapper-list-item R24
                        .disk-list__block-wrappers
                            .disk-list__block-wrappers-title цена за 1 комплект
                            ul.disk-list__block-wrappers-list
                                li.disk-list__block-wrappers-list-item 6 000 ₽
                                li.disk-list__block-wrappers-list-item 6 800 ₽
                                li.disk-list__block-wrappers-list-item 7 300 ₽
                                li.disk-list__block-wrappers-list-item 7 700 ₽
                                li.disk-list__block-wrappers-list-item 8 100 ₽
                                li.disk-list__block-wrappers-list-item 8 500 ₽
                                li.disk-list__block-wrappers-list-item 8 900 ₽
                                li.disk-list__block-wrappers-list-item 9 900 ₽
                                li.disk-list__block-wrappers-list-item 10 900 ₽
                                li.disk-list__block-wrappers-list-item 11 900 ₽
                                li.disk-list__block-wrappers-list-item 12 900 ₽ 
                                li.disk-list__block-wrappers-list-item 13 900 ₽
                        .disk-list__block-wrappers 
                            .disk-list__block-wrappers-title цена за 1 комплект
                            ul.disk-list__block-wrappers-list
                                li.disk-list__block-wrappers-list-item 6 000 ₽
                                li.disk-list__block-wrappers-list-item 6 800 ₽
                                li.disk-list__block-wrappers-list-item 7 300 ₽
                                li.disk-list__block-wrappers-list-item 7 700 ₽
                                li.disk-list__block-wrappers-list-item 8 100 ₽
                                li.disk-list__block-wrappers-list-item 8 500 ₽
                                li.disk-list__block-wrappers-list-item 8 900 ₽
                                li.disk-list__block-wrappers-list-item 9 900 ₽
                                li.disk-list__block-wrappers-list-item 10 900 ₽
                                li.disk-list__block-wrappers-list-item 11 900 ₽
                                li.disk-list__block-wrappers-list-item 12 900 ₽ 
                                li.disk-list__block-wrappers-list-item 13 900 ₽
                
            .disk-list__block 
                .disk-list__block-add 003
                .disk-list__block-title Цена на покраску в цвета "эксклюзив"
                .disk-list__block-description Дополнительное покрытие лаком: +700 руб. / диск
                .disk-list__block-price 
                    .disk-list__block-prices
                        .disk-list__block-wrapper 
                            .disk-list__block-wrapper-title радиус:
                            ul.disk-list__block-wrapper-list
                                li.disk-list__block-wrapper-list-item R13
                                li.disk-list__block-wrapper-list-item R14
                                li.disk-list__block-wrapper-list-item R15
                                li.disk-list__block-wrapper-list-item R16
                                li.disk-list__block-wrapper-list-item R17
                                li.disk-list__block-wrapper-list-item R18
                                li.disk-list__block-wrapper-list-item R19
                                li.disk-list__block-wrapper-list-item R20
                                li.disk-list__block-wrapper-list-item R21
                                li.disk-list__block-wrapper-list-item R22
                                li.disk-list__block-wrapper-list-item R23 
                                li.disk-list__block-wrapper-list-item R24
                        .disk-list__block-wrappers
                            .disk-list__block-wrappers-title цена за 1 комплект
                            ul.disk-list__block-wrappers-list
                                li.disk-list__block-wrappers-list-item 6 000 ₽
                                li.disk-list__block-wrappers-list-item 6 800 ₽
                                li.disk-list__block-wrappers-list-item 7 300 ₽
                                li.disk-list__block-wrappers-list-item 7 700 ₽
                                li.disk-list__block-wrappers-list-item 8 100 ₽
                                li.disk-list__block-wrappers-list-item 8 500 ₽
                                li.disk-list__block-wrappers-list-item 8 900 ₽
                                li.disk-list__block-wrappers-list-item 9 900 ₽
                                li.disk-list__block-wrappers-list-item 10 900 ₽
                                li.disk-list__block-wrappers-list-item 11 900 ₽
                                li.disk-list__block-wrappers-list-item 12 900 ₽ 
                                li.disk-list__block-wrappers-list-item 13 900 ₽
                        .disk-list__block-wrappers 
                            .disk-list__block-wrappers-title цена за 1 комплект
                            ul.disk-list__block-wrappers-list
                                li.disk-list__block-wrappers-list-item 6 000 ₽
                                li.disk-list__block-wrappers-list-item 6 800 ₽
                                li.disk-list__block-wrappers-list-item 7 300 ₽
                                li.disk-list__block-wrappers-list-item 7 700 ₽
                                li.disk-list__block-wrappers-list-item 8 100 ₽
                                li.disk-list__block-wrappers-list-item 8 500 ₽
                                li.disk-list__block-wrappers-list-item 8 900 ₽
                                li.disk-list__block-wrappers-list-item 9 900 ₽
                                li.disk-list__block-wrappers-list-item 10 900 ₽
                                li.disk-list__block-wrappers-list-item 11 900 ₽
                                li.disk-list__block-wrappers-list-item 12 900 ₽ 
                                li.disk-list__block-wrappers-list-item 13 900 ₽
            .disk-list__btns 
                button.disk-list__btns-btn Узнать подробнее

    section.disk-slider 
        .containers 
            .disk-slider__block 
                .disk-slider__block-add 004
                .disk-slider__block-title Новые работы по покраске дисков
                .disk-slider__block-wrapper 
                    .swiper.diskSliderBlock
                        .swiper-wrapper
                            .swiper-slide 
                                .disk-slider__block-wrapper-item#diskSlidersItems-1
                                    img(src="./img/disk/disk-1.png", alt="img")
                            .swiper-slide 
                                .disk-slider__block-wrapper-item#diskSlidersItems-2
                                    img(src="./img/disk/disk-2.png", alt="img")
                            .swiper-slide 
                                .disk-slider__block-wrapper-item#diskSlidersItems-3
                                    img(src="./img/disk/disk-3.png", alt="img")
                            .swiper-slide 
                                .disk-slider__block-wrapper-item#diskSlidersItems-4
                                    img(src="./img/disk/disk-4.png", alt="img")
                            .swiper-slide 
                                .disk-slider__block-wrapper-item#diskSlidersItems-5
                                    img(src="./img/disk/disk-5.png", alt="img")
                            .swiper-slide 
                                .disk-slider__block-wrapper-item#diskSlidersItems-6
                                    img(src="./img/disk/disk-6.png", alt="img")
                            .swiper-slide 
                                .disk-slider__block-wrapper-item#diskSlidersItems-7
                                    img(src="./img/disk/disk-7.png", alt="img")
                            .swiper-slide 
                                .disk-slider__block-wrapper-item#diskSlidersItems-8
                                    img(src="./img/disk/disk-8.png", alt="img")
                            .swiper-slide 
                                .disk-slider__block-wrapper-item#diskSlidersItems-9
                                    img(src="./img/disk/disk-9.png", alt="img")
                            .swiper-slide 
                                .disk-slider__block-wrapper-item#diskSlidersItems-10
                                    img(src="./img/disk/disk-10.png", alt="img")
                            .swiper-slide 
                                .disk-slider__block-wrapper-item#diskSlidersItems-11
                                    img(src="./img/disk/disk-11.png", alt="img")
                            .swiper-slide 
                                .disk-slider__block-wrapper-item#diskSlidersItems-12
                                    img(src="./img/disk/disk-12.png", alt="img")
                            .swiper-slide 
                                .disk-slider__block-wrapper-item#diskSlidersItems-13
                                    img(src="./img/disk/disk-13.png", alt="img")
                            .swiper-slide 
                                .disk-slider__block-wrapper-item#diskSlidersItems-14
                                    img(src="./img/disk/disk-14.png", alt="img")
                            .swiper-slide 
                                .disk-slider__block-wrapper-item#diskSlidersItems-15
                                    img(src="./img/disk/disk-15.png", alt="img")
                            .swiper-slide 
                                .disk-slider__block-wrapper-item#diskSlidersItems-16
                                    img(src="./img/disk/disk-16.png", alt="img")
                            .swiper-slide 
                                .disk-slider__block-wrapper-item#diskSlidersItems-17
                                    img(src="./img/disk/disk-17.png", alt="img")
                            .swiper-slide 
                                .disk-slider__block-wrapper-item#diskSlidersItems-18
                                    img(src="./img/disk/disk-18.png", alt="img")
                            .swiper-slide 
                                .disk-slider__block-wrapper-item#diskSlidersItems-19
                                    img(src="./img/disk/disk-19.png", alt="img")
                            .swiper-slide 
                                .disk-slider__block-wrapper-item#diskSlidersItems-20
                                    img(src="./img/disk/disk-20.png", alt="img")
                            .swiper-slide 
                                .disk-slider__block-wrapper-item#diskSlidersItems-21
                                    img(src="./img/disk/disk-21.png", alt="img")
                            .swiper-slide 
                                .disk-slider__block-wrapper-item#diskSlidersItems-22
                                    img(src="./img/disk/disk-22.png", alt="img")
                            .swiper-slide 
                                .disk-slider__block-wrapper-item#diskSlidersItems-23
                                    img(src="./img/disk/disk-23.png", alt="img")
                            .swiper-slide 
                                .disk-slider__block-wrapper-item#diskSlidersItems-24
                                    img(src="./img/disk/disk-24.png", alt="img")
                            .swiper-slide 
                                .disk-slider__block-wrapper-item#diskSlidersItems-25
                                    img(src="./img/disk/disk-25.png", alt="img")
                    .swiper-controls 
                        .swiper-button-next 
                            <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6.53033 5.46967C6.82322 5.76256 6.82322 6.23744 6.53033 6.53033L1.75736 11.3033C1.46447 11.5962 0.989593 11.5962 0.696699 11.3033C0.403806 11.0104 0.403806 10.5355 0.696699 10.2426L4.93934 6L0.696699 1.75736C0.403806 1.46447 0.403806 0.989593 0.696699 0.696699C0.989593 0.403806 1.46447 0.403806 1.75736 0.696699L6.53033 5.46967ZM5 5.25H6V6.75H5V5.25Z" fill="black"/>
                            </svg>
                        .swiper-button-prev 
                            <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.46967 5.46967C0.176777 5.76256 0.176777 6.23744 0.46967 6.53033L5.24264 11.3033C5.53553 11.5962 6.01041 11.5962 6.3033 11.3033C6.59619 11.0104 6.59619 10.5355 6.3033 10.2426L2.06066 6L6.3033 1.75736C6.59619 1.46447 6.59619 0.989593 6.3033 0.696699C6.01041 0.403806 5.53553 0.403806 5.24264 0.696699L0.46967 5.46967ZM2 5.25H1V6.75H2V5.25Z" fill="white"/>
                            </svg>
                        .swiper-pagination

    section.disk-price 
        .containers 
            .disk-price__block 
                .disk-price__block-add 005
                .disk-price__block-title Расчет стоимости
                .disk-price__block-titles Вид покраски
                .disk-price__block-dye
                    .disk-price__block-dye-radio
                        input(class="disk-price__block-dye-radio__input" name="dye" type="radio" id="radio_1" checked)
                        label(class="disk-price__block-dye-radio__label" for="radio_1") Порошковая покраска

                    .disk-price__block-dye-radio
                        input(class="disk-price__block-dye-radio__input" name="dye" type="radio" id="radio_2")
                        label(class="disk-price__block-dye-radio__label" for="radio_2") Порошковая покраска "Эксклюзив"

                    .disk-price__block-dye-radio
                        input(class="disk-price__block-dye-radio__input" name="dye" type="radio" id="radio_3")
                        label(class="disk-price__block-dye-radio__label" for="radio_3") Алмазная шлифовка
                .disk-price__block-adds 
                    select#type
                        option(value="")
                        option(value="Литой") Литой
                        option(value="Штампованный") Штампованный
                    select#count
                        option(value="")
                        option(value="1") 1
                        option(value="2") 2
                        option(value="3") 3
                        option(value="4") 4
                        option(value="5") 5
                    select#radios
                        option(value="")
                        option(value="R13") R13
                        option(value="R14") R14
                        option(value="R15") R15
                        option(value="R16") R16
                        option(value="R17") R17
                        option(value="R18") R18
                        option(value="R19") R19
                        option(value="R20") R20
                        option(value="R21") R21
                        option(value="R22") R22
                        option(value="R23") R23
                        option(value="R24") R24
                .disk-price__block-plus
                    p Дополнительные работы 
                .disk-price__block-catalog.display-n 
                    .disk-price__block-catalog-checkbox 
                        .disk-price__block-catalog-checkbox-item 
                            .disk-price__block-catalog-checkbox-title Покрытие лаком
                            .disk-price__block-catalog-checkbox-price 700 ₽
                            .disk-price__block-catalog-checkbox-block
                                input(type="checkbox" class="disk-price__block-catalog-checkbox-block-checkbox" id="diskexPriceCheckbox-1")
                                label(for="diskexPriceCheckbox-1")
                        .disk-price__block-catalog-checkbox-item 
                            .disk-price__block-catalog-checkbox-title Покраска канта диска
                            .disk-price__block-catalog-checkbox-price 1 750 ₽
                            .disk-price__block-catalog-checkbox-block
                                input(type="checkbox" class="disk-price__block-catalog-checkbox-block-checkbox" id="diskexPriceCheckbox-2")
                                label(for="diskexPriceCheckbox-2")
                    .disk-price__block-catalog-select 
                        .disk-price__block-catalog-select-item 
                            .disk-price__block-catalog-select-title Устранение царапин и сколов
                            .disk-price__block-catalog-select-price 700 ₽
                            .disk-price__block-catalog-select-block 
                                select#remove
                                    option(value="Нет") Нет
                                    option(value="Нет") Нет
                                    option(value="2") 2
                                    option(value="3") 3
                                    option(value="4") 4
                                    option(value="5") 5
                        .disk-price__block-catalog-select-item 
                            .disk-price__block-catalog-select-title Правка диска
                            .disk-price__block-catalog-select-price 700 ₽
                            .disk-price__block-catalog-select-block 
                                select#disk
                                    option(value="Нет") Нет
                                    option(value="Нет") Нет
                                    option(value="2") 2
                                    option(value="3") 3
                                    option(value="4") 4
                                    option(value="5") 5
                        .disk-price__block-catalog-select-item 
                            .disk-price__block-catalog-select-title Монтаж / демонтаж
                            .disk-price__block-catalog-select-price 700 ₽
                            .disk-price__block-catalog-select-block 
                                select#mounting
                                    option(value="Нет") Нет
                                    option(value="Нет") Нет
                                    option(value="2") 2
                                    option(value="3") 3
                                    option(value="4") 4
                                    option(value="5") 5
                        .disk-price__block-catalog-select-item 
                            .disk-price__block-catalog-select-title Балансировка
                            .disk-price__block-catalog-select-price 700 ₽
                            .disk-price__block-catalog-select-block 
                                select#balance
                                    option(value="Нет") Нет
                                    option(value="Нет") Нет
                                    option(value="2") 2
                                    option(value="3") 3
                                    option(value="4") 4
                                    option(value="5") 5
                        .disk-price__block-catalog-select-item 
                            .disk-price__block-catalog-select-title Съем / установка
                            .disk-price__block-catalog-select-price 700 ₽
                            .disk-price__block-catalog-select-block 
                                select#shooting
                                    option(value="Нет") Нет
                                    option(value="Нет") Нет
                                    option(value="2") 2
                                    option(value="3") 3
                                    option(value="4") 4
                                    option(value="5") 5
                        .disk-price__block-catalog-select-item 
                            .disk-price__block-catalog-select-title Доставка
                            .disk-price__block-catalog-select-price 700 ₽
                            .disk-price__block-catalog-select-block 
                                select#delivery
                                    option(value="Нет") Нет
                                    option(value="Нет") Нет
                                    option(value="В одну сторону") В одну сторону
                                    option(value="Туда - обратно") Туда - обратно
                                    
                .disk-price__block-banner 
                    h3 Итого:
                    p 4690₽
                    button.disk-price__block-banner-btn 
                        a(href="#") Заказать

    section.disk-discount
        .containers 
            .disk-discount__block 
                .disk-discount__block-add 
                    h3 %
                    p Скидки
                ul.disk-discount__block-banner
                    li.disk-discount__block-banner-item 
                        .disk-discount__block-banner-title Бесплатный выезд
                        .disk-discount__block-banner-text При заказе от 2 авто
                    li.disk-discount__block-banner-item 
                        .disk-discount__block-banner-title Скидка 10% на работы
                        .disk-discount__block-banner-text При заказе от 3 авто
                    li.disk-discount__block-banner-item 
                        .disk-discount__block-banner-title Скидка от 15%
                        .disk-discount__block-banner-text При заказе от 5 авто (информацию уточняйте у оператора)
                    li.disk-discount__block-banner-item 
                        .disk-discount__block-banner-title Скидка 10% на работы
                        .disk-discount__block-banner-text При заказе от 10 авто

    section.disk-abouts 
        .containers 
            .disk-abouts__block 
                .disk-abouts__block-text 
                    .disk-abouts__block-text-add 006
                    .disk-abouts__block-text-title Фото дисков до и после покраски
                    .disk-abouts__block-text-description Для нас важно, чтобы вы остались довольны полученными услугами. Поэтому мы выделили критерии, которыми стараемся незменно следовать:
                    ul.disk-abouts__block-text-list 
                        li.disk-abouts__block-text-list-items Заботливое отношение к нашим клиентам;
                        li.disk-abouts__block-text-list-items Качество предоставляемой услуги;
                        li.disk-abouts__block-text-list-items Доступная цена покраски дисков;
                        li.disk-abouts__block-text-list-items Минимальные сроки исполнения заказа.
                    .disk-abouts__block-text-item Мы убеждены, что успех нашей работы зависит от этих факторов. Наши специалисты обладают большим опытом покраски, и отлично разбирается в своем деле.
                        br
                        br
                        | Ознакомиться с технологическим процессом порошковой покраски дисков вы можете в разделе статьи, написанные нашими специалистами.
                .disk-abouts__block-img 
                    .disk-abouts__block-img-slider 
                        .swiper.diskSliderAbouts
                            .swiper-wrapper
                                .swiper-slide 
                                    .disk-abouts__block-img-slider-item#diskSlidersAboutItems-1
                                        img(src="./img/disk/abouts-1.png", alt="img")
                                .swiper-slide 
                                    .disk-abouts__block-img-slider-item#diskSlidersAboutItems-2
                                        img(src="./img/disk/abouts-2.png", alt="img")
                                .swiper-slide 
                                    .disk-abouts__block-img-slider-item#diskSlidersAboutItems-3
                                        img(src="./img/disk/abouts-3.png", alt="img")
                                .swiper-slide 
                                    .disk-abouts__block-img-slider-item#diskSlidersAboutItems-4
                                        img(src="./img/disk/abouts-4.png", alt="img")
                                .swiper-slide 
                                    .disk-abouts__block-img-slider-item#diskSlidersAboutItems-5
                                        img(src="./img/disk/abouts-5.png", alt="img")
                                .swiper-slide 
                                    .disk-abouts__block-img-slider-item#diskSlidersAboutItems-6
                                        img(src="./img/disk/abouts-6.png", alt="img")
                        .swiper-controls 
                            .swiper-button-next 
                                <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M6.53033 5.46967C6.82322 5.76256 6.82322 6.23744 6.53033 6.53033L1.75736 11.3033C1.46447 11.5962 0.989593 11.5962 0.696699 11.3033C0.403806 11.0104 0.403806 10.5355 0.696699 10.2426L4.93934 6L0.696699 1.75736C0.403806 1.46447 0.403806 0.989593 0.696699 0.696699C0.989593 0.403806 1.46447 0.403806 1.75736 0.696699L6.53033 5.46967ZM5 5.25H6V6.75H5V5.25Z" fill="black"/>
                                </svg>
                            .swiper-button-prev 
                                <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0.46967 5.46967C0.176777 5.76256 0.176777 6.23744 0.46967 6.53033L5.24264 11.3033C5.53553 11.5962 6.01041 11.5962 6.3033 11.3033C6.59619 11.0104 6.59619 10.5355 6.3033 10.2426L2.06066 6L6.3033 1.75736C6.59619 1.46447 6.59619 0.989593 6.3033 0.696699C6.01041 0.403806 5.53553 0.403806 5.24264 0.696699L0.46967 5.46967ZM2 5.25H1V6.75H2V5.25Z" fill="white"/>
                                </svg>
                            .swiper-pagination

    section.disk-easy 
        .containers 
            .disk-easy__block 
                .disk-easy__block-add 007
                .disk-easy__block-title С нами удобно!
                ul.disk-easy__block-list
                    li.disk-easy__block-item
                        .disk-easy__block-item-icons 
                        .disk-easy__block-item-title Среднее время ожидания - 20 минут
                        .disk-easy__block-item-text Самый быстрый шиномонтаж по времени прибытия в Москве
                    li.disk-easy__block-item
                        .disk-easy__block-item-icons 
                        .disk-easy__block-item-title Гарантия на ремонт
                        .disk-easy__block-item-text Гарантия на балансировку 14 дней, на ремонт шин - 3 года
                    li.disk-easy__block-item
                        .disk-easy__block-item-icons 
                        .disk-easy__block-item-title Круглосуточно
                        .disk-easy__block-item-text 24 часа. У нас нет выходных и праздников
                    li.disk-easy__block-item
                        .disk-easy__block-item-icons 
                        .disk-easy__block-item-title Приедем тогда, когда вам удобно
                        .disk-easy__block-item-text Мы приедем максимально быстро или в то время когда удобно вам
                    li.disk-easy__block-item
                        .disk-easy__block-item-icons 
                        .disk-easy__block-item-title Даже если шина не подлежит ремонту!
                        .disk-easy__block-item-text При необходимости купим и привезём новую или б/у шину на замену вашей
                    li.disk-easy__block-item
                        .disk-easy__block-item-icons 
                        .disk-easy__block-item-title Повышаем компетенции сотрудников
                        .disk-easy__block-item-text Все сотрудники проходят полное обучение технологиям ремонта от американских инструкторов

    section.disk-video 
        .containers 
            .disk-video__block 
                .disk-video__block-add 008
                .disk-video__block-title Видео окрашенных дисков
                .disk-video__block-slider 
                    .swiper.diskSliderVideo 
                        .swiper-wrapper 
                            .swiper-slide <iframe width="1020px" height="458px" src="https://www.youtube.com/embed/TUyKjJV-XyQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            .swiper-slide <iframe width="1020px" height="458px" src="https://www.youtube.com/embed/16tGtDASTYs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            .swiper-slide <iframe width="1020px" height="458px" src="https://www.youtube.com/embed/kwkq3E26nCg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            .swiper-slide <iframe width="1020px" height="458px" src="https://www.youtube.com/embed/P704Rhzaxt8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    .swiper-controls 
                        .swiper-button-next 
                            <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6.53033 5.46967C6.82322 5.76256 6.82322 6.23744 6.53033 6.53033L1.75736 11.3033C1.46447 11.5962 0.989593 11.5962 0.696699 11.3033C0.403806 11.0104 0.403806 10.5355 0.696699 10.2426L4.93934 6L0.696699 1.75736C0.403806 1.46447 0.403806 0.989593 0.696699 0.696699C0.989593 0.403806 1.46447 0.403806 1.75736 0.696699L6.53033 5.46967ZM5 5.25H6V6.75H5V5.25Z" fill="black"/>
                            </svg>
                        .swiper-button-prev 
                            <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.46967 5.46967C0.176777 5.76256 0.176777 6.23744 0.46967 6.53033L5.24264 11.3033C5.53553 11.5962 6.01041 11.5962 6.3033 11.3033C6.59619 11.0104 6.59619 10.5355 6.3033 10.2426L2.06066 6L6.3033 1.75736C6.59619 1.46447 6.59619 0.989593 6.3033 0.696699C6.01041 0.403806 5.53553 0.403806 5.24264 0.696699L0.46967 5.46967ZM2 5.25H1V6.75H2V5.25Z" fill="white"/>
                            </svg>

    section.disk-examples
        .containers 
            .disk-examples__block 
                .disk-examples__block-add 009
                .disk-examples__block-title Наши работы по покраске дисков
                ul.disk-examples__block-tabs 
                    li#diskExampleTabsElement-1.disk-examples__block-tabs-item.disk-examples__block-tabs-item-active Избранное
                    li#diskExampleTabsElement-2.disk-examples__block-tabs-item Белый
                    li#diskExampleTabsElement-3.disk-examples__block-tabs-item Бронза
                    li#diskExampleTabsElement-4.disk-examples__block-tabs-item Графит
                    li#diskExampleTabsElement-5.disk-examples__block-tabs-item Два цвета
                    
                    li#diskExampleTabsElement-6.disk-examples__block-tabs-item Желтый
                    li#diskExampleTabsElement-7.disk-examples__block-tabs-item Зеленый
                    li#diskExampleTabsElement-8.disk-examples__block-tabs-item Золото
                    li#diskExampleTabsElement-9.disk-examples__block-tabs-item Коричневый
                    li#diskExampleTabsElement-10.disk-examples__block-tabs-item Красный

                    li#diskExampleTabsElement-11.disk-examples__block-tabs-item Лак
                    li#diskExampleTabsElement-12.disk-examples__block-tabs-item Металлик
                    li#diskExampleTabsElement-13.disk-examples__block-tabs-item Мото
                    li#diskExampleTabsElement-14.disk-examples__block-tabs-item Оранжевый
                    li#diskExampleTabsElement-15.disk-examples__block-tabs-item Серебро

                    li#diskExampleTabsElement-16.disk-examples__block-tabs-item Серый
                    li#diskExampleTabsElement-17.disk-examples__block-tabs-item Синий
                    li#diskExampleTabsElement-18.disk-examples__block-tabs-item Хром
                    li#diskExampleTabsElement-19.disk-examples__block-tabs-item Черный
                    li#diskExampleTabsElement-20.disk-examples__block-tabs-item Эксклюзив
                ul.disk-examples__block-catalog#diskExampleTabsBlock-1
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-1
                        img(src="./img/disk/exp-1.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-2
                        img(src="./img/disk/exp-2.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-3
                        img(src="./img/disk/exp-3.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-4
                        img(src="./img/disk/exp-4.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-5
                        img(src="./img/disk/exp-5.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-6
                        img(src="./img/disk/exp-6.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-7
                        img(src="./img/disk/exp-7.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-8
                        img(src="./img/disk/exp-8.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-9
                        img(src="./img/disk/exp-9.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-10
                        img(src="./img/disk/exp-10.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-11
                        img(src="./img/disk/exp-11.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-12
                        img(src="./img/disk/exp-12.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-13
                        img(src="./img/disk/exp-13.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-14
                        img(src="./img/disk/exp-14.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-15
                        img(src="./img/disk/exp-15.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-16
                        img(src="./img/disk/exp-16.png", alt="img")
                ul.disk-examples__block-catalog.display-n#diskExampleTabsBlock-2
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-17
                        img(src="./img/disk/exp-17.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-18
                        img(src="./img/disk/exp-18.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-19
                        img(src="./img/disk/exp-19.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-20
                        img(src="./img/disk/exp-20.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-21
                        img(src="./img/disk/exp-21.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-22
                        img(src="./img/disk/exp-22.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-23
                        img(src="./img/disk/exp-23.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-24
                        img(src="./img/disk/exp-24.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-25
                        img(src="./img/disk/exp-25.png", alt="img")
                ul.disk-examples__block-catalog.display-n#diskExampleTabsBlock-3
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-26
                        img(src="./img/disk/exp-26.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-27
                        img(src="./img/disk/exp-27.png", alt="img")
                ul.disk-examples__block-catalog.display-n#diskExampleTabsBlock-4
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-28
                        img(src="./img/disk/exp-28.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-29
                        img(src="./img/disk/exp-29.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-30
                        img(src="./img/disk/exp-30.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-31
                        img(src="./img/disk/exp-31.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-32
                        img(src="./img/disk/exp-32.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-33
                        img(src="./img/disk/exp-33.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-34
                        img(src="./img/disk/exp-34.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-35
                        img(src="./img/disk/exp-35.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-36
                        img(src="./img/disk/exp-36.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-37
                        img(src="./img/disk/exp-37.png", alt="img")
                ul.disk-examples__block-catalog.display-n#diskExampleTabsBlock-5
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-38
                        img(src="./img/disk/exp-38.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-39
                        img(src="./img/disk/exp-39.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-40
                        img(src="./img/disk/exp-40.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-41
                        img(src="./img/disk/exp-41.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-42
                        img(src="./img/disk/exp-42.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-43
                        img(src="./img/disk/exp-43.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-44
                        img(src="./img/disk/exp-44.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-45
                        img(src="./img/disk/exp-45.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-46
                        img(src="./img/disk/exp-46.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-47
                        img(src="./img/disk/exp-47.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-48
                        img(src="./img/disk/exp-48.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-49
                        img(src="./img/disk/exp-49.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-50
                        img(src="./img/disk/exp-50.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-51
                        img(src="./img/disk/exp-51.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-52
                        img(src="./img/disk/exp-52.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-53
                        img(src="./img/disk/exp-53.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-54
                        img(src="./img/disk/exp-54.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-55
                        img(src="./img/disk/exp-55.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-56
                        img(src="./img/disk/exp-56.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-57
                        img(src="./img/disk/exp-57.png", alt="img")
                ul.disk-examples__block-catalog.display-n#diskExampleTabsBlock-6
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-58
                        img(src="./img/disk/exp-58.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-59
                        img(src="./img/disk/exp-59.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-60
                        img(src="./img/disk/exp-60.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-61
                        img(src="./img/disk/exp-61.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-62
                        img(src="./img/disk/exp-62.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-63
                        img(src="./img/disk/exp-63.png", alt="img")
                ul.disk-examples__block-catalog.display-n#diskExampleTabsBlock-7
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-64
                        img(src="./img/disk/exp-64.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-65
                        img(src="./img/disk/exp-65.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-66
                        img(src="./img/disk/exp-66.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-67
                        img(src="./img/disk/exp-67.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-68
                        img(src="./img/disk/exp-68.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-69
                        img(src="./img/disk/exp-69.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-70
                        img(src="./img/disk/exp-70.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-71
                        img(src="./img/disk/exp-71.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-72
                        img(src="./img/disk/exp-72.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-73
                        img(src="./img/disk/exp-73.png", alt="img")
                ul.disk-examples__block-catalog.display-n#diskExampleTabsBlock-8
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-74
                        img(src="./img/disk/exp-74.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-75
                        img(src="./img/disk/exp-75.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-76
                        img(src="./img/disk/exp-76.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-77
                        img(src="./img/disk/exp-77.png", alt="img")
                ul.disk-examples__block-catalog.display-n#diskExampleTabsBlock-9
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-78
                        img(src="./img/disk/exp-78.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-79
                        img(src="./img/disk/exp-79.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-80
                        img(src="./img/disk/exp-80.png", alt="img")
                ul.disk-examples__block-catalog.display-n#diskExampleTabsBlock-10
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-81
                        img(src="./img/disk/exp-81.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-82
                        img(src="./img/disk/exp-82.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-83
                        img(src="./img/disk/exp-83.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-84
                        img(src="./img/disk/exp-84.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-85
                        img(src="./img/disk/exp-85.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-86
                        img(src="./img/disk/exp-86.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-87
                        img(src="./img/disk/exp-87.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-88
                        img(src="./img/disk/exp-88.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-89
                        img(src="./img/disk/exp-89.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-90
                        img(src="./img/disk/exp-90.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-91
                        img(src="./img/disk/exp-91.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-92
                        img(src="./img/disk/exp-92.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-93
                        img(src="./img/disk/exp-93.png", alt="img")
                ul.disk-examples__block-catalog.display-n#diskExampleTabsBlock-11
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-94
                        img(src="./img/disk/exp-94.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-95
                        img(src="./img/disk/exp-95.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-96
                        img(src="./img/disk/exp-96.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-97
                        img(src="./img/disk/exp-97.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-98
                        img(src="./img/disk/exp-98.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-99
                        img(src="./img/disk/exp-99.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-100
                        img(src="./img/disk/exp-100.png", alt="img")
                ul.disk-examples__block-catalog.display-n#diskExampleTabsBlock-12
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-101
                        img(src="./img/disk/exp-101.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-102
                        img(src="./img/disk/exp-102.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-103
                        img(src="./img/disk/exp-103.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-104
                        img(src="./img/disk/exp-104.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-105
                        img(src="./img/disk/exp-105.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-106
                        img(src="./img/disk/exp-106.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-107
                        img(src="./img/disk/exp-107.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-108
                        img(src="./img/disk/exp-108.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-109
                        img(src="./img/disk/exp-109.png", alt="img")
                ul.disk-examples__block-catalog.display-n#diskExampleTabsBlock-13
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-110
                        img(src="./img/disk/exp-110.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-111
                        img(src="./img/disk/exp-111.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-112
                        img(src="./img/disk/exp-112.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-113
                        img(src="./img/disk/exp-113.png", alt="img")
                ul.disk-examples__block-catalog.display-n#diskExampleTabsBlock-14
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-114
                        img(src="./img/disk/exp-114.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-115
                        img(src="./img/disk/exp-115.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-116
                        img(src="./img/disk/exp-116.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-117
                        img(src="./img/disk/exp-117.png", alt="img")
                ul.disk-examples__block-catalog.display-n#diskExampleTabsBlock-15
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-118
                        img(src="./img/disk/exp-118.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-119
                        img(src="./img/disk/exp-119.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-120
                        img(src="./img/disk/exp-120.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-121
                        img(src="./img/disk/exp-121.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-122
                        img(src="./img/disk/exp-122.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-123
                        img(src="./img/disk/exp-123.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-124
                        img(src="./img/disk/exp-124.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-125
                        img(src="./img/disk/exp-125.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-126
                        img(src="./img/disk/exp-126.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-127
                        img(src="./img/disk/exp-127.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-128
                        img(src="./img/disk/exp-128.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-129
                        img(src="./img/disk/exp-129.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-130
                        img(src="./img/disk/exp-130.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-131
                        img(src="./img/disk/exp-131.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-132
                        img(src="./img/disk/exp-132.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-133
                        img(src="./img/disk/exp-133.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-134
                        img(src="./img/disk/exp-134.png", alt="img")
                ul.disk-examples__block-catalog.display-n#diskExampleTabsBlock-16
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-135
                        img(src="./img/disk/exp-135.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-136
                        img(src="./img/disk/exp-136.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-137
                        img(src="./img/disk/exp-137.png", alt="img")
                ul.disk-examples__block-catalog.display-n#diskExampleTabsBlock-17
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-138
                        img(src="./img/disk/exp-138.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-139
                        img(src="./img/disk/exp-139.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-140
                        img(src="./img/disk/exp-140.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-141
                        img(src="./img/disk/exp-141.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-142
                        img(src="./img/disk/exp-142.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-143
                        img(src="./img/disk/exp-143.png", alt="img")
                ul.disk-examples__block-catalog.display-n#diskExampleTabsBlock-18
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-144
                        img(src="./img/disk/exp-144.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-145
                        img(src="./img/disk/exp-145.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-146
                        img(src="./img/disk/exp-146.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-147
                        img(src="./img/disk/exp-147.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-148
                        img(src="./img/disk/exp-148.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-149
                        img(src="./img/disk/exp-149.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-150
                        img(src="./img/disk/exp-150.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-151
                        img(src="./img/disk/exp-151.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-152
                        img(src="./img/disk/exp-152.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-153
                        img(src="./img/disk/exp-153.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-154
                        img(src="./img/disk/exp-154.png", alt="img")
                ul.disk-examples__block-catalog.display-n#diskExampleTabsBlock-19
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-155
                        img(src="./img/disk/exp-155.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-156
                        img(src="./img/disk/exp-156.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-157
                        img(src="./img/disk/exp-157.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-158
                        img(src="./img/disk/exp-158.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-159
                        img(src="./img/disk/exp-159.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-160
                        img(src="./img/disk/exp-160.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-161
                        img(src="./img/disk/exp-161.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-162
                        img(src="./img/disk/exp-162.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-163
                        img(src="./img/disk/exp-163.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-164
                        img(src="./img/disk/exp-164.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-165
                        img(src="./img/disk/exp-165.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-166
                        img(src="./img/disk/exp-166.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-167
                        img(src="./img/disk/exp-167.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-168
                        img(src="./img/disk/exp-168.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-169
                        img(src="./img/disk/exp-169.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-170
                        img(src="./img/disk/exp-170.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-171
                        img(src="./img/disk/exp-171.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-172
                        img(src="./img/disk/exp-172.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-173
                        img(src="./img/disk/exp-173.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-174
                        img(src="./img/disk/exp-174.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-175
                        img(src="./img/disk/exp-175.png", alt="img")
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-176
                        img(src="./img/disk/exp-176.png", alt="img")
                ul.disk-examples__block-catalog.display-n#diskExampleTabsBlock-20
                    li.disk-examples__block-catalog-item#diskSlidersExamplesItems-177
                        img(src="./img/disk/exp-177.png", alt="img")


    @@include('components/_footer.pug')
    @@include('components/_modelDiskSliders.pug')
    @@include('components/_modelDiskAboutSlider.pug')
    @@include('components/_modelDiskExamplesSliders.pug')
    @@include('components/_menu.pug')
    @@include('components/_modelOrderCall.pug')

@@include('components/_script.pug')