@@include('components/_head.pug')

    @@include('components/_header.pug')



    section.hernia-header 
        .containers 
            .hernia-header__block
                .hernia-header__block-title Ремонт боковых порезов шин, ремонт грыжи
                .hernia-header__block-add Ремонт боковых порезов шин, ремонт грыжи на шине с помощью специальной технологии «Tech» с пожизненной гарантией.
                .hernia-header__block-banner 
                    img(src="./img/header-banner.png" alt="img")

    section.hernia-about 
        .containers 
            .hernia-about__block 
                .hernia-about__block-img 
                    img(src="./img/about.png", alt="img")
                .hernia-about__block-content 
                    .hernia-about__block-content-text
                        .hernia-about__block-content-text-add 004
                        .hernia-about__block-content-text-title Причины возникновения
                        .hernia-about__block-content-text-item Из-за неудовлетворительного состояния автомобильных дорог, в пути с машиной могут случиться самые разные поломки, но наиболее опасной из них является боковой порез шины или прокол колеса. 
                    .hernia-about__block-content-add 
                        p Если вдруг вы столкнулись с такой неприятностью, позвоните нам. Наши специалисты всегда вам помогут, выполнив профессиональный ремонт боковых порезов шин или ремонт грыжи на шине.
                            button.hernia-about__block-content-add-btn
                                a(href="#") Связаться

    section.hernia-work
        .containers 
            .hernia-work__block 
                .hernia-work__block-add 003
                .hernia-work__block-title Как мы работаем?
                .hernia-work__block-description Вам нужно только позвонить или оставить заявку на сайте - всё остальное сделаем мы!
                .hernia-work__block-wrapper
                    ul.hernia-work__block-wrapper-list
                        li.hernia-work__block-wrapper-item
                            .hernia-work__block-wrapper-item-title Свяжитесь с нами
                            .hernia-work__block-wrapper-item-text По телефону или оставьте заявку
                        li.hernia-work__block-wrapper-item
                            .hernia-work__block-wrapper-item-title Оформите заказ
                            .hernia-work__block-wrapper-item-text Наш менеджер уточнит детали заказа и сориентирует по стоимости работ
                        li.hernia-work__block-wrapper-item
                            .hernia-work__block-wrapper-item-title К вам приедет мастер 
                            .hernia-work__block-wrapper-item-text Наш менеджер уточнит детали заказа и сориентирует по стоимости работ

    section.hernia-list 
        .containers 
            .hernia-list__block 
                .hernia-list__block-add 002
                .hernia-list__block-title Цены на ремонт боковых порезов шин:
                .hernia-list__block-wrapper 
                    .hernia-list__block-wrapper-title радиус:
                    ul.hernia-list__block-wrapper-list
                        li.hernia-list__block-wrapper-list-item R13
                        li.hernia-list__block-wrapper-list-item R14
                        li.hernia-list__block-wrapper-list-item R15
                        li.hernia-list__block-wrapper-list-item R16
                        li.hernia-list__block-wrapper-list-item R17
                        li.hernia-list__block-wrapper-list-item R18
                        li.hernia-list__block-wrapper-list-item R19
                        li.hernia-list__block-wrapper-list-item R20
                .hernia-list__block-wrappers
                    .hernia-list__block-wrappers-title ЛЕГКОВЫЕ
                    ul.hernia-list__block-wrappers-list
                        li.hernia-list__block-wrappers-list-item 600 ₽
                        li.hernia-list__block-wrappers-list-item 650 ₽
                        li.hernia-list__block-wrappers-list-item 700 ₽
                        li.hernia-list__block-wrappers-list-item 750 ₽
                        li.hernia-list__block-wrappers-list-item 800 ₽
                        li.hernia-list__block-wrappers-list-item 950 ₽
                        li.hernia-list__block-wrappers-list-item 1 000 ₽
                        li.hernia-list__block-wrappers-list-item 1 100 ₽
                .hernia-list__block-wrappers 
                    .hernia-list__block-wrappers-title Внедорожники минивэны
                    ul.hernia-list__block-wrappers-list
                        li.hernia-list__block-wrappers-list-item 600 ₽
                        li.hernia-list__block-wrappers-list-item 650 ₽
                        li.hernia-list__block-wrappers-list-item 700 ₽
                        li.hernia-list__block-wrappers-list-item 750 ₽
                        li.hernia-list__block-wrappers-list-item 800 ₽
                        li.hernia-list__block-wrappers-list-item 950 ₽
                        li.hernia-list__block-wrappers-list-item 1 000 ₽
                        li.hernia-list__block-wrappers-list-item 1 100 ₽
            .hernia-list__about 
                .hernia-list__about-text 
                    .hernia-list__about-text-add Стоит отметить, технология ремонта бокового пореза шины или ремонта грыжи колеса (техн.Tech), которую мы применяем, всегда соблюдается, что дает возможность проводить ремонт шин на очень высоком уровне. Сделав ремонт шин (в том числе ремонт бокового пореза) в нашей компании, вы еще долгое время сможете использовать свои колеса по назначению, так как мы даем пожизненную гарантию на выполненные работы. Благодаря высокому качеству и низким ценам ремонт боковых порезов и ремонт шин в компании «Пит-Стоп» — часто востребованная услуга. К нам приезжают тысячи автолюбителей, желающих сделать ремонт шин у специалиста, качеству работы которого они доверяют.
                .hernia-list__about-banner
                    .hernia-list__about-banner-item
                        .hernia-list__about-banner-items 
                    button.hernia-list__about-banner-btn
                        a(href="#") Связаться

    section.hernia-easy 
        .containers 
            .hernia-easy__block 
                .hernia-easy__block-add 002
                .hernia-easy__block-title С нами удобно!
                ul.hernia-easy__block-list
                    li.hernia-easy__block-item
                        .hernia-easy__block-item-icons 
                        .hernia-easy__block-item-title Среднее время ожидания - 20 минут
                        .hernia-easy__block-item-text Самый быстрый шиномонтаж по времени прибытия в Москве
                    li.hernia-easy__block-item
                        .hernia-easy__block-item-icons 
                        .hernia-easy__block-item-title Гарантия на ремонт
                        .hernia-easy__block-item-text Гарантия на балансировку 14 дней, на ремонт шин - 3 года
                    li.hernia-easy__block-item
                        .hernia-easy__block-item-icons 
                        .hernia-easy__block-item-title Круглосуточно
                        .hernia-easy__block-item-text 24 часа. У нас нет выходных и праздников
                    li.hernia-easy__block-item
                        .hernia-easy__block-item-icons 
                        .hernia-easy__block-item-title Приедем тогда, когда вам удобно
                        .hernia-easy__block-item-text Мы приедем максимально быстро или в то время когда удобно вам
                    li.hernia-easy__block-item
                        .hernia-easy__block-item-icons 
                        .hernia-easy__block-item-title Даже если шина не подлежит ремонту!
                        .hernia-easy__block-item-text При необходимости купим и привезём новую или б/у шину на замену вашей
                    li.hernia-easy__block-item
                        .hernia-easy__block-item-icons 
                        .hernia-easy__block-item-title Повышаем компетенции сотрудников
                        .hernia-easy__block-item-text Все сотрудники проходят полное обучение технологиям ремонта от американских инструкторов

    section.hernia-work 
        .containers 
            .hernia-work__about 
                .hernia-work__about-text 
                    .hernia-work__about-text-add 
                        | Для ремонта боковых порезов шин наши мастера используют самые современные материалы, которые способны с гарантией устранить подобные неисправности. Надежность шин, отремонтированных в нашей компании сопоставима с надежностью новой шины, ведь возникновение повторных дефектов на том же участке, полностью исключено. По этой причине мы можем с ответственностью заявить, что ваши шины еще долгое время смогут служить вам!
                        br
                        br
                        | Кроме того, к нам часто обращаются с просьбой оказать услугу ремонта грыжи. Грыжа колеса может возникнуть от сильного удара, либо от неаккуратной парковки на бордюре. Однако по какой бы причине она не возникла, это мешает полноценной эксплуатации вашего автомобиля. Имея большой опыт и квалификацию, специалисты «Пит-Стоп» устранят грыжу на высоком уровне и с минимальными затратами времени и денег.
                        br
                        br
                        | Сервис «Пит-Стоп» проводит высококачественный ремонт боковых порезов шин и устранение грыж. Мы любим свою работу и подходим к ней со всей ответственностью, понимая, что от нас зависят жизни людей, чем и заслужили доверие большинства наших клиентов!
                .hernia-work__about-banner
                    .hernia-work__about-banner-item
                        .hernia-work__about-banner-items 
                    button.hernia-work__about-banner-btn
                        a(href="#") Связаться

    section.hernia-process
        .containers 
            .hernia-process__block 
                .hernia-process__block-add 002
                .hernia-process__block-title Технологический процесс ремонта бокового пореза:

                .hernia-process__block-number 01
                .hernia-process__block-description  Итак. Перед вами боковой порез покрышки. В первую очередь покрышка демонтируется. Затем края бокового пореза обрабатываются кусачками, для лучшего проваривания...
                ul.hernia-process__block-list 
                    li.hernia-process__block-list-item
                    li.hernia-process__block-list-item
                    li.hernia-process__block-list-item
                .hernia-process__block-number 02
                .hernia-process__block-description  Далее боковой пореза зачищается бормашинкой и обрабатывается специальным составом...
                ul.hernia-process__block-list 
                    li.hernia-process__block-list-item
                    li.hernia-process__block-list-item
                    li.hernia-process__block-list-item
                .hernia-process__block-number 03
                .hernia-process__block-description  Затем подготавливается сырая резина: нарезается тонкими полосками и растягивается.Боковой порез забивается сырой резиной.
                ul.hernia-process__block-list 
                    li.hernia-process__block-list-item
                    li.hernia-process__block-list-item
                    li.hernia-process__block-list-item
                    li.hernia-process__block-list-item
                .hernia-process__block-number 04
                .hernia-process__block-description  И заваривается на вулканизаторе.
                ul.hernia-process__block-list 
                    li.hernia-process__block-list-item
                    li.hernia-process__block-list-item
                .hernia-process__block-number 05
                .hernia-process__block-description  Далее размечается место под специальную, кордовую заплатку.
                ul.hernia-process__block-list 
                    li.hernia-process__block-list-item
                    li.hernia-process__block-list-item
                    li.hernia-process__block-list-item
                    li.hernia-process__block-list-item
                .hernia-process__block-number 06
                .hernia-process__block-description  Боковая часть покрышки зачищается бормашинкой. Обрабатывается обезжиривателем и намазывается специальным клеем. Когда клей подсохнет, начинаем процесс холодной вулканизации.
                ul.hernia-process__block-list 
                    li.hernia-process__block-list-item
                    li.hernia-process__block-list-item
                    li.hernia-process__block-list-item
                    li.hernia-process__block-list-item
                .hernia-process__block-number 07
                .hernia-process__block-description  Края заплатки обрабатываются герметиком.
                ul.hernia-process__block-list 
                    li.hernia-process__block-list-item
                    li.hernia-process__block-list-item
                .hernia-process__block-adds 
                    | Шина монтируется на диск и балансируется. Колесо готово к эксплуатации.
                    br
                    br
                    | Счастливого пути!


    @@include('components/_footer.pug')

@@include('components/_script.pug')