@@include('components/_head.pug')

    @@include('components/_header.pug')

    section.ind-header 
        .containers 
            .ind-header__block 
                .ind-header__block-add Алмазная полировка
                .ind-header__block-title Алмазная полировка автомобильных дисков
                .ind-header__block-btn 
                    a(href="#") Узнать подробнее
                .ind-header__block-scroll 
                    <svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.54279 7.01813C5.83568 7.31103 6.31056 7.31103 6.60345 7.01813L11.3764 2.24516C11.6693 1.95227 11.6693 1.4774 11.3764 1.1845C11.0835 0.89161 10.6087 0.89161 10.3158 1.1845L6.07312 5.42714L1.83048 1.1845C1.53759 0.89161 1.06271 0.89161 0.769819 1.1845C0.476926 1.4774 0.476926 1.95227 0.769819 2.24516L5.54279 7.01813ZM5.32312 5.63415L5.32312 6.4878L6.82312 6.4878L6.82312 5.63415L5.32312 5.63415Z" fill="white"/>
                    </svg>
                ul.ind-header__block-contact 
                    li.ind-header__block-contact-item 
                        a(href="#") Facebook
                    li.ind-header__block-contact-item 
                        a(href="#") Twitter
                    li.ind-header__block-contact-item 
                        a(href="#") Instagram
                    li.ind-header__block-contact-item 
                        a(href="#") Youtube
                ul.ind-header__block-slider-list 
                    li#headerSliderListItem-1.ind-header__block-slider-list-item.ind-header__block-slider-list-item-active Алмазная полировка
                    li#headerSliderListItem-2.ind-header__block-slider-list-item Ремонт дисков
                    li#headerSliderListItem-3.ind-header__block-slider-list-item Порошковая покраска
                    li#headerSliderListItem-4.ind-header__block-slider-list-item Установка шин
                    li#headerSliderListItem-5.ind-header__block-slider-list-item Покраска
                .ind-header__block-banner 
                    img(src="./img/header-banner.png", alt="img", class="ind-header__block-banner-item")
                    .ind-header__block-banner-add 
                        img(src="./img/header-banners.png", alt="img")
                        p 002 
                .ind-header__block-arrow 
                    .ind-header__block-arrow-prev#headerSliderArrowPrev
                        <svg id="headerSliderArrowPrev" width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.46967 5.46967C0.176777 5.76256 0.176777 6.23744 0.46967 6.53033L5.24264 11.3033C5.53553 11.5962 6.01041 11.5962 6.3033 11.3033C6.59619 11.0104 6.59619 10.5355 6.3033 10.2426L2.06066 6L6.3033 1.75736C6.59619 1.46447 6.59619 0.989593 6.3033 0.696699C6.01041 0.403806 5.53553 0.403806 5.24264 0.696699L0.46967 5.46967ZM2 5.25H1V6.75H2V5.25Z" fill="white"/>
                        </svg>
                    .ind-header__block-arrow-next#headerSliderArrowNext
                        <svg id="headerSliderArrowNext" width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.53033 5.46967C6.82322 5.76256 6.82322 6.23744 6.53033 6.53033L1.75736 11.3033C1.46447 11.5962 0.989593 11.5962 0.696699 11.3033C0.403806 11.0104 0.403806 10.5355 0.696699 10.2426L4.93934 6L0.696699 1.75736C0.403806 1.46447 0.403806 0.989593 0.696699 0.696699C0.989593 0.403806 1.46447 0.403806 1.75736 0.696699L6.53033 5.46967ZM5 5.25H6V6.75H5V5.25Z" fill="black"/>
                        </svg>
                ul.ind-header__block-pagination 
                    li#headerSliderPaginationItem-1.ind-header__block-pagination-item.ind-header__block-pagination-item-active
                    li#headerSliderPaginationItem-2.ind-header__block-pagination-item
                    li#headerSliderPaginationItem-3.ind-header__block-pagination-item
                    li#headerSliderPaginationItem-4.ind-header__block-pagination-item
                    li#headerSliderPaginationItem-5.ind-header__block-pagination-item

    section.ind-about 
        .containers 
            .ind-about__block 
                .ind-about__block-img 
                    img(src="./img/about.png", alt="img")
                .ind-about__block-content 
                    .ind-about__block-content-text
                        .ind-about__block-content-text-add 001
                        .ind-about__block-content-text-title PIT-STOP
                        .ind-about__block-content-text-item «Пит-Стоп» — сеть автосервисов, где работают профессионалы, которые решат любую проблему, связанную с ремонтом шин, либо ремонтом, восстановлением и покраской литых дисков. 
                    .ind-about__block-content-add
                        p Мы рады вам предложить услуги наших точек, находящихся в разных местах Москвы: Марьино, Ленинградское шоссе, Можайское шоссе, Рязанский проспект, Ярославское шоссе.
                            button.ind-about__block-content-add-btn
                                a(href="#") Узнать подробнее

    section.ind-slider 
        .containers 
            .ind-slider__block 
                .ind-slider__block-add 002
                .ind-slider__block-title Шиномонтаж и покраска дисков  Пит-Стоп
                ul.ind-slider__block-tabs
                    li#headerSliderTabsElement-1.ind-slider__block-tabs-item.ind-slider__block-tabs-item-active Покраска
                    li#headerSliderTabsElement-2.ind-slider__block-tabs-item Шиномонтаж
                    li#headerSliderTabsElement-3.ind-slider__block-tabs-item Другие услуги
                .ind-slider__block-slider#headerSliderTabsSlider-1
                    .swiper.indexSliderCars-1
                        .swiper-wrapper
                            .swiper-slide 
                                .ind-slider__block-slider-item
                                    .ind-slider__block-slider-item-img 
                                        img(src="./img/slider-1.png", alt="img")
                                    .ind-slider__block-slider-item-text 
                                        .ind-slider__block-slider-item-title Покраска дисков
                                        .ind-slider__block-slider-item-text Порошковая покраска дисков за 1 день на собственном оборудовании
                                        a(href="#", class="ind-slider__block-slider-item-link") 
                                            <svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M2.5978 0V2.38704H13.5932L0 14.3474L1.82215 16.0303L15.4154 4.0699V14.2248H18V0H2.5978Z" fill="white"/>
                                            </svg>
                            .swiper-slide 
                                .ind-slider__block-slider-item
                                    .ind-slider__block-slider-item-img 
                                        img(src="./img/slider-2.png", alt="img")
                                    .ind-slider__block-slider-item-text 
                                        .ind-slider__block-slider-item-title Покраска изделий
                                        .ind-slider__block-slider-item-text Порошковая покраска изделий и деталей
                                        a(href="#", class="ind-slider__block-slider-item-link") 
                                            <svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M2.5978 0V2.38704H13.5932L0 14.3474L1.82215 16.0303L15.4154 4.0699V14.2248H18V0H2.5978Z" fill="white"/>
                                            </svg>
                            .swiper-slide 
                                .ind-slider__block-slider-item
                                    .ind-slider__block-slider-item-img 
                                        img(src="./img/slider-3.png", alt="img")
                                    .ind-slider__block-slider-item-text 
                                        .ind-slider__block-slider-item-title Алмазная шлифовка
                                        .ind-slider__block-slider-item-text Алмазная шлифовка дисков с порошковой покраской
                                        a(href="#", class="ind-slider__block-slider-item-link") 
                                            <svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M2.5978 0V2.38704H13.5932L0 14.3474L1.82215 16.0303L15.4154 4.0699V14.2248H18V0H2.5978Z" fill="white"/>
                                            </svg>
                    .swiper-controls.display-n#headerSliderTabsControlsSlider-1
                        .swiper-button-next
                            .swiper-button-next-arrow
                        .swiper-button-prev
                            .swiper-button-prev-arrow
                        .swiper-pagination
                .ind-slider__block-slider.display-n#headerSliderTabsSlider-2
                    .swiper.indexSliderCars-2
                        .swiper-wrapper
                            .swiper-slide 
                                .ind-slider__block-slider-item
                                    .ind-slider__block-slider-item-img 
                                        img(src="./img/slider-4.png", alt="img")
                                    .ind-slider__block-slider-item-text 
                                        .ind-slider__block-slider-item-title Ремонт дисков
                                        .ind-slider__block-slider-item-text Ремонтируем литые и штампованные автомобильные диски
                                        a(href="#", class="ind-slider__block-slider-item-link") 
                                            <svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M2.5978 0V2.38704H13.5932L0 14.3474L1.82215 16.0303L15.4154 4.0699V14.2248H18V0H2.5978Z" fill="white"/>
                                            </svg>
                            .swiper-slide 
                                .ind-slider__block-slider-item
                                    .ind-slider__block-slider-item-img 
                                        img(src="./img/slider-5.png", alt="img")
                                    .ind-slider__block-slider-item-text 
                                        .ind-slider__block-slider-item-title Балансировка колес
                                        .ind-slider__block-slider-item-text Балансировка колес на современном оборудовании
                                        a(href="#", class="ind-slider__block-slider-item-link") 
                                            <svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M2.5978 0V2.38704H13.5932L0 14.3474L1.82215 16.0303L15.4154 4.0699V14.2248H18V0H2.5978Z" fill="white"/>
                                            </svg>
                            .swiper-slide 
                                .ind-slider__block-slider-item
                                    .ind-slider__block-slider-item-img 
                                        img(src="./img/slider-6.png", alt="img")
                                    .ind-slider__block-slider-item-text 
                                        .ind-slider__block-slider-item-title Вулканизация шин
                                        .ind-slider__block-slider-item-text Недорогая и быстрая вулканизация шин с пожизненной гарантией
                                        a(href="#", class="ind-slider__block-slider-item-link") 
                                            <svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M2.5978 0V2.38704H13.5932L0 14.3474L1.82215 16.0303L15.4154 4.0699V14.2248H18V0H2.5978Z" fill="white"/>
                                            </svg>
                            .swiper-slide 
                                .ind-slider__block-slider-item
                                    .ind-slider__block-slider-item-img 
                                        img(src="./img/slider-7.png", alt="img")
                                    .ind-slider__block-slider-item-text 
                                        .ind-slider__block-slider-item-title Ремонт боковых порезов
                                        .ind-slider__block-slider-item-text Качественный и быстрый ремонт автомобильных кондиционеров
                                        a(href="#", class="ind-slider__block-slider-item-link") 
                                            <svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M2.5978 0V2.38704H13.5932L0 14.3474L1.82215 16.0303L15.4154 4.0699V14.2248H18V0H2.5978Z" fill="white"/>
                                            </svg>
                            .swiper-slide 
                                .ind-slider__block-slider-item
                                    .ind-slider__block-slider-item-img 
                                        img(src="./img/slider-8.png", alt="img")
                                    .ind-slider__block-slider-item-text 
                                        .ind-slider__block-slider-item-title Аргонная сварка
                                        .ind-slider__block-slider-item-text Сварка любых металлических деталей
                                        a(href="#", class="ind-slider__block-slider-item-link") 
                                            <svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M2.5978 0V2.38704H13.5932L0 14.3474L1.82215 16.0303L15.4154 4.0699V14.2248H18V0H2.5978Z" fill="white"/>
                                            </svg>
                    .swiper-controls.display-n#headerSliderTabsControlsSlider-2
                        .swiper-button-next
                            .swiper-button-next-arrow
                        .swiper-button-prev
                            .swiper-button-prev-arrow
                        .swiper-pagination
                .ind-slider__block-slider.display-n#headerSliderTabsSlider-3
                    .swiper.indexSliderCars-3
                        .swiper-wrapper
                            .swiper-slide 
                                .ind-slider__block-slider-item
                                    .ind-slider__block-slider-item-img 
                                        img(src="./img/slider-9.png", alt="img")
                                    .ind-slider__block-slider-item-text 
                                        .ind-slider__block-slider-item-title Хранение шин
                                        .ind-slider__block-slider-item-text Надежное хранение шин в специально оборудованных складах
                                        a(href="#", class="ind-slider__block-slider-item-link") 
                                            <svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M2.5978 0V2.38704H13.5932L0 14.3474L1.82215 16.0303L15.4154 4.0699V14.2248H18V0H2.5978Z" fill="white"/>
                                            </svg>
                            .swiper-slide 
                                .ind-slider__block-slider-item
                                    .ind-slider__block-slider-item-img 
                                        img(src="./img/slider-10.png", alt="img")
                                    .ind-slider__block-slider-item-text 
                                        .ind-slider__block-slider-item-title Заправка автокондиционеров
                                        .ind-slider__block-slider-item-text Качественная заправка автокондиционера на итальянском оборудовании
                                        a(href="#", class="ind-slider__block-slider-item-link") 
                                            <svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M2.5978 0V2.38704H13.5932L0 14.3474L1.82215 16.0303L15.4154 4.0699V14.2248H18V0H2.5978Z" fill="white"/>
                                            </svg>
                            .swiper-slide 
                                .ind-slider__block-slider-item
                                    .ind-slider__block-slider-item-img 
                                        img(src="./img/slider-11.png", alt="img")
                                    .ind-slider__block-slider-item-text 
                                        .ind-slider__block-slider-item-title Ремонт автокондиционеров
                                        .ind-slider__block-slider-item-text Недорогая и быстрая вулканизация шин с пожизненной гарантией
                                        a(href="#", class="ind-slider__block-slider-item-link") 
                                            <svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M2.5978 0V2.38704H13.5932L0 14.3474L1.82215 16.0303L15.4154 4.0699V14.2248H18V0H2.5978Z" fill="white"/>
                                            </svg>
                    .swiper-controls.display-n#headerSliderTabsControlsSlider-3
                        .swiper-button-next
                            .swiper-button-next-arrow
                        .swiper-button-prev
                            .swiper-button-prev-arrow
                        .swiper-pagination
                .ind-slider__block-btns 
                    button.ind-slider__block-btn 
                        a(href="#") Все услуги

    section.ind-price 
        .containers 
            .ind-price__block 
                .ind-price__block-add 003
                .ind-price__block-title Расчет стоимости
                .ind-price__block-titles Вид покраски
                .ind-price__block-dye
                    .ind-price__block-dye-radio
                        input(class="ind-price__block-dye-radio__input" name="dye" type="radio" id="radio_1" checked)
                        label(class="ind-price__block-dye-radio__label" for="radio_1") Порошковая покраска

                    .ind-price__block-dye-radio
                        input(class="ind-price__block-dye-radio__input" name="dye" type="radio" id="radio_2")
                        label(class="ind-price__block-dye-radio__label" for="radio_2") Порошковая покраска "Эксклюзив"

                    .ind-price__block-dye-radio
                        input(class="ind-price__block-dye-radio__input" name="dye" type="radio" id="radio_3")
                        label(class="ind-price__block-dye-radio__label" for="radio_3") Алмазная шлифовка
                .ind-price__block-adds 
                    select#type
                        option(value="")
                        option(value="Литой") Литой
                        option(value="Штампованный") Штампованный
                    select#count
                        option(value="")
                        option(value="1") 1
                        option(value="2") 2
                        option(value="3") 3
                        option(value="4") 4
                        option(value="5") 5
                    select#radios
                        option(value="")
                        option(value="R13") R13
                        option(value="R14") R14
                        option(value="R15") R15
                        option(value="R16") R16
                        option(value="R17") R17
                        option(value="R18") R18
                        option(value="R19") R19
                        option(value="R20") R20
                        option(value="R21") R21
                        option(value="R22") R22
                        option(value="R23") R23
                        option(value="R24") R24
                .ind-price__block-plus
                    a(href="#") Дополнительные работы 
                .ind-price__block-catalog   
                    .ind-price__block-catalog-checkbox 
                        .ind-price__block-catalog-checkbox-item 
                            .ind-price__block-catalog-checkbox-title Покрытие лаком
                            .ind-price__block-catalog-checkbox-price 700 ₽
                            .ind-price__block-catalog-checkbox-block
                                input(type="checkbox" class="ind-price__block-catalog-checkbox-block-checkbox" id="indexPriceCheckbox-1")
                                label(for="indexPriceCheckbox-1")
                        .ind-price__block-catalog-checkbox-item 
                            .ind-price__block-catalog-checkbox-title Покраска канта диска
                            .ind-price__block-catalog-checkbox-price 1 750 ₽
                            .ind-price__block-catalog-checkbox-block
                                input(type="checkbox" class="ind-price__block-catalog-checkbox-block-checkbox" id="indexPriceCheckbox-2")
                                label(for="indexPriceCheckbox-2")
                    .ind-price__block-catalog-select 
                        .ind-price__block-catalog-select-item 
                            .ind-price__block-catalog-select-title 
                            .ind-price__block-catalog-select-price 
                            .ind-price__block-catalog-select-block 
                                select#remove
                                    option(value="Нет") Нет
                                    option(value="Нет") Нет
                                    option(value="2") 2
                                    option(value="3") 3
                                    option(value="4") 4
                                    option(value="5") 5
                .ind-price__block-banner 
                    h3 Итого:
                    p 4690₽
                    button.ind-price__block-banner-btn 
                        a(href="#") Заказать

    section.ind-abouts 
        .containers 
            .ind-abouts__block 
                .ind-abouts__block-img 
                    img(src="./img/abouts.png", alt="img")
                .ind-abouts__block-content 
                    .ind-abouts__block-content-text
                        .ind-abouts__block-content-text-add 004
                        .ind-abouts__block-content-text-title PIT-STOP
                        .ind-abouts__block-content-text-item Мы знаем и любим своё дело, и вкладываем в свою работу максимум профессионализма и компетенции. Помимо услуг по шиномонтажу у нас активно развивается направление порошковой окраски дисков, где мы достигаем выдающихся результатов. Все наши работы строго регламентируются, чтобы предоставить максимальное качество вне зависимости от сложности ремонта.
                    .ind-abouts__block-content-add
                        p В процессе ремонта дисков и других деталей мы используем аргонную сварку, с помощью которой исправляем, казалось бы, совсем безнадежные поломки. Причем, в месте сварки прочность диска не отличается от оригинального.
                        p Для шиномонтажа, ремонта и окраски мы используем профессиональное оборудование, качественные краски и материалы, что позволяет достигать высоких результатов.

    section.ind-shop
        .containers 
            .ind-shop__block 
                .ind-shop__block-add 003
                .ind-shop__block-title Магазин
                ul.ind-shop__block-catalog 
                    li.ind-shop__block-catalog-item
                        .ind-shop__block-catalog-item-img 
                            img(src="./img/shop.png", alt="img")
                        .ind-shop__block-catalog-item-text 
                            h3 Шины
                            p 4690₽
                    li.ind-shop__block-catalog-item
                        .ind-shop__block-catalog-item-img 
                            img(src="./img/shop.png", alt="img")
                        .ind-shop__block-catalog-item-text 
                            h3 Шины
                            p 4690₽
                    li.ind-shop__block-catalog-item
                        .ind-shop__block-catalog-item-img 
                            img(src="./img/shop.png", alt="img")
                        .ind-shop__block-catalog-item-text 
                            h3 Шины
                            p 4690₽
                    li.ind-shop__block-catalog-item
                        .ind-shop__block-catalog-item-img 
                            img(src="./img/shop.png", alt="img")
                        .ind-shop__block-catalog-item-text 
                            h3 Шины
                            p 4690₽
                    li.ind-shop__block-catalog-item
                        .ind-shop__block-catalog-item-img 
                            img(src="./img/shop.png", alt="img")
                        .ind-shop__block-catalog-item-text 
                            h3 Шины
                            p 4690₽
                    li.ind-shop__block-catalog-item
                        .ind-shop__block-catalog-item-img 
                            img(src="./img/shop.png", alt="img")
                        .ind-shop__block-catalog-item-text 
                            h3 Шины
                            p 4690₽
                    li.ind-shop__block-catalog-item
                        .ind-shop__block-catalog-item-img 
                            img(src="./img/shop.png", alt="img")
                        .ind-shop__block-catalog-item-text 
                            h3 Шины
                            p 4690₽
                    li.ind-shop__block-catalog-item
                        .ind-shop__block-catalog-item-img 
                            img(src="./img/shop.png", alt="img")
                        .ind-shop__block-catalog-item-text 
                            h3 Шины
                            p 4690₽

    section.ind-examples
        .containers 
            .ind-examples__block 
                .ind-examples__block-add 005
                .ind-examples__block-title Примеры наших работ
                ul.ind-examples__block-tabs 
                    li#indexExampleTabsElement-1.ind-examples__block-tabs-item.ind-examples__block-tabs-item-active Все
                    li#indexExampleTabsElement-2.ind-examples__block-tabs-item Покраска
                    li#indexExampleTabsElement-3.ind-examples__block-tabs-item Полировка
                    li#indexExampleTabsElement-4.ind-examples__block-tabs-item Ремонт дисков
                    li#indexExampleTabsElement-5.ind-examples__block-tabs-item Аргоновая сварка
                ul.ind-examples__block-catalog#indexExampleTabsBlock-1
                    li.ind-examples__block-catalog-item 
                        img(src="./img/examples-1.png", alt="img")
                    li.ind-examples__block-catalog-item 
                        img(src="./img/examples-2.png", alt="img")
                    li.ind-examples__block-catalog-item 
                        img(src="./img/examples-3.png", alt="img")
                    li.ind-examples__block-catalog-item 
                        img(src="./img/examples-4.png", alt="img")
                    li.ind-examples__block-catalog-item 
                        img(src="./img/examples-5.png", alt="img")
                    li.ind-examples__block-catalog-item 
                        img(src="./img/examples-6.png", alt="img")
                    li.ind-examples__block-catalog-item 
                        img(src="./img/examples-7.png", alt="img")
                    li.ind-examples__block-catalog-item 
                        img(src="./img/examples-8.png", alt="img")
                    li.ind-examples__block-catalog-item 
                        img(src="./img/examples-9.png", alt="img")
                    li.ind-examples__block-catalog-item 
                        img(src="./img/examples-10.png", alt="img")
                    li.ind-examples__block-catalog-item 
                        img(src="./img/examples-11.png", alt="img")
                    li.ind-examples__block-catalog-item 
                        img(src="./img/examples-12.png", alt="img")
                ul.ind-examples__block-catalog.display-n#indexExampleTabsBlock-2
                    li.ind-examples__block-catalog-item 
                        img(src="./img/examples-1.png", alt="img")
                    li.ind-examples__block-catalog-item 
                        img(src="./img/examples-2.png", alt="img")
                    li.ind-examples__block-catalog-item 
                        img(src="./img/examples-3.png", alt="img")
                    li.ind-examples__block-catalog-item 
                        img(src="./img/examples-4.png", alt="img")
                    li.ind-examples__block-catalog-item 
                        img(src="./img/examples-5.png", alt="img")
                    li.ind-examples__block-catalog-item 
                        img(src="./img/examples-6.png", alt="img")
                    li.ind-examples__block-catalog-item 
                        img(src="./img/examples-7.png", alt="img")
                ul.ind-examples__block-catalog.display-n#indexExampleTabsBlock-3
                    li.ind-examples__block-catalog-item 
                        img(src="./img/examples-8.png", alt="img")
                    li.ind-examples__block-catalog-item 
                        img(src="./img/examples-9.png", alt="img")
                    li.ind-examples__block-catalog-item 
                        img(src="./img/examples-10.png", alt="img")
                    li.ind-examples__block-catalog-item 
                        img(src="./img/examples-11.png", alt="img")
                    li.ind-examples__block-catalog-item 
                        img(src="./img/examples-12.png", alt="img")
                ul.ind-examples__block-catalog.display-n#indexExampleTabsBlock-4
                    li.ind-examples__block-catalog-item 
                        img(src="./img/examples-13.png", alt="img")
                    li.ind-examples__block-catalog-item 
                        img(src="./img/examples-14.png", alt="img")
                ul.ind-examples__block-catalog.display-n#indexExampleTabsBlock-5
                    li.ind-examples__block-catalog-item 
                        img(src="./img/examples-13.png", alt="img")

    @@include('components/_footer.pug')
    @@include('components/_menu.pug')

@@include('components/_script.pug')
