@@include('components/_head.pug')

    @@include('components/_header.pug')


    section.contact-header 
        .containers 
            .contact-header__block
                .contact-header__block-title Контакты
                .contact-header__block-img 
                    img(src="./img/contact/banner.png" alt="img")
                .contact-header__block-wrapper 
                    .contact-header__block-text 
                        .contact-header__block-text-add 001
                        .contact-header__block-text-title Шиномонтаж Пит-Стоп на Ленинградском шоссе
                        .contact-header__block-text-phone +7 495 021-88-78
                        .contact-header__block-text-address ул. Лавочкина, 23С4
                        .contact-header__block-text-description Рядом - Левобережный район и метро Речной вокзал.
                        .contact-header__block-text-time с 9:00 - 21:00
                        .contact-header__block-text-email E-mail: shini-pitstop@yandex.ru
                        .contact-header__block-text-item Шиномонтаж "Пит-Стоп на Ленинградке" находится рядом с Ленинградским шоссе, район Ховрино, САО, Речной вокзал. Мы делаем шиномонтаж и весь комплекс услуг автосервиса для жителей Москвы и близлежащих улиц: Фестивальная, Лавочкина, Смольная, Дыбенко, Беломорская, Петрозаводская, а также Левобережного района.
                            br
                            br
                            | Пит-Стоп на Ленинградском шоссе оказывает все услуги: шиномонтаж, вулканизация шин, ремонт боковых порезов и шин, вулканизация, ремонт литых дисков, правка дисков, аргоновая сварка, порошковая покраска дисков, ремонт и заправка кондиционеров. Многие автомобилисты Москвы находят нас по запросу "шиномонтаж САО", и не разочаровываются в этом. Наши специалисты обладают высокой квалификацией и опытом в шиномонтажных работах.
                    .contact-header__block-banner
                        .contact-header__block-banner-item 
                            .contact-header__block-banner-items 
                                img(src="img/contact/len.png", alt="png")
                        .contact-header__block-banner-map 
                            <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A280753dc5442c97c288c370eaac18cc100057f4be2ca7005639deb46968e1a68&amp;source=constructor" width="100%" height="474px" frameborder="0"></iframe>


    section.contact-mapg 
        .containers 
            .contact-mapg__block 
                .contact-mapg__block-add 002
                .contact-mapg__block-title Панорама на Гугл-картах
                .contact-mapg__block-map
                    <iframe src="https://www.google.com/maps/embed?pb=!4v1637075411318!6m8!1m7!1s1EWikqGENzFut9uc33qjkA!2m2!1d55.86481467827547!2d37.48540533399959!3f257.7126125388487!4f-6.300210513745554!5f1.3551700703280263" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

    section.contact-mapy 
        .containers 
            .contact-mapy__block 
                .contact-mapy__block-add 003
                .contact-mapy__block-title Панорама на Гугл-картах
                .contact-mapy__block-map
                    <div style="position:relative;overflow:hidden;"><a href="https://yandex.ru/maps/213/moscow/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Москва</a><a href="https://yandex.ru/maps/213/moscow/house/ulitsa_lavochkina_23s4/Z04Ycg9kQUEBQFtvfXR3dXpiZQ==/panorama/?ll=37.484847%2C55.864611&panorama%5Bdirection%5D=275.612413%2C0.958904&panorama%5Bfull%5D=true&panorama%5Bpoint%5D=37.485467%2C55.864649&panorama%5Bspan%5D=112.126025%2C60.000000&source=wizgeo&tab=panorama&utm_medium=mapframe&utm_source=maps&z=17.15" style="color:#eee;font-size:12px;position:absolute;top:14px;">Улица Лавочкина, 23с4 — Яндекс.Карты</a><iframe src="https://yandex.ru/map-widget/v1/-/CCUuuFUPdA" width="100%" height="400" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>


    @@include('components/_footer.pug')
    @@include('components/_menu.pug')

@@include('components/_script.pug')