@@include('components/_head.pug')

    @@include('components/_header.pug')


    section.contact-header 
        .containers 
            .contact-header__block
                .contact-header__block-title Контакты
                .contact-header__block-img 
                    img(src="./img/contact/banner.png" alt="img")
                .contact-header__block-wrapper 
                    .contact-header__block-text 
                        .contact-header__block-text-add 001
                        .contact-header__block-text-title Шиномонтаж ЮВАО, Марьино - Пит-Стоп
                        .contact-header__block-text-phone +7 495 021-88-78
                        .contact-header__block-text-address ул. Перерва, 30
                        .contact-header__block-text-description в нашем здании находится магазин Автозапчасти и кафе Пандок
                        .contact-header__block-text-time с 9:00 - 21:00
                        .contact-header__block-text-email E-mail: shini-pitstop@yandex.ru
                        .contact-header__block-text-item В ЮВАО, Марьино у нас находится основное производство по покраске литых дисков и точка шиномонтажа. Здесь мы оказываем все услуги по шиномонтажу: "переобувка", балансировка колес, ремонт боковых порезов и другие услуги. 
                            br
                            br
                            | В шиномонтаже Марьино, ЮВАО работает два поста. Для вашего удобства вы можете посетить нас как в порядке "живой" очереди, так записаться на нужное вам время. Основной упор мы делаем на качестве предоставляемых услуг, и скорости выполняемых работ. Все оборудование для шиномонтажа проходит периодическую проверку, регулярно обслуживается и калибруется. Наши специалисты обладают большим опытом и нужной квалификацией для выполнения самых сложных шиномонтажных работ. 
                            br
                            br
                            | Шиномонтажкой в Марьино могут воспользоваться как автовладельцы в ЮВАО, так и ближлежайших районов и округов - ЮАО, Люблино, Печатники и др. Также наши клиенты те, кто часто ищет шиномонтаж на Люблинской улице - это совсем рядом.
                    .contact-header__block-banner
                        .contact-header__block-banner-item 
                            .contact-header__block-banner-items 
                                img(src="img/contact/contact-3.png", alt="png")
                        .contact-header__block-banner-map 
                            <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A739683c29386458985badd88a95b2efeca237a479e4fde37e0bb56325ebf5dde&amp;source=constructor" width="636px" height="474px" frameborder="0"></iframe>

    section.contact-mapg 
        .containers 
            .contact-mapg__block 
                .contact-mapg__block-add 002
                .contact-mapg__block-title Панорама на Гугл-картах
                .contact-mapg__block-map
                    <iframe src="https://www.google.com/maps/embed?pb=!4v1637071455286!6m8!1m7!1sr7k-gnY2JE8SeCrdAhlxfA!2m2!1d55.6531482443318!2d37.73385964330441!3f177.32118967473082!4f-2.277757530780363!5f0.4701745181386488" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

    section.contact-mapy 
        .containers 
            .contact-mapy__block 
                .contact-mapy__block-add 003
                .contact-mapy__block-title Панорама на Гугл-картах
                .contact-mapy__block-map
                    <div style="position:relative;overflow:hidden;"><a href="https://yandex.ru/maps/213/moscow/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Москва</a><a href="https://yandex.ru/maps/213/moscow/house/ulitsa_pererva_30/Z04YcQRjT0AEQFtvfXp0c3llbA==/?ll=37.733652%2C55.652568&panorama%5Bdirection%5D=169.743457%2C3.317541&panorama%5Bfull%5D=true&panorama%5Bpoint%5D=37.733803%2C55.653187&panorama%5Bspan%5D=82.632228%2C37.710401&source=wizgeo&utm_medium=mapframe&utm_source=maps&z=17" style="color:#eee;font-size:12px;position:absolute;top:14px;">Улица Перерва, 30 на карте Москвы, ближайшее метро Марьино — Яндекс.Карты</a><iframe src="https://yandex.ru/map-widget/v1/-/CCUuuYhypD" width="100%" height="400" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>


    @@include('components/_footer.pug')
    @@include('components/_menu.pug')

@@include('components/_script.pug')