@@include('components/_head.pug')

    @@include('components/_header.pug')


    section.contact-header 
        .containers 
            .contact-header__block
                .contact-header__block-title Контакты
                .contact-header__block-img 
                    img(src="./img/contact/banner.png" alt="img")
                .contact-header__block-wrapper 
                    .contact-header__block-text 
                        .contact-header__block-text-add 001
                        .contact-header__block-text-title Пит-Стоп на Можайском шоссе
                        .contact-header__block-text-phone +7 495 021-88-78
                        .contact-header__block-text-address МКАД 53 км, 6
                        .contact-header__block-text-description Сервис находится на Можайской развязке (заезд только со стороны МКАД).
                        .contact-header__block-text-time с 9:00 - 20:00 , СБ-ВС: 9:00 - 19:00
                        .contact-header__block-text-email E-mail: shini-pitstop@yandex.ru
                        .contact-header__block-text-item Пит-Стоп на Можайском шоссе оказывает все услуги шиномонтажа и окраски дисков. Точка находится в удобном месте - на Можайской развязке (ЗАО), и может принимать автомобилистов как с Можайки, так и МКАД. Выполняем шиномонтаж, вулканизацию шин, правку и ремонт литых дисков, аргонную сварку, ремонт боковых порезов шин, заправку кондиционеров. Также у нас вы можете сдать диски на порошковую окраску и алмазную шлифовку (полировку). 
                    .contact-header__block-banner
                        .contact-header__block-banner-item 
                            .contact-header__block-banner-items 
                                img(src="img/contact/mog.png", alt="png")
                        .contact-header__block-banner-map 
                            <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A6f30f8029104caf6a0713b8267e4043753788adc3822c28c12796cdfdeef21c8&amp;source=constructor" width="100%" height="720" frameborder="0"></iframe>


    @@include('components/_footer.pug')
    @@include('components/_menu.pug')

@@include('components/_script.pug')