@@include('components/_head.pug')

    @@include('components/_header.pug')


    section.paint-header 
        .containers 
            .paint-header__block
                .paint-header__block-title Порошковая покраска металлических изделий и деталей
                .paint-header__block-banner 
                    img(src="./img/painting/banner.png" alt="img")
                .paint-header__block-wrapper 
                    .paint-header__block-content 
                        .paint-header__block-content-text Быстрая и качественная порошковая покраска любых металлических изделий на собственном оборудовании. Порошковая окраска суппортов, рам, других автомобильных и мотоциклетных деталей.
                        .paint-header__block-content-add 
                            h3 Гарантия 2 года.
                            a(href="#") Посмотреть цены
                    .paint-header__block-add
                        ul.paint-header__block-add-list
                            li.paint-header__block-add-item         
                                .paint-header__block-add-item-icons 
                                    <svg width="4" height="18" viewBox="0 0 4 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M3.28516 12.1953H0.636719L0.0390625 0.195312H3.88281L3.28516 12.1953ZM0.601562 16.6953C0.226562 16.3359 0.0390625 15.918 0.0390625 15.4414C0.0390625 14.957 0.226562 14.5352 0.601562 14.1758C0.976562 13.8164 1.42969 13.6367 1.96094 13.6367C2.49219 13.6367 2.94531 13.8164 3.32031 14.1758C3.69531 14.5352 3.88281 14.957 3.88281 15.4414C3.88281 15.918 3.69531 16.3359 3.32031 16.6953C2.94531 17.0547 2.49219 17.2344 1.96094 17.2344C1.42969 17.2344 0.976562 17.0547 0.601562 16.6953Z" fill="white"/>
                                    </svg>
                                .paint-header__block-add-item-text Перед порошковой покраской деталей -  пескоструйная обработка. На изделия наносится антикоррозийное покрытие и грунтовка.
                button.paint-header__block-btn
                                a(href="#") Связаться

    section.paint-easy 
        .containers 
            .paint-easy__block 
                .paint-easy__block-add 001
                .paint-easy__block-title С нами удобно!
                ul.paint-easy__block-list
                    li.paint-easy__block-item
                        .paint-easy__block-item-icons 
                        .paint-easy__block-item-title Среднее время ожидания - 20 минут
                        .paint-easy__block-item-text Самый быстрый шиномонтаж по времени прибытия в Москве
                    li.paint-easy__block-item
                        .paint-easy__block-item-icons 
                        .paint-easy__block-item-title Гарантия на ремонт
                        .paint-easy__block-item-text Гарантия на балансировку 14 дней, на ремонт шин - 3 года
                    li.paint-easy__block-item
                        .paint-easy__block-item-icons 
                        .paint-easy__block-item-title Круглосуточно
                        .paint-easy__block-item-text 24 часа. У нас нет выходных и праздников
                    li.paint-easy__block-item
                        .paint-easy__block-item-icons 
                        .paint-easy__block-item-title Приедем тогда, когда вам удобно
                        .paint-easy__block-item-text Мы приедем максимально быстро или в то время когда удобно вам
                    li.paint-easy__block-item
                        .paint-easy__block-item-icons 
                        .paint-easy__block-item-title Даже если шина не подлежит ремонту!
                        .paint-easy__block-item-text При необходимости купим и привезём новую или б/у шину на замену вашей
                    li.paint-easy__block-item
                        .paint-easy__block-item-icons 
                        .paint-easy__block-item-title Повышаем компетенции сотрудников
                        .paint-easy__block-item-text Все сотрудники проходят полное обучение технологиям ремонта от американских инструкторов

    section.paint-about 
        .containers 
            .paint-about__block 
                .paint-about__block-img 
                    img(src="./img/painting/abouts.png", alt="img")
                .paint-about__block-content 
                    .paint-about__block-content-text
                        .paint-about__block-content-text-add 002
                        .paint-about__block-content-text-title PIT-STOP
                        .paint-about__block-content-text-item Несмотря на то, что наше основное направление — порошковая покраска дисков, мы берем на покраску и различные изделия из металла. Чаще это тормозные суппорты, их обычно окрашивают вместе с дисками, чтобы их красиво выделить и подчеркнуть контраст этой детали.
                    .paint-about__block-content-add
                        p Порошковая покраска занимает один-три дня. Стоимость покраски изделий зависит от сложности, размера и количества изделий. В среднем, 
                            span 500-1000 руб. 
                            | за деталь. Позвоните нам, мы быстро посчитаем: 
                            br
                            span +7 495 021-88-78.
                            button.paint-about__block-content-add-btn
                                a(href="#") Связаться

    section.paint-work
        .containers 
            .paint-work__block 
                .paint-work__block-add 003
                .paint-work__block-title Как мы работаем?
                .paint-work__block-description Вам нужно только позвонить или оставить заявку на сайте - всё остальное сделаем мы!
                .paint-work__block-wrapper
                    ul.paint-work__block-wrapper-list
                        li.paint-work__block-wrapper-item
                            .paint-work__block-wrapper-item-title Свяжитесь с нами
                            .paint-work__block-wrapper-item-text По телефону или оставьте заявку
                        li.paint-work__block-wrapper-item
                            .paint-work__block-wrapper-item-title Оформите заказ
                            .paint-work__block-wrapper-item-text Наш менеджер уточнит детали заказа и сориентирует по стоимости работ
                        li.paint-work__block-wrapper-item
                            .paint-work__block-wrapper-item-title К вам приедет мастер 
                            .paint-work__block-wrapper-item-text Наш менеджер уточнит детали заказа и сориентирует по стоимости работ

    section.paint-examples
        .containers 
            .paint-examples__block 
                .paint-examples__block-add 004
                .paint-examples__block-title Наши работы по покраске дисков
                ul.paint-examples__block-tabs 
                    li#paintExampleTabsElement-1.paint-examples__block-tabs-item.paint-examples__block-tabs-item-active Избранное
                    li#paintExampleTabsElement-2.paint-examples__block-tabs-item Детали
                    li#paintExampleTabsElement-3.paint-examples__block-tabs-item Изделия
                    li#paintExampleTabsElement-4.paint-examples__block-tabs-item Суппорт
                ul.paint-examples__block-catalog#paintExampleTabsBlock-1
                    li.paint-examples__block-catalog-item#paintingExampleItems-1
                        img(src="./img/painting/painting-1.png", alt="img")
                    li.paint-examples__block-catalog-item#paintingExampleItems-2
                        img(src="./img/painting/painting-2.png", alt="img")
                    li.paint-examples__block-catalog-item#paintingExampleItems-3
                        img(src="./img/painting/painting-3.png", alt="img")
                    li.paint-examples__block-catalog-item#paintingExampleItems-4
                        img(src="./img/painting/painting-4.png", alt="img")
                    li.paint-examples__block-catalog-item#paintingExampleItems-5
                        img(src="./img/painting/painting-5.png", alt="img")
                    li.paint-examples__block-catalog-item#paintingExampleItems-6
                        img(src="./img/painting/painting-6.png", alt="img")
                    li.paint-examples__block-catalog-item#paintingExampleItems-7
                        img(src="./img/painting/painting-7.png", alt="img")
                    li.paint-examples__block-catalog-item#paintingExampleItems-8
                        img(src="./img/painting/painting-8.png", alt="img")
                    li.paint-examples__block-catalog-item#paintingExampleItems-9
                        img(src="./img/painting/painting-9.png", alt="img")
                    li.paint-examples__block-catalog-item#paintingExampleItems-10
                        img(src="./img/painting/painting-10.png", alt="img")
                    li.paint-examples__block-catalog-item#paintingExampleItems-11
                        img(src="./img/painting/painting-11.png", alt="img")
                    li.paint-examples__block-catalog-item#paintingExampleItems-12
                        img(src="./img/painting/painting-13.png", alt="img")
                    li.paint-examples__block-catalog-item#paintingExampleItems-13
                        img(src="./img/painting/painting-19.png", alt="img")
                    li.paint-examples__block-catalog-item#paintingExampleItems-14
                        img(src="./img/painting/painting-12.png", alt="img")
                ul.paint-examples__block-catalog.display-n#paintExampleTabsBlock-2
                    li.paint-examples__block-catalog-item#paintingExampleItems-15
                        img(src="./img/painting/painting-3.png", alt="img")
                    li.paint-examples__block-catalog-item#paintingExampleItems-16
                        img(src="./img/painting/painting-2.png", alt="img")
                    li.paint-examples__block-catalog-item#paintingExampleItems-17
                        img(src="./img/painting/painting-4.png", alt="img")
                    li.paint-examples__block-catalog-item#paintingExampleItems-18
                        img(src="./img/painting/painting-6.png", alt="img")
                    li.paint-examples__block-catalog-item#paintingExampleItems-19
                        img(src="./img/painting/painting-9.png", alt="img")
                    li.paint-examples__block-catalog-item#paintingExampleItems-20
                        img(src="./img/painting/painting-10.png", alt="img")
                    li.paint-examples__block-catalog-item#paintingExampleItems-21
                        img(src="./img/painting/painting-7.png", alt="img")
                    li.paint-examples__block-catalog-item#paintingExampleItems-22
                        img(src="./img/painting/painting-8.png", alt="img")
                    li.paint-examples__block-catalog-item#paintingExampleItems-23
                        img(src="./img/painting/painting-15.png", alt="img")
                    li.paint-examples__block-catalog-item#paintingExampleItems-24
                        img(src="./img/painting/painting-11.png", alt="img")
                ul.paint-examples__block-catalog.display-n#paintExampleTabsBlock-3
                    li.paint-examples__block-catalog-item#paintingExampleItems-25
                        img(src="./img/painting/painting-5.png", alt="img")
                    li.paint-examples__block-catalog-item#paintingExampleItems-26
                        img(src="./img/painting/painting-19.png", alt="img")
                    li.paint-examples__block-catalog-item#paintingExampleItems-27
                        img(src="./img/painting/painting-13.png", alt="img")
                    li.paint-examples__block-catalog-item#paintingExampleItems-28
                        img(src="./img/painting/painting-17.png", alt="img")
                    li.paint-examples__block-catalog-item#paintingExampleItems-29
                        img(src="./img/painting/painting-18.png", alt="img")
                ul.paint-examples__block-catalog.display-n#paintExampleTabsBlock-4
                    li.paint-examples__block-catalog-item#paintingExampleItems-30
                        img(src="./img/painting/painting-1.png", alt="img")
                    li.paint-examples__block-catalog-item#paintingExampleItems-31
                        img(src="./img/painting/painting-16.png", alt="img")
    @@include('components/_footer.pug')
    @@include('components/_menu.pug')
    @@include('components/_modelPaintingExample.pug')

@@include('components/_script.pug')