@@include('components/_head.pug')

    @@include('components/_header.pug')


    section.polishing-header 
        .containers 
            .polishing-header__block
                .polishing-header__block-title Алмазная полировка автомобильных дисков
                .polishing-header__block-add Подберем лучший вариант покраски дисков в вашем ценовом сегменте, с гарантией качества
                .polishing-header__block-banner 
                    img(src="./img/polishing/banner.png" alt="img")
                .polishing-header__block-quiz 
                    .polishing-header__block-quiz-title Ответьте на 5 вопросов и получите чек лист “Порошковая покраска ” 
                    .polishing-header__block-quiz-wrapper
                        .polishing-header__block-quiz-add Вопрос 1 из 5
                        .polishing-header__block-quiz-description Вид покраски
                        ul.polishing-header__block-quiz-block 
                            li.polishing-header__block-quiz-item#polishingQuizBlock-1
                                .polishing-header__block-quiz-item-text Порошковая покраска
                            li.polishing-header__block-quiz-item#polishingQuizBlock-2
                                .polishing-header__block-quiz-item-text Покраска "Эксклюзив"
                            li.polishing-header__block-quiz-item#polishingQuizBlock-3
                                .polishing-header__block-quiz-item-text Алмазная шлифовка
                        ul.polishing-header__block-quiz-new.display-n
                            li.polishing-header__block-quiz-item#polishingQuizNew-1
                                .polishing-header__block-quiz-item-text Новая
                            li.polishing-header__block-quiz-item#polishingQuizNew-2
                                .polishing-header__block-quiz-item-text С пробегом
                        ul.polishing-header__block-quiz-type.display-n
                            li.polishing-header__block-quiz-item#polishingQuizType-1
                                .polishing-header__block-quiz-item-text Седан
                            li.polishing-header__block-quiz-item#polishingQuizType-2
                                .polishing-header__block-quiz-item-text Хетчбек
                            li.polishing-header__block-quiz-item#polishingQuizType-3
                                .polishing-header__block-quiz-item-text Универсал
                            li.polishing-header__block-quiz-item#polishingQuizType-4
                                .polishing-header__block-quiz-item-text Кроссовер
                            li.polishing-header__block-quiz-item#polishingQuizType-5
                                .polishing-header__block-quiz-item-text Грузовой
                            li.polishing-header__block-quiz-item#polishingQuizType-6
                                .polishing-header__block-quiz-item-text Другой
                        ul.polishing-header__block-quiz-bay.display-n
                            li.polishing-header__block-quiz-item#polishingQuizBay-1
                                .polishing-header__block-quiz-item-text В ближайшую неделю
                            li.polishing-header__block-quiz-item#polishingQuizBay-2
                                .polishing-header__block-quiz-item-text В ближайший месяц
                            li.polishing-header__block-quiz-item#polishingQuizBay-3
                                .polishing-header__block-quiz-item-text В ближайшие 3 месяца
                            li.polishing-header__block-quiz-item#polishingQuizBay-4
                                .polishing-header__block-quiz-item-text Еще не определился
                        ul.polishing-header__block-quiz-messages.display-n
                            li.polishing-header__block-quiz-item.blocking#polishingQuizMessages-1
                                .polishing-header__block-quiz-item-icons 
                                    <svg width="24" height="26" viewBox="0 0 24 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M23.0076 14.6933C23.7641 8.32514 22.6441 4.30479 20.6239 2.48639L20.625 2.48534C17.3643 -0.620002 6.35247 -1.07962 2.45151 2.62481C0.699675 4.43687 0.0826222 7.09632 0.0150001 10.3887C-0.0526221 13.6821 -0.132924 19.8516 5.61602 21.5252H5.6213L5.61602 24.0811C5.61602 24.0811 5.57692 25.1166 6.23835 25.3247C6.99488 25.5699 7.33721 25.0891 9.69025 22.2786C13.625 22.6198 16.6469 21.838 16.9903 21.7238C17.7848 21.4576 22.2807 20.8627 23.0076 14.6933ZM10.078 20.4802C10.078 20.4802 7.58763 23.5856 6.81314 24.3918C6.55956 24.6538 6.28167 24.6295 6.2859 24.1096C6.2859 23.7684 6.30492 19.8664 6.30492 19.8664C1.43084 18.4695 1.71823 13.2161 1.77106 10.4679C1.82389 7.71866 2.32683 5.46705 3.81029 3.95083C7.23261 0.741951 16.8867 1.45938 19.3465 3.77121C22.3536 6.43701 21.2832 13.9684 21.2896 14.2252C20.6715 19.375 17.0283 19.7015 16.3584 19.9245C16.0721 20.0196 13.4148 20.7032 10.078 20.4802Z" fill="#fff"/>
                                        <path d="M11.4555 4.55371C11.0487 4.55371 11.0487 5.18767 11.4555 5.19295C14.6115 5.21725 17.2108 7.41709 17.2393 11.4522C17.2393 11.878 17.8627 11.8728 17.8574 11.4469H17.8563C17.8225 7.09905 14.9845 4.57801 11.4555 4.55371Z" fill="#fff"/>
                                        <path d="M15.6047 10.7838C15.5952 11.2044 16.2175 11.2244 16.2228 10.7986C16.2746 8.40121 14.7964 6.42643 12.0186 6.21828C11.6118 6.1887 11.5696 6.82794 11.9753 6.85752C14.3843 7.04031 15.6533 8.68438 15.6047 10.7838Z" fill="#fff"/>
                                        <path d="M14.9431 13.5105C14.4211 13.2084 13.8897 13.3964 13.6699 13.6933L13.2103 14.2882C12.9768 14.5904 12.5404 14.5502 12.5404 14.5502C9.35581 13.7081 8.50419 10.3756 8.50419 10.3756C8.50419 10.3756 8.4651 9.92445 8.75672 9.68249L9.3315 9.20703C9.6189 8.9788 9.80063 8.42937 9.50796 7.88945C8.72607 6.47678 8.20095 5.98969 7.93363 5.61565C7.65257 5.26381 7.22993 5.18456 6.79039 5.4223H6.78088C5.86692 5.95693 4.86633 6.95753 5.18648 7.98771C5.73274 9.07389 6.7365 12.5364 9.93588 15.1525C11.4394 16.3898 13.8189 17.6577 14.829 17.9504L14.8385 17.9652C15.8338 18.2969 16.8016 17.2572 17.3183 16.3158V16.3084C17.5476 15.853 17.4715 15.4219 17.1366 15.1398C16.5428 14.5608 15.6468 13.9216 14.9431 13.5105Z" fill="#fff"/>
                                        <path d="M12.4559 8.57693C13.4713 8.6361 13.9637 9.16651 14.0165 10.2559C14.0355 10.6817 14.6536 10.6521 14.6346 10.2263C14.567 8.8041 13.8252 8.01165 12.4897 7.93769C12.0829 7.91339 12.0449 8.55263 12.4559 8.57693Z" fill="#fff"/>
                                    </svg>
                                .polishing-header__block-quiz-item-text Viber
                            li.polishing-header__block-quiz-item.blocking#polishingQuizMessages-2
                                .polishing-header__block-quiz-item-icons 
                                    <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M18.2364 14.9036L18.227 14.9817C15.9364 13.8401 15.6968 13.688 15.401 14.1317C15.1958 14.439 14.5979 15.1359 14.4177 15.3421C14.2354 15.5453 14.0542 15.5609 13.7448 15.4203C13.4323 15.264 12.4292 14.9359 11.2417 13.8734C10.3167 13.0453 9.69591 12.0297 9.51258 11.7172C9.20738 11.1901 9.84591 11.1151 10.4272 10.0151C10.5313 9.7964 10.4782 9.62453 10.4011 9.46932C10.323 9.31308 9.70112 7.78185 9.44071 7.17145C9.19071 6.56312 8.93343 6.64021 8.74072 6.64021C8.14073 6.58812 7.7022 6.59646 7.31575 6.99853C5.63453 8.84642 6.05848 10.7526 7.497 12.7797C10.324 16.4796 11.8303 17.1608 14.5844 18.1067C15.3281 18.3431 16.0062 18.3098 16.5427 18.2327C17.1406 18.1379 18.3833 17.4817 18.6426 16.7473C18.9082 16.013 18.9082 15.4036 18.8301 15.263C18.753 15.1223 18.5489 15.0442 18.2364 14.9036Z" fill="#fff"/>
                                        <path d="M21.3746 3.59309C13.3654 -4.14948 0.110415 1.46605 0.105206 12.3888C0.105206 14.5721 0.677071 16.7012 1.76663 18.5814L0 25L6.59884 23.2792C14.8331 27.727 24.9954 21.8209 24.9995 12.395C24.9995 9.08675 23.7079 5.97326 21.359 3.63372L21.3746 3.59309ZM22.9183 12.3606C22.9121 20.3115 14.1841 25.2771 7.28112 21.2188L6.90613 20.9959L2.99995 22.0115L4.0468 18.2147L3.79785 17.8241C-0.497908 10.9857 4.43742 2.04833 12.5748 2.04833C15.3393 2.04833 17.934 3.12644 19.8882 5.07953C21.8413 7.01595 22.9183 9.61069 22.9183 12.3606Z" fill="#fff"/>
                                    </svg>
                                .polishing-header__block-quiz-item-text Whatsapp
                            .polishing-header__block-quiz-messages-checkbox
                                input.polishing-header__block-quiz-messages-checkbox__input(type="checkbox" id="polishingQuizCheckboxMessages")
                                label.polishing-header__block-quiz-messages-checkbox__label(for="polishingQuizCheckboxMessages") С политикой конфиденциальности
                                    a(href="#") ознакомлен
                        ul.polishing-header__block-quiz-phone.display-n
                            li.polishing-header__block-quiz-items.blocking#polishingQuizPhone-1
                                .polishing-header__block-quiz-items-select 
                                    <select id="phonep">
                                        <option value=""></option>
                                        <option value="+7">+7</option>
                                        <option value="+380">+380</option>
                                        <option value="+7">+7</option>
                                        <option value="+380">+380</option>
                                    </select>
                                .polishing-header__block-quiz-items-input
                                    input(placeholder="Введите номер*")
                            btn.polishing-header__block-quiz-items-btn.blocking Готово
                            .polishing-header__block-quiz-phone-checkbox
                                input.polishing-header__block-quiz-phone-checkbox__input(type="checkbox" id="polishingQuizCheckboxPhone")
                                label.polishing-header__block-quiz-phone-checkbox__label(for="polishingQuizCheckboxPhone") С политикой конфиденциальности
                                    a(href="#") ознакомлен

    section.polishing-about 
        .containers 
            .polishing-about__block 
                .polishing-about__block-banner 
                    .polishing-about__block-banner-add Качественная и недорогая порошковая покраска дисков на собственном оборудовании.
                    .polishing-about__block-banner-text 
                        .polishing-about__block-banner-text-item Гарантия 2 года.
                        a(class="polishing-about__block-banner-text-link" href="#") Посмотреть цены
                    .polishing-about__block-banner-date Диски можете сдать в любой нашей точке, срок покраски: 1-3 дня *.
                .polishing-about__block-add 
                    ul.polishing-about__block-add-list 
                        li.polishing-about__block-add-item 
                            .polishing-about__block-add-item-circle 
                                <svg width="4" height="18" viewBox="0 0 4 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M3.28516 12.1953H0.636719L0.0390625 0.195312H3.88281L3.28516 12.1953ZM0.601562 16.6953C0.226562 16.3359 0.0390625 15.918 0.0390625 15.4414C0.0390625 14.957 0.226562 14.5352 0.601562 14.1758C0.976562 13.8164 1.42969 13.6367 1.96094 13.6367C2.49219 13.6367 2.94531 13.8164 3.32031 14.1758C3.69531 14.5352 3.88281 14.957 3.88281 15.4414C3.88281 15.918 3.69531 16.3359 3.32031 16.6953C2.94531 17.0547 2.49219 17.2344 1.96094 17.2344C1.42969 17.2344 0.976562 17.0547 0.601562 16.6953Z" fill="white"/>
                                </svg>
                            .polishing-about__block-add-item-text Специальные условия для корпоративных клиентов.
                        li.polishing-about__block-add-item 
                            .polishing-about__block-add-item-circle 
                                <svg width="4" height="18" viewBox="0 0 4 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M3.28516 12.1953H0.636719L0.0390625 0.195312H3.88281L3.28516 12.1953ZM0.601562 16.6953C0.226562 16.3359 0.0390625 15.918 0.0390625 15.4414C0.0390625 14.957 0.226562 14.5352 0.601562 14.1758C0.976562 13.8164 1.42969 13.6367 1.96094 13.6367C2.49219 13.6367 2.94531 13.8164 3.32031 14.1758C3.69531 14.5352 3.88281 14.957 3.88281 15.4414C3.88281 15.918 3.69531 16.3359 3.32031 16.6953C2.94531 17.0547 2.49219 17.2344 1.96094 17.2344C1.42969 17.2344 0.976562 17.0547 0.601562 16.6953Z" fill="white"/>
                                </svg>
                            .polishing-about__block-add-item-text В связи с сезоном, просьба записываться на шиномонтаж заранее по телефону.
                        li.polishing-about__block-add-item 
                            .polishing-about__block-add-item-circle 
                                <svg width="4" height="18" viewBox="0 0 4 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M3.28516 12.1953H0.636719L0.0390625 0.195312H3.88281L3.28516 12.1953ZM0.601562 16.6953C0.226562 16.3359 0.0390625 15.918 0.0390625 15.4414C0.0390625 14.957 0.226562 14.5352 0.601562 14.1758C0.976562 13.8164 1.42969 13.6367 1.96094 13.6367C2.49219 13.6367 2.94531 13.8164 3.32031 14.1758C3.69531 14.5352 3.88281 14.957 3.88281 15.4414C3.88281 15.918 3.69531 16.3359 3.32031 16.6953C2.94531 17.0547 2.49219 17.2344 1.96094 17.2344C1.42969 17.2344 0.976562 17.0547 0.601562 16.6953Z" fill="white"/>
                                </svg>
                            .polishing-about__block-add-item-text Перед покраской дисков — обязательная пескоструйная обработка. Антикоррозийное покрытие. Грунтовка. Все это входит в стоимость окраски.
                button.polishing-about__block-btn Связаться

    section.constructor-constructor
        .containers 
            .constructor-constructor__block 
                .constructor-constructor__block-add 001
                .constructor-constructor__block-title Подбор цвета диска
            .constructor-constructor__wrapper 
                button.constructor-constructor__wrapper-controls-btn
                        a(href="#") Помощь при подборе
                .constructor-constructor__wrapper-controls 
                    .constructor-constructor__wrapper-controls-description Выберите цвет автомобиля
                    .constructor-constructor__wrapper-controls-type 
                        <svg width="88" height="30" viewBox="0 0 88 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M87.8749 24.0167C87.8749 24.0167 88.8907 17.3422 85.1708 13.4672C81.9248 10.0846 79.0246 9.18545 73.116 8.92225C67.6248 8.67668 65.0804 8.90462 61.4485 8.92225C59.119 8.93358 32.9365 10.7798 23.2012 8.92225C23.2012 8.92225 29.2279 11.7079 43.3683 11.5921C55.1075 11.4963 65.0087 11.6399 68.0334 11.6915C68.5865 11.7008 69.1389 11.6852 69.6903 11.6449C71.5195 11.5127 76.5606 11.3339 80.6878 12.9874C85.8396 15.0414 87.4098 20.5334 87.8749 24.0167Z" fill="white"/>
                            <path d="M82.3128 24.0023C82.9439 20.1077 80.3037 16.4379 76.4158 15.8057C72.528 15.1735 68.8646 17.8183 68.2335 21.713C67.6024 25.6076 70.2426 29.2774 74.1305 29.9096C78.0183 30.5418 81.6817 27.897 82.3128 24.0023Z" fill="white"/>
                            <path d="M23.9397 24.0011C24.5708 20.1064 21.9307 16.4367 18.0428 15.8045C14.1549 15.1723 10.4916 17.8171 9.86047 21.7117C9.22937 25.6064 11.8695 29.2762 15.7574 29.9084C19.6453 30.5406 23.3086 27.8958 23.9397 24.0011Z" fill="white"/>
                            <path d="M73.9651 13.6838C73.9651 13.6838 65.6227 11.3616 62.9538 21.9274H29.2749C29.2749 21.9274 26.9932 15.0011 21.5762 14.4973C21.5762 14.4973 21.6893 14.6107 21.8666 14.821C23.4037 15.7684 24.636 17.1391 25.4163 18.7693C26.1965 20.3996 26.4917 22.2204 26.2666 24.0142H66.1985C66.1985 24.0142 65.3059 14.5956 73.9651 13.6838Z" fill="white"/>
                            <path d="M37.8024 2.77167C49.1984 3.30311 58.5453 7.41612 58.5453 7.41612C58.5453 7.41612 56.5753 5.44273 50.3173 3.00842C44.0592 0.574121 36.9526 -1.3703 26.6767 1.26046C16.9577 3.75018 18.7994 8.32032 1.72242 7.49671C1.59465 7.48975 1.4674 7.51774 1.3543 7.57769C1.2412 7.63763 1.14651 7.72727 1.08038 7.837C1.01424 7.94673 0.97915 8.07241 0.978866 8.20059C0.978582 8.32877 1.01311 8.45461 1.07876 8.56463C1.80539 9.81516 2.53705 11.9384 1.06116 14.1561C-1.25701 17.6319 0.945506 22.8569 0.945506 22.8569H7.46379C7.46314 20.4204 8.40179 18.0779 10.0838 16.318C11.7659 14.5582 14.0614 13.517 16.4913 13.4118C14.9023 13.1398 12.437 13.2859 8.82276 14.8424H3.03111C3.03111 14.8424 4.88665 12.4044 4.30711 10.4348C4.30711 10.4348 10.9134 8.34551 17.2884 10.5506C23.6633 12.7557 37.8024 14.1498 47.0751 13.2242C47.0751 13.2242 24.8237 12.1789 18.0992 7.41863C18.103 7.41486 24.5144 2.15207 37.8024 2.77167Z" fill="white"/>
                        </svg>
                    ul.constructor-constructor__wrapper-controls-adds
                        li.constructor-constructor__wrapper-controls-adds-color#constructorTypeCarColor-1
                        li.constructor-constructor__wrapper-controls-adds-color#constructorTypeCarColor-2
                        li.constructor-constructor__wrapper-controls-adds-color#constructorTypeCarColor-3
                        li.constructor-constructor__wrapper-controls-adds-color#constructorTypeCarColor-4
                        li.constructor-constructor__wrapper-controls-adds-color#constructorTypeCarColor-5
                        li.constructor-constructor__wrapper-controls-adds-color#constructorTypeCarColor-6
                        li.constructor-constructor__wrapper-controls-adds-close 
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M18 12L18.7071 11.2929L19.4142 12L18.7071 12.7071L18 12ZM12.7071 5.29289L18.7071 11.2929L17.2929 12.7071L11.2929 6.70711L12.7071 5.29289ZM18.7071 12.7071L12.7071 18.7071L11.2929 17.2929L17.2929 11.2929L18.7071 12.7071Z" fill="white"/>
                                <path d="M12 12L12.7071 11.2929L13.4142 12L12.7071 12.7071L12 12ZM6.70711 5.29289L12.7071 11.2929L11.2929 12.7071L5.29289 6.70711L6.70711 5.29289ZM12.7071 12.7071L6.70711 18.7071L5.29289 17.2929L11.2929 11.2929L12.7071 12.7071Z" fill="white"/>
                            </svg>
                .constructor-constructor__wrapper-car
                    .constructor-constructor__wrapper-car-item 
                        img(src="./img/constructor/start.png", alt="")#constructorCar
                    ul.constructor-constructor__wrapper-car-list
                        li.constructor-constructor__wrapper-car-list-item#constructorTypeDiskColor-1
                            img(src="./img/constructor/disk-1.png", alt="disk")
                        li.constructor-constructor__wrapper-car-list-item#constructorTypeDiskColor-2
                            img(src="./img/constructor/disk-2.png", alt="disk")
                        li.constructor-constructor__wrapper-car-list-item#constructorTypeDiskColor-3
                            img(src="./img/constructor/disk-3.png", alt="disk")
                        li.constructor-constructor__wrapper-car-list-item#constructorTypeDiskColor-4
                            img(src="./img/constructor/disk-4.png", alt="disk")
                        li.constructor-constructor__wrapper-car-list-item#constructorTypeDiskColor-5
                            img(src="./img/constructor/disk-5.png", alt="disk")
                        li.constructor-constructor__wrapper-car-list-item#constructorTypeDiskColor-6
                            img(src="./img/constructor/disk-6.png", alt="disk")
                        li.constructor-constructor__wrapper-car-list-item#constructorTypeDiskColor-7
                            img(src="./img/constructor/disk-7.png", alt="disk")
                        li.constructor-constructor__wrapper-car-list-item#constructorTypeDiskColor-8
                            img(src="./img/constructor/disk-8.png", alt="disk")
                        li.constructor-constructor__wrapper-car-list-item#constructorTypeDiskColor-9
                            img(src="./img/constructor/disk-9.png", alt="disk")
                        li.constructor-constructor__wrapper-car-list-item#constructorTypeDiskColor-10
                            img(src="./img/constructor/disk-10.png", alt="disk")
                        li.constructor-constructor__wrapper-car-list-item#constructorTypeDiskColor-11
                            img(src="./img/constructor/disk-11.png", alt="disk")
                        li.constructor-constructor__wrapper-car-list-item#constructorTypeDiskColor-12
                            img(src="./img/constructor/disk-12.png", alt="disk")
                        li.constructor-constructor__wrapper-car-list-item#constructorTypeDiskColor-13
                            img(src="./img/constructor/disk-13.png", alt="disk")
                        li.constructor-constructor__wrapper-car-list-item#constructorTypeDiskColor-14
                            img(src="./img/constructor/disk-14.png", alt="disk")
                        li.constructor-constructor__wrapper-car-list-item#constructorTypeDiskColor-15
                            img(src="./img/constructor/disk-15.png", alt="disk")
                        li.constructor-constructor__wrapper-car-list-item#constructorTypeDiskColor-16
                            img(src="./img/constructor/disk-16.png", alt="disk")
                        li.constructor-constructor__wrapper-car-list-item#constructorTypeDiskColor-17
                            img(src="./img/constructor/disk-17.png", alt="disk")

    section.polishing-slider 
        .containers 
            .polishing-slider__block 
                .polishing-slider__block-add 002
                .polishing-slider__block-title Новые работы по покраске дисков
                .polishing-slider__block-wrapper 
                    .swiper.polishingSliderBlock
                        .swiper-wrapper
                            .swiper-slide 
                                .polishing-slider__block-wrapper-item#polishingSlidersItems-1
                                    img(src="./img/polishing/slider-1.png", alt="img")
                            .swiper-slide 
                                .polishing-slider__block-wrapper-item#polishingSlidersItems-2
                                    img(src="./img/polishing/slider-2.png", alt="img")
                            .swiper-slide 
                                .polishing-slider__block-wrapper-item#polishingSlidersItems-3
                                    img(src="./img/polishing/slider-3.png", alt="img")
                            .swiper-slide 
                                .polishing-slider__block-wrapper-item#polishingSlidersItems-4
                                    img(src="./img/polishing/slider-4.png", alt="img")
                            .swiper-slide 
                                .polishing-slider__block-wrapper-item#polishingSlidersItems-5
                                    img(src="./img/polishing/slider-5.png", alt="img")
                            .swiper-slide 
                                .polishing-slider__block-wrapper-item#polishingSlidersItems-6
                                    img(src="./img/polishing/slider-6.png", alt="img")
                    .swiper-controls 
                        .swiper-button-next 
                            <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6.53033 5.46967C6.82322 5.76256 6.82322 6.23744 6.53033 6.53033L1.75736 11.3033C1.46447 11.5962 0.989593 11.5962 0.696699 11.3033C0.403806 11.0104 0.403806 10.5355 0.696699 10.2426L4.93934 6L0.696699 1.75736C0.403806 1.46447 0.403806 0.989593 0.696699 0.696699C0.989593 0.403806 1.46447 0.403806 1.75736 0.696699L6.53033 5.46967ZM5 5.25H6V6.75H5V5.25Z" fill="black"/>
                            </svg>
                        .swiper-button-prev 
                            <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.46967 5.46967C0.176777 5.76256 0.176777 6.23744 0.46967 6.53033L5.24264 11.3033C5.53553 11.5962 6.01041 11.5962 6.3033 11.3033C6.59619 11.0104 6.59619 10.5355 6.3033 10.2426L2.06066 6L6.3033 1.75736C6.59619 1.46447 6.59619 0.989593 6.3033 0.696699C6.01041 0.403806 5.53553 0.403806 5.24264 0.696699L0.46967 5.46967ZM2 5.25H1V6.75H2V5.25Z" fill="white"/>
                            </svg>
                        .swiper-pagination

    section.polishing-list 
        .containers 
            .polishing-list__block 
                .polishing-list__block-add 003
                .polishing-list__block-title Цена покраски дисков с использов
                .polishing-list__block-price
                    .polishing-list__block-prices
                        .polishing-list__block-wrapper 
                            .polishing-list__block-wrapper-title радиус:
                            ul.polishing-list__block-wrapper-list
                                li.polishing-list__block-wrapper-list-item R12-14
                                li.polishing-list__block-wrapper-list-item R15
                                li.polishing-list__block-wrapper-list-item R16
                                li.polishing-list__block-wrapper-list-item R17
                                li.polishing-list__block-wrapper-list-item R18
                                li.polishing-list__block-wrapper-list-item R19
                                li.polishing-list__block-wrapper-list-item R20
                                li.polishing-list__block-wrapper-list-item R21
                                li.polishing-list__block-wrapper-list-item R22
                                li.polishing-list__block-wrapper-list-item R23 
                                li.polishing-list__block-wrapper-list-item R24
                        .polishing-list__block-wrappers
                            .polishing-list__block-wrappers-title цена за 1 комплект
                            ul.polishing-list__block-wrappers-list
                                li.polishing-list__block-wrappers-list-item 15 000 ₽
                                li.polishing-list__block-wrappers-list-item 15 500 ₽ 
                                li.polishing-list__block-wrappers-list-item 16 000 ₽
                                li.polishing-list__block-wrappers-list-item 17 000 ₽
                                li.polishing-list__block-wrappers-list-item 18 000 ₽
                                li.polishing-list__block-wrappers-list-item 19 000 ₽
                                li.polishing-list__block-wrappers-list-item 20 000 ₽
                                li.polishing-list__block-wrappers-list-item 22 000 ₽
                                li.polishing-list__block-wrappers-list-item 23 000 ₽
                                li.polishing-list__block-wrappers-list-item 25 000 ₽
                                li.polishing-list__block-wrappers-list-item 27 000 ₽
                        .polishing-list__block-wrappers 
                            .polishing-list__block-wrappers-title цена за 1 ДИСК
                            ul.polishing-list__block-wrappers-list
                                li.polishing-list__block-wrappers-list-item 5 000 ₽
                                li.polishing-list__block-wrappers-list-item 5 000 ₽
                                li.polishing-list__block-wrappers-list-item 5 000 ₽
                                li.polishing-list__block-wrappers-list-item 5 000 ₽
                                li.polishing-list__block-wrappers-list-item 6 000 ₽
                                li.polishing-list__block-wrappers-list-item 6 000 ₽
                                li.polishing-list__block-wrappers-list-item 7 000 ₽
                                li.polishing-list__block-wrappers-list-item 8 000 ₽
                                li.polishing-list__block-wrappers-list-item 10 000 ₽
                                li.polishing-list__block-wrappers-list-item 10 000 ₽
                                li.polishing-list__block-wrappers-list-item 10 000 ₽ 
            .polishing-list__btns 
                button.polishing-list__btns-btn Связаться

    section.polishing-discount
        .containers 
            .polishing-discount__block 
                .polishing-discount__block-add 
                    h3 %
                    p Скидки
                ul.polishing-discount__block-banner
                    li.polishing-discount__block-banner-item 
                        .polishing-discount__block-banner-title Бесплатный выезд
                        .polishing-discount__block-banner-text При заказе от 2 авто
                    li.polishing-discount__block-banner-item 
                        .polishing-discount__block-banner-title Скидка 10% на работы
                        .polishing-discount__block-banner-text При заказе от 3 авто
                    li.polishing-discount__block-banner-item 
                        .polishing-discount__block-banner-title Скидка от 15%
                        .polishing-discount__block-banner-text При заказе от 5 авто (информацию уточняйте у оператора)
                    li.polishing-discount__block-banner-item 
                        .polishing-discount__block-banner-title Скидка 10% на работы
                        .polishing-discount__block-banner-text При заказе от 10 авто

    section.polishing-video 
        .containers 
            .polishing-video__block 
                .polishing-video__block-add 004
                .polishing-video__block-title Видео окрашенных дисков
                .polishing-video__block-slider 
                    .swiper.polishingSliderVideo 
                        .swiper-wrapper 
                            .swiper-slide <iframe width="1020px" height="458px" src="https://www.youtube.com/embed/2XtRmis1dJE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            .swiper-slide <iframe width="1020px" height="458px" src="https://www.youtube.com/embed/W6d4a8Ukjgo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            .swiper-slide <iframe width="1020px" height="458px" src="https://www.youtube.com/embed/p768duQc3J4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            .swiper-slide <iframe width="1020px" height="458px" src="https://www.youtube.com/embed/XUZ-zyhN69s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            .swiper-slide <iframe width="1020px" height="458px" src="https://www.youtube.com/embed/JWWlb5NLvZg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            .swiper-slide <iframe width="1020px" height="458px" src="https://www.youtube.com/embed/YxvGSvttVU0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            .swiper-slide <iframe width="1020px" height="458px" src="https://www.youtube.com/embed/ZdlNGSo9tns" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    .swiper-controls 
                        .swiper-button-next 
                            <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6.53033 5.46967C6.82322 5.76256 6.82322 6.23744 6.53033 6.53033L1.75736 11.3033C1.46447 11.5962 0.989593 11.5962 0.696699 11.3033C0.403806 11.0104 0.403806 10.5355 0.696699 10.2426L4.93934 6L0.696699 1.75736C0.403806 1.46447 0.403806 0.989593 0.696699 0.696699C0.989593 0.403806 1.46447 0.403806 1.75736 0.696699L6.53033 5.46967ZM5 5.25H6V6.75H5V5.25Z" fill="black"/>
                            </svg>
                        .swiper-button-prev 
                            <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.46967 5.46967C0.176777 5.76256 0.176777 6.23744 0.46967 6.53033L5.24264 11.3033C5.53553 11.5962 6.01041 11.5962 6.3033 11.3033C6.59619 11.0104 6.59619 10.5355 6.3033 10.2426L2.06066 6L6.3033 1.75736C6.59619 1.46447 6.59619 0.989593 6.3033 0.696699C6.01041 0.403806 5.53553 0.403806 5.24264 0.696699L0.46967 5.46967ZM2 5.25H1V6.75H2V5.25Z" fill="white"/>
                            </svg>

    section.polishing-examples
        .containers 
            .polishing-examples__block 
                .polishing-examples__block-add 005
                .polishing-examples__block-title Наши работы по покраске изделий
                ul.polishing-examples__block-tabs 
                    li#polishingExampleTabsElement-1.polishing-examples__block-tabs-item.polishing-examples__block-tabs-item-active Избранное
                    li#polishingExampleTabsElement-2.polishing-examples__block-tabs-item ВСЕ
                ul.polishing-examples__block-catalog#polishingExampleTabsBlock-1
                    li.polishing-examples__block-catalog-item#polishingExampleItems-1
                        img(src="./img/polishing/exp-1.png", alt="img")
                    li.polishing-examples__block-catalog-item#polishingExampleItems-2
                        img(src="./img/polishing/exp-2.png", alt="img")
                    li.polishing-examples__block-catalog-item#polishingExampleItems-3
                        img(src="./img/polishing/exp-3.png", alt="img")
                    li.polishing-examples__block-catalog-item#polishingExampleItems-4
                        img(src="./img/polishing/exp-4.png", alt="img")
                    li.polishing-examples__block-catalog-item#polishingExampleItems-5
                        img(src="./img/polishing/exp-5.png", alt="img")
                    li.polishing-examples__block-catalog-item#polishingExampleItems-6
                        img(src="./img/polishing/exp-6.png", alt="img")
                    li.polishing-examples__block-catalog-item#polishingExampleItems-7
                        img(src="./img/polishing/exp-7.png", alt="img")
                    li.polishing-examples__block-catalog-item#polishingExampleItems-8
                        img(src="./img/polishing/exp-8.png", alt="img")
                    li.polishing-examples__block-catalog-item#polishingExampleItems-9
                        img(src="./img/polishing/exp-9.png", alt="img")
                    li.polishing-examples__block-catalog-item#polishingExampleItems-10
                        img(src="./img/polishing/exp-10.png", alt="img")
                    li.polishing-examples__block-catalog-item#polishingExampleItems-11
                        img(src="./img/polishing/exp-11.png", alt="img")
                    li.polishing-examples__block-catalog-item#polishingExampleItems-12
                        img(src="./img/polishing/exp-12.png", alt="img")
                ul.polishing-examples__block-catalog.display-n#polishingExampleTabsBlock-2
                    li.polishing-examples__block-catalog-item#polishingExampleItems-13
                        img(src="./img/polishing/exp-13.png", alt="img")
                    li.polishing-examples__block-catalog-item#polishingExampleItems-14
                        img(src="./img/polishing/exp-14.png", alt="img")
                    li.polishing-examples__block-catalog-item#polishingExampleItems-15
                        img(src="./img/polishing/exp-15.png", alt="img")
                    li.polishing-examples__block-catalog-item#polishingExampleItems-16
                        img(src="./img/polishing/exp-16.png", alt="img")
                    li.polishing-examples__block-catalog-item#polishingExampleItems-17
                        img(src="./img/polishing/exp-17.png", alt="img")
                    li.polishing-examples__block-catalog-item#polishingExampleItems-18
                        img(src="./img/polishing/exp-18.png", alt="img")
                    li.polishing-examples__block-catalog-item#polishingExampleItems-19
                        img(src="./img/polishing/exp-19.png", alt="img")
                    li.polishing-examples__block-catalog-item#polishingExampleItems-20
                        img(src="./img/polishing/exp-20.png", alt="img")
                    li.polishing-examples__block-catalog-item#polishingExampleItems-21
                        img(src="./img/polishing/exp-21.png", alt="img")
                    li.polishing-examples__block-catalog-item#polishingExampleItems-22
                        img(src="./img/polishing/exp-22.png", alt="img")
                    li.polishing-examples__block-catalog-item#polishingExampleItems-23
                        img(src="./img/polishing/exp-23.png", alt="img")
                    li.polishing-examples__block-catalog-item#polishingExampleItems-24
                        img(src="./img/polishing/exp-24.png", alt="img")
                    li.polishing-examples__block-catalog-item#polishingExampleItems-25
                        img(src="./img/polishing/exp-25.png", alt="img")
                    li.polishing-examples__block-catalog-item#polishingExampleItems-26
                        img(src="./img/polishing/exp-26.png", alt="img")
                    li.polishing-examples__block-catalog-item#polishingExampleItems-27
                        img(src="./img/polishing/exp-27.png", alt="img")
                    li.polishing-examples__block-catalog-item#polishingExampleItems-28
                        img(src="./img/polishing/exp-28.png", alt="img")
                    li.polishing-examples__block-catalog-item#polishingExampleItems-29
                        img(src="./img/polishing/exp-29.png", alt="img")
                    li.polishing-examples__block-catalog-item#polishingExampleItems-30
                        img(src="./img/polishing/exp-30.png", alt="img")
                    li.polishing-examples__block-catalog-item#polishingExampleItems-31
                        img(src="./img/polishing/exp-31.png", alt="img")
                    li.polishing-examples__block-catalog-item#polishingExampleItems-32
                        img(src="./img/polishing/exp-32.png", alt="img")
                    li.polishing-examples__block-catalog-item#polishingExampleItems-33
                        img(src="./img/polishing/exp-33.png", alt="img")
                    li.polishing-examples__block-catalog-item#polishingExampleItems-34
                        img(src="./img/polishing/exp-34.png", alt="img")
                    li.polishing-examples__block-catalog-item#polishingExampleItems-35
                        img(src="./img/polishing/exp-35.png", alt="img")
                    li.polishing-examples__block-catalog-item#polishingExampleItems-36
                        img(src="./img/polishing/exp-36.png", alt="img")
                    li.polishing-examples__block-catalog-item#polishingExampleItems-37
                        img(src="./img/polishing/exp-37.png", alt="img")
                    li.polishing-examples__block-catalog-item#polishingExampleItems-38
                        img(src="./img/polishing/exp-38.png", alt="img")
                    li.polishing-examples__block-catalog-item#polishingExampleItems-39
                        img(src="./img/polishing/exp-39.png", alt="img")
                    li.polishing-examples__block-catalog-item#polishingExampleItems-40
                        img(src="./img/polishing/exp-40.png", alt="img")
                    li.polishing-examples__block-catalog-item#polishingExampleItems-41
                        img(src="./img/polishing/exp-41.png", alt="img")
                    li.polishing-examples__block-catalog-item#polishingExampleItems-42
                        img(src="./img/polishing/exp-42.png", alt="img")
                    li.polishing-examples__block-catalog-item#polishingExampleItems-43
                        img(src="./img/polishing/exp-43.png", alt="img")
                    li.polishing-examples__block-catalog-item#polishingExampleItems-44
                        img(src="./img/polishing/exp-44.png", alt="img")
                    li.polishing-examples__block-catalog-item#polishingExampleItems-45
                        img(src="./img/polishing/exp-45.png", alt="img")
                    li.polishing-examples__block-catalog-item#polishingExampleItems-46
                        img(src="./img/polishing/exp-46.png", alt="img")
                    li.polishing-examples__block-catalog-item#polishingExampleItems-47
                        img(src="./img/polishing/exp-47.png", alt="img")
                    li.polishing-examples__block-catalog-item#polishingExampleItems-48
                        img(src="./img/polishing/exp-48.png", alt="img")
                    li.polishing-examples__block-catalog-item#polishingExampleItems-49
                        img(src="./img/polishing/exp-49.png", alt="img")
                    li.polishing-examples__block-catalog-item#polishingExampleItems-50
                        img(src="./img/polishing/exp-50.png", alt="img")
                    li.polishing-examples__block-catalog-item#polishingExampleItems-51
                        img(src="./img/polishing/exp-51.png", alt="img")
                    li.polishing-examples__block-catalog-item#polishingExampleItems-52
                        img(src="./img/polishing/exp-52.png", alt="img")

    @@include('components/_footer.pug')
    @@include('components/_menu.pug')
    @@include('components/_modelPolishingSliders.pug')
    @@include('components/_modelPolishingExample.pug')
    @@include('components/_modelOrderCall.pug')

@@include('components/_script.pug')