@@include('components/_head.pug')

    @@include('components/_header.pug')


    section.price-header 
        .containers 
            .price-header__block
                .price-header__block-title Наши цены
                .price-header__block-banner 
                    img(src="./img/price/price.png" alt="img")

    section.price-price 
        .containers 
            .price-price__block 
                .price-price__block-add 001
                .price-price__block-title Расчет стоимости
                .price-price__block-titles Вид покраски
                .price-price__block-dye
                    .price-price__block-dye-radio
                        input(class="price-price__block-dye-radio__input" name="dye" type="radio" id="radio_1" checked)
                        label(class="price-price__block-dye-radio__label" for="radio_1") Порошковая покраска

                    .price-price__block-dye-radio
                        input(class="price-price__block-dye-radio__input" name="dye" type="radio" id="radio_2")
                        label(class="price-price__block-dye-radio__label" for="radio_2") Порошковая покраска "Эксклюзив"

                    .price-price__block-dye-radio
                        input(class="price-price__block-dye-radio__input" name="dye" type="radio" id="radio_3")
                        label(class="price-price__block-dye-radio__label" for="radio_3") Алмазная шлифовка
                .price-price__block-adds 
                    select#type
                        option(value="")
                        option(value="Литой") Литой
                        option(value="Штампованный") Штампованный
                    select#count
                        option(value="")
                        option(value="1") 1
                        option(value="2") 2
                        option(value="3") 3
                        option(value="4") 4
                        option(value="5") 5
                    select#radios
                        option(value="")
                        option(value="R13") R13
                        option(value="R14") R14
                        option(value="R15") R15
                        option(value="R16") R16
                        option(value="R17") R17
                        option(value="R18") R18
                        option(value="R19") R19
                        option(value="R20") R20
                        option(value="R21") R21
                        option(value="R22") R22
                        option(value="R23") R23
                        option(value="R24") R24
                .price-price__block-plus
                    p Дополнительные работы 
                .price-price__block-catalog.display-n 
                    .price-price__block-catalog-checkbox 
                        .price-price__block-catalog-checkbox-item 
                            .price-price__block-catalog-checkbox-title Покрытие лаком
                            .price-price__block-catalog-checkbox-price 700 ₽
                            .price-price__block-catalog-checkbox-block
                                input(type="checkbox" class="price-price__block-catalog-checkbox-block-checkbox" id="priceexPriceCheckbox-1")
                                label(for="priceexPriceCheckbox-1")
                        .price-price__block-catalog-checkbox-item 
                            .price-price__block-catalog-checkbox-title Покраска канта диска
                            .price-price__block-catalog-checkbox-price 1 750 ₽
                            .price-price__block-catalog-checkbox-block
                                input(type="checkbox" class="price-price__block-catalog-checkbox-block-checkbox" id="priceexPriceCheckbox-2")
                                label(for="priceexPriceCheckbox-2")
                    .price-price__block-catalog-select 
                        .price-price__block-catalog-select-item 
                            .price-price__block-catalog-select-title Устранение царапин и сколов
                            .price-price__block-catalog-select-price 700 ₽
                            .price-price__block-catalog-select-block 
                                select#remove
                                    option(value="Нет") Нет
                                    option(value="Нет") Нет
                                    option(value="2") 2
                                    option(value="3") 3
                                    option(value="4") 4
                                    option(value="5") 5
                        .price-price__block-catalog-select-item 
                            .price-price__block-catalog-select-title Правка диска
                            .price-price__block-catalog-select-price 700 ₽
                            .price-price__block-catalog-select-block 
                                select#disk
                                    option(value="Нет") Нет
                                    option(value="Нет") Нет
                                    option(value="2") 2
                                    option(value="3") 3
                                    option(value="4") 4
                                    option(value="5") 5
                        .price-price__block-catalog-select-item 
                            .price-price__block-catalog-select-title Монтаж / демонтаж
                            .price-price__block-catalog-select-price 700 ₽
                            .price-price__block-catalog-select-block 
                                select#mounting
                                    option(value="Нет") Нет
                                    option(value="Нет") Нет
                                    option(value="2") 2
                                    option(value="3") 3
                                    option(value="4") 4
                                    option(value="5") 5
                        .price-price__block-catalog-select-item 
                            .price-price__block-catalog-select-title Балансировка
                            .price-price__block-catalog-select-price 700 ₽
                            .price-price__block-catalog-select-block 
                                select#balance
                                    option(value="Нет") Нет
                                    option(value="Нет") Нет
                                    option(value="2") 2
                                    option(value="3") 3
                                    option(value="4") 4
                                    option(value="5") 5
                        .price-price__block-catalog-select-item 
                            .price-price__block-catalog-select-title Съем / установка
                            .price-price__block-catalog-select-price 700 ₽
                            .price-price__block-catalog-select-block 
                                select#shooting
                                    option(value="Нет") Нет
                                    option(value="Нет") Нет
                                    option(value="2") 2
                                    option(value="3") 3
                                    option(value="4") 4
                                    option(value="5") 5
                        .price-price__block-catalog-select-item 
                            .price-price__block-catalog-select-title Доставка
                            .price-price__block-catalog-select-price 700 ₽
                            .price-price__block-catalog-select-block 
                                select#delivery
                                    option(value="Нет") Нет
                                    option(value="Нет") Нет
                                    option(value="В одну сторону") В одну сторону
                                    option(value="Туда - обратно") Туда - обратно
                                    
                .price-price__block-banner 
                    h3 Итого:
                    p 4690₽
                    button.price-price__block-banner-btn 
                        a(href="#") Заказать

    section.price-list 
        .containers 
            .price-list__block 
                .price-list__block-add 002
                .price-list__block-title Цена на порошковую покраску литых дисков
                .price-list__block-description Дополнительное покрытие лаком: +700 руб. / диск
                .price-list__block-price 
                    .price-list__block-prices
                        .price-list__block-wrapper 
                            .price-list__block-wrapper-title радиус:
                            ul.price-list__block-wrapper-list
                                li.price-list__block-wrapper-list-item R13
                                li.price-list__block-wrapper-list-item R14
                                li.price-list__block-wrapper-list-item R15
                                li.price-list__block-wrapper-list-item R16
                                li.price-list__block-wrapper-list-item R17
                                li.price-list__block-wrapper-list-item R18
                                li.price-list__block-wrapper-list-item R19
                                li.price-list__block-wrapper-list-item R20
                                li.price-list__block-wrapper-list-item R21
                                li.price-list__block-wrapper-list-item R22
                                li.price-list__block-wrapper-list-item R23 
                                li.price-list__block-wrapper-list-item R24
                        .price-list__block-wrappers
                            .price-list__block-wrappers-title цена за 1 комплект
                            ul.price-list__block-wrappers-list
                                li.price-list__block-wrappers-list-item 6 000 ₽
                                li.price-list__block-wrappers-list-item 6 800 ₽
                                li.price-list__block-wrappers-list-item 7 300 ₽
                                li.price-list__block-wrappers-list-item 7 700 ₽
                                li.price-list__block-wrappers-list-item 8 100 ₽
                                li.price-list__block-wrappers-list-item 8 500 ₽
                                li.price-list__block-wrappers-list-item 8 900 ₽
                                li.price-list__block-wrappers-list-item 9 900 ₽
                                li.price-list__block-wrappers-list-item 10 900 ₽
                                li.price-list__block-wrappers-list-item 11 900 ₽
                                li.price-list__block-wrappers-list-item 12 900 ₽ 
                                li.price-list__block-wrappers-list-item 13 900 ₽
                        .price-list__block-wrappers 
                            .price-list__block-wrappers-title цена за 1 комплект
                            ul.price-list__block-wrappers-list
                                li.price-list__block-wrappers-list-item 6 000 ₽
                                li.price-list__block-wrappers-list-item 6 800 ₽
                                li.price-list__block-wrappers-list-item 7 300 ₽
                                li.price-list__block-wrappers-list-item 7 700 ₽
                                li.price-list__block-wrappers-list-item 8 100 ₽
                                li.price-list__block-wrappers-list-item 8 500 ₽
                                li.price-list__block-wrappers-list-item 8 900 ₽
                                li.price-list__block-wrappers-list-item 9 900 ₽
                                li.price-list__block-wrappers-list-item 10 900 ₽
                                li.price-list__block-wrappers-list-item 11 900 ₽
                                li.price-list__block-wrappers-list-item 12 900 ₽ 
                                li.price-list__block-wrappers-list-item 13 900 ₽
            .price-list__block 
                .price-list__block-add 003
                .price-list__block-title Цена на покраску в цвета "эксклюзив"
                .price-list__block-description Дополнительное покрытие лаком: +700 руб. / диск
                .price-list__block-price 
                    .price-list__block-prices
                        .price-list__block-wrapper 
                            .price-list__block-wrapper-title радиус:
                            ul.price-list__block-wrapper-list
                                li.price-list__block-wrapper-list-item R13
                                li.price-list__block-wrapper-list-item R14
                                li.price-list__block-wrapper-list-item R15
                                li.price-list__block-wrapper-list-item R16
                                li.price-list__block-wrapper-list-item R17
                                li.price-list__block-wrapper-list-item R18
                                li.price-list__block-wrapper-list-item R19
                                li.price-list__block-wrapper-list-item R20
                                li.price-list__block-wrapper-list-item R21
                                li.price-list__block-wrapper-list-item R22
                                li.price-list__block-wrapper-list-item R23 
                                li.price-list__block-wrapper-list-item R24
                        .price-list__block-wrappers
                            .price-list__block-wrappers-title цена за 1 комплект
                            ul.price-list__block-wrappers-list
                                li.price-list__block-wrappers-list-item 6 000 ₽
                                li.price-list__block-wrappers-list-item 6 800 ₽
                                li.price-list__block-wrappers-list-item 7 300 ₽
                                li.price-list__block-wrappers-list-item 7 700 ₽
                                li.price-list__block-wrappers-list-item 8 100 ₽
                                li.price-list__block-wrappers-list-item 8 500 ₽
                                li.price-list__block-wrappers-list-item 8 900 ₽
                                li.price-list__block-wrappers-list-item 9 900 ₽
                                li.price-list__block-wrappers-list-item 10 900 ₽
                                li.price-list__block-wrappers-list-item 11 900 ₽
                                li.price-list__block-wrappers-list-item 12 900 ₽ 
                                li.price-list__block-wrappers-list-item 13 900 ₽
                        .price-list__block-wrappers 
                            .price-list__block-wrappers-title цена за 1 комплект
                            ul.price-list__block-wrappers-list
                                li.price-list__block-wrappers-list-item 6 000 ₽
                                li.price-list__block-wrappers-list-item 6 800 ₽
                                li.price-list__block-wrappers-list-item 7 300 ₽
                                li.price-list__block-wrappers-list-item 7 700 ₽
                                li.price-list__block-wrappers-list-item 8 100 ₽
                                li.price-list__block-wrappers-list-item 8 500 ₽
                                li.price-list__block-wrappers-list-item 8 900 ₽
                                li.price-list__block-wrappers-list-item 9 900 ₽
                                li.price-list__block-wrappers-list-item 10 900 ₽
                                li.price-list__block-wrappers-list-item 11 900 ₽
                                li.price-list__block-wrappers-list-item 12 900 ₽ 
                                li.price-list__block-wrappers-list-item 13 900 ₽
            .price-list__block 
                .price-list__block-add 004
                .price-list__block-title Цена покраски дисков с использованием алмазной шлифовки лицевой части
                .price-list__block-price 
                    .price-list__block-prices
                        .price-list__block-wrapper 
                            .price-list__block-wrapper-title радиус:
                            ul.price-list__block-wrapper-list
                                li.price-list__block-wrapper-list-item R12-14
                                li.price-list__block-wrapper-list-item R15
                                li.price-list__block-wrapper-list-item R16
                                li.price-list__block-wrapper-list-item R17
                                li.price-list__block-wrapper-list-item R18
                                li.price-list__block-wrapper-list-item R19
                                li.price-list__block-wrapper-list-item R20
                                li.price-list__block-wrapper-list-item R21
                                li.price-list__block-wrapper-list-item R22
                                li.price-list__block-wrapper-list-item R23 
                                li.price-list__block-wrapper-list-item R24
                        .price-list__block-wrappers
                            .price-list__block-wrappers-title цена за 1 комплект
                            ul.price-list__block-wrappers-list
                                li.price-list__block-wrappers-list-item 15 000 ₽
                                li.price-list__block-wrappers-list-item 15 500 ₽ 
                                li.price-list__block-wrappers-list-item 16 000 ₽
                                li.price-list__block-wrappers-list-item 17 000 ₽
                                li.price-list__block-wrappers-list-item 18 000 ₽
                                li.price-list__block-wrappers-list-item 19 000 ₽
                                li.price-list__block-wrappers-list-item 20 000 ₽
                                li.price-list__block-wrappers-list-item 22 000 ₽
                                li.price-list__block-wrappers-list-item 23 000 ₽
                                li.price-list__block-wrappers-list-item 25 000 ₽
                                li.price-list__block-wrappers-list-item 27 000 ₽
                        .price-list__block-wrappers 
                            .price-list__block-wrappers-title цена за 1 комплект
                            ul.price-list__block-wrappers-list
                                li.price-list__block-wrappers-list-item 5 000 ₽
                                li.price-list__block-wrappers-list-item 5 000 ₽
                                li.price-list__block-wrappers-list-item 5 000 ₽
                                li.price-list__block-wrappers-list-item 5 000 ₽
                                li.price-list__block-wrappers-list-item 6 000 ₽
                                li.price-list__block-wrappers-list-item 6 000 ₽
                                li.price-list__block-wrappers-list-item 7 000 ₽
                                li.price-list__block-wrappers-list-item 8 000 ₽
                                li.price-list__block-wrappers-list-item 10 000 ₽
                                li.price-list__block-wrappers-list-item 10 000 ₽
                                li.price-list__block-wrappers-list-item 10 900 ₽
            .price-list__block 
                .price-list__block-add 005
                .price-list__block-title Хранение шин
                ul.price-list__block-list 
                    li.price-list__block-list-item Сезонное хранение шин (комплект) - 500 руб./мес., на дисках - 700 руб./мес.
            .price-list__block 
                .price-list__block-add 006
                .price-list__block-title Цены на ремонт литых и штампованных дисков
                .price-list__block-price 
                    .price-list__block-prices
                        .price-list__block-wrapper 
                            .price-list__block-wrapper-title радиус:
                            ul.price-list__block-wrapper-list
                                li.price-list__block-wrapper-list-item R13
                                li.price-list__block-wrapper-list-item R14
                                li.price-list__block-wrapper-list-item R15
                                li.price-list__block-wrapper-list-item R16
                                li.price-list__block-wrapper-list-item R17
                                li.price-list__block-wrapper-list-item R18
                                li.price-list__block-wrapper-list-item R19
                                li.price-list__block-wrapper-list-item R20
                                li.price-list__block-wrapper-list-item R21
                                li.price-list__block-wrapper-list-item R22
                        .price-list__block-wrappers
                            .price-list__block-wrappers-title ШТАМПОВАННЫЙ
                            ul.price-list__block-wrappers-list.price-list__block-wrappers-list-5
                                li.price-list__block-wrappers-list-item 400 ₽
                                li.price-list__block-wrappers-list-item 500 ₽ 
                                li.price-list__block-wrappers-list-item 600 ₽
                                li.price-list__block-wrappers-list-item 700 ₽
                                li.price-list__block-wrappers-list-item 800 ₽
                                li.price-list__block-wrappers-list-item 900 ₽
                                li.price-list__block-wrappers-list-item 1 000₽
                                li.price-list__block-wrappers-list-item 9 900 ₽
                        .price-list__block-wrappers 
                            .price-list__block-wrappers-title ЛИТОЙ
                            ul.price-list__block-wrappers-list
                                li.price-list__block-wrappers-list-item 1 000 ₽
                                li.price-list__block-wrappers-list-item 1 300 ₽
                                li.price-list__block-wrappers-list-item 1 500 ₽
                                li.price-list__block-wrappers-list-item 1 600 ₽
                                li.price-list__block-wrappers-list-item 1 700 ₽
                                li.price-list__block-wrappers-list-item 1 800 ₽
                                li.price-list__block-wrappers-list-item 1 900 ₽
                                li.price-list__block-wrappers-list-item 2 000 ₽
                                li.price-list__block-wrappers-list-item 2 500 ₽
                                li.price-list__block-wrappers-list-item 3 000 ₽
            .price-list__block 
                .price-list__block-add 007
                .price-list__block-title Исправление повреждения диска "восьмерка"
                .price-list__block-price 
                    .price-list__block-prices
                        .price-list__block-wrapper 
                            .price-list__block-wrapper-title радиус:
                            ul.price-list__block-wrapper-list
                                li.price-list__block-wrapper-list-item R13
                                li.price-list__block-wrapper-list-item R14
                                li.price-list__block-wrapper-list-item R15
                                li.price-list__block-wrapper-list-item R16
                                li.price-list__block-wrapper-list-item R17
                                li.price-list__block-wrapper-list-item R18
                                li.price-list__block-wrapper-list-item R19
                                li.price-list__block-wrapper-list-item R20
                                li.price-list__block-wrapper-list-item R21
                                li.price-list__block-wrapper-list-item R22
                                li.price-list__block-wrapper-list-item R23
                        .price-list__block-wrappers
                            .price-list__block-wrappers-title ЛИТОЙ
                            ul.price-list__block-wrappers-list
                                li.price-list__block-wrappers-list-item 1 400 ₽
                                li.price-list__block-wrappers-list-item 1 400 ₽
                                li.price-list__block-wrappers-list-item 1 800 ₽
                                li.price-list__block-wrappers-list-item 1 900 ₽
                                li.price-list__block-wrappers-list-item 2 200 ₽
                                li.price-list__block-wrappers-list-item 2 500 ₽
                                li.price-list__block-wrappers-list-item 2 700 ₽
                                li.price-list__block-wrappers-list-item 3 000 ₽
                                li.price-list__block-wrappers-list-item 3 500 ₽
                                li.price-list__block-wrappers-list-item 3 000 ₽
                                li.price-list__block-wrappers-list-item 4 000 ₽
            .price-list__block 
                .price-list__block-add 008
                .price-list__block-title Аргонная сварка
                ul.price-list__block-list 
                    li.price-list__block-list-item Стоимость работ определяется длиной сварочного шва исходя из 200 руб./см.
                    li.price-list__block-list-item Наплавление внутреннего борта диска - 300 руб./см.
                    li.price-list__block-list-item Наплавление внешнего борта диска - 400 руб./см.
                    li.price-list__block-list-item Стоимость минимальной работы по аргонной сварке (трещина на диске до 5 см): 1000 руб., свыше 1 см: 200 руб.
            .price-list__block 
                .price-list__block-add 009
                .price-list__block-title Шиномонтажные работы (цены на "переобувку" и балансировку)
                .price-list__block-price 
                    .price-list__block-prices
                    .price-list__block-wrapper 
                        .price-list__block-wrapper-title Переобувка (комплекс)
                        ul.price-list__block-wrapper-list
                            li.price-list__block-wrapper-list-item R13
                            li.price-list__block-wrapper-list-item R14
                            li.price-list__block-wrapper-list-item R15
                            li.price-list__block-wrapper-list-item R16
                            li.price-list__block-wrapper-list-item R17
                            li.price-list__block-wrapper-list-item R18
                            li.price-list__block-wrapper-list-item R19
                            li.price-list__block-wrapper-list-item R20
                            li.price-list__block-wrapper-list-item R21
                            li.price-list__block-wrapper-list-item R22
                    .price-list__block-wrappers
                        .price-list__block-wrappers-title Легковые
                        ul.price-list__block-wrappers-list
                            li.price-list__block-wrappers-list-item 1 500 ₽
                            li.price-list__block-wrappers-list-item 1 700 ₽
                            li.price-list__block-wrappers-list-item 1 900 ₽
                            li.price-list__block-wrappers-list-item 2 100 ₽
                            li.price-list__block-wrappers-list-item 2 300 ₽
                            li.price-list__block-wrappers-list-item 2 500 ₽
                            li.price-list__block-wrappers-list-item 2 800 ₽
                            li.price-list__block-wrappers-list-item 3 400 ₽
                            li.price-list__block-wrappers-list-item 3 800 ₽
                            li.price-list__block-wrappers-list-item 4 200 ₽
                    .price-list__block-wrappers
                        .price-list__block-wrappers-title Легковые (профиль<<50)
                        ul.price-list__block-wrappers-list
                            li.price-list__block-wrappers-list-item 1 800 ₽
                            li.price-list__block-wrappers-list-item 2 000 ₽
                            li.price-list__block-wrappers-list-item 2 300 ₽
                            li.price-list__block-wrappers-list-item 2 500 ₽
                            li.price-list__block-wrappers-list-item 2 800 ₽
                            li.price-list__block-wrappers-list-item 3 000 ₽
                            li.price-list__block-wrappers-list-item 3 200 ₽
                            li.price-list__block-wrappers-list-item 3 800 ₽
                            li.price-list__block-wrappers-list-item 4 200 ₽
                            li.price-list__block-wrappers-list-item 4 500 ₽
                    .price-list__block-wrappers
                        .price-list__block-wrappers-title Кроссоверы / внедорожники
                        ul.price-list__block-wrappers-list
                            li.price-list__block-wrappers-list-item 2 100 ₽
                            li.price-list__block-wrappers-list-item 2 300 ₽
                            li.price-list__block-wrappers-list-item 2 500 ₽
                            li.price-list__block-wrappers-list-item 2 700 ₽
                            li.price-list__block-wrappers-list-item 2 900 ₽
                            li.price-list__block-wrappers-list-item 3 100 ₽
                            li.price-list__block-wrappers-list-item 3 300 ₽
                            li.price-list__block-wrappers-list-item 3 700 ₽
                            li.price-list__block-wrappers-list-item 4 000 ₽
                            li.price-list__block-wrappers-list-item 4 500 ₽
                    .price-list__block-wrappers
                        .price-list__block-wrappers-title Кроссоверы / внедорожники (профиль<<50)
                        ul.price-list__block-wrappers-list
                            li.price-list__block-wrappers-list-item 2 100 ₽
                            li.price-list__block-wrappers-list-item 2 300 ₽
                            li.price-list__block-wrappers-list-item 2 500 ₽
                            li.price-list__block-wrappers-list-item 2 700 ₽
                            li.price-list__block-wrappers-list-item 2 900 ₽
                            li.price-list__block-wrappers-list-item 3 100 ₽
                            li.price-list__block-wrappers-list-item 3 300 ₽
                            li.price-list__block-wrappers-list-item 3 700 ₽
                            li.price-list__block-wrappers-list-item 4 000 ₽
                            li.price-list__block-wrappers-list-item 4 500 ₽
                    .price-list__block-wrappers
                        .price-list__block-wrappers-title Микроавтобусы / Газели
                        ul.price-list__block-wrappers-list
                            li.price-list__block-wrappers-list-item 3 200 ₽
                            li.price-list__block-wrappers-list-item 2 500 ₽
                    .price-list__block-wrappers
                        .price-list__block-wrappers-title Снятие и установка 4-х колес без балансировки
                        ul.price-list__block-wrappers-list
                            li.price-list__block-wrappers-list-item 500 ₽
                            li.price-list__block-wrappers-list-item 500 ₽
                            li.price-list__block-wrappers-list-item 600 ₽
                            li.price-list__block-wrappers-list-item 700 ₽
                            li.price-list__block-wrappers-list-item 800 ₽
                            li.price-list__block-wrappers-list-item 800 ₽
                            li.price-list__block-wrappers-list-item 1 000 ₽
                            li.price-list__block-wrappers-list-item 1 200 ₽
                            li.price-list__block-wrappers-list-item 1 400 ₽
                            li.price-list__block-wrappers-list-item 1 600 ₽
                    .price-list__block-wrappers
                        .price-list__block-wrappers-title Балансировка 4-х колес (легковые)
                        ul.price-list__block-wrappers-list
                            li.price-list__block-wrappers-list-item 1 000 ₽
                            li.price-list__block-wrappers-list-item 1 100 ₽
                            li.price-list__block-wrappers-list-item 1 200 ₽
                            li.price-list__block-wrappers-list-item 1 300 ₽
                            li.price-list__block-wrappers-list-item 1 500 ₽
                            li.price-list__block-wrappers-list-item 1 700 ₽
                            li.price-list__block-wrappers-list-item 1 800 ₽
                            li.price-list__block-wrappers-list-item 2 200 ₽
                            li.price-list__block-wrappers-list-item 2 400 ₽
                            li.price-list__block-wrappers-list-item 2 600 ₽
                    .price-list__block-wrappers
                        .price-list__block-wrappers-title Балансировка 4-х колес (внедорожники)
                        ul.price-list__block-wrappers-list
                            li.price-list__block-wrappers-list-item 1 200 ₽
                            li.price-list__block-wrappers-list-item 1 300 ₽
                            li.price-list__block-wrappers-list-item 1 400 ₽
                            li.price-list__block-wrappers-list-item 1 500 ₽
                            li.price-list__block-wrappers-list-item 1 600 ₽
                            li.price-list__block-wrappers-list-item 1 800 ₽
                            li.price-list__block-wrappers-list-item 1 900 ₽
                            li.price-list__block-wrappers-list-item 2 800 ₽
                            li.price-list__block-wrappers-list-item 3 000 ₽
                            li.price-list__block-wrappers-list-item 3 200 ₽
                    .price-list__block-wrappers
                        .price-list__block-wrappers-title Балансировка 4-х колес (внедорожники)
                        ul.price-list__block-wrappers-list
                            li.price-list__block-wrappers-list-item 1 200 ₽
                            li.price-list__block-wrappers-list-item 1 300 ₽
                            li.price-list__block-wrappers-list-item 1 400 ₽
                            li.price-list__block-wrappers-list-item 1 500 ₽
                            li.price-list__block-wrappers-list-item 1 600 ₽
                            li.price-list__block-wrappers-list-item 1 800 ₽
                            li.price-list__block-wrappers-list-item 1 900 ₽
                            li.price-list__block-wrappers-list-item 2 800 ₽
                            li.price-list__block-wrappers-list-item 3 000 ₽
                            li.price-list__block-wrappers-list-item 3 200 ₽
            .price-list__block 
                .price-list__block-add 010
                .price-list__block-title Шиномонтажные работы (цены на "переобувку" и балансировку)
                .price-list__block-wrappers-table 
                        ul.price-list__block-wrappers-table-list
                            li.price-list__block-wrappers-table-list-item 52 мм - 100 ₽
                            li.price-list__block-wrappers-table-list-item Грибок - 400 ₽
                            li.price-list__block-wrappers-table-list-item типа R-8 - 150 ₽
                            li.price-list__block-wrappers-table-list-item типа R-10 - 200 ₽
                        ul.price-list__block-wrappers-table-list
                            li.price-list__block-wrappers-table-list-item типа R-12 - 300 ₽
                            li.price-list__block-wrappers-table-list-item типа R-18 - 400 ₽
                            li.price-list__block-wrappers-table-list-item типа R-19 - 500 ₽
                            li.price-list__block-wrappers-table-list-item типа R-25 - 1 000 ₽
                        ul.price-list__block-wrappers-table-list
                            li.price-list__block-wrappers-table-list-item типа R-33 - 1 000 ₽
                            li.price-list__block-wrappers-table-list-item горячая вулканизация	от - 1 500 ₽
            .price-list__block 
                .price-list__block-add 011
                .price-list__block-title Исправление повреждения диска "восьмерка"
                .price-list__block-price 
                    .price-list__block-prices
                        .price-list__block-wrapper 
                            .price-list__block-wrapper-title радиус:
                            ul.price-list__block-wrapper-list
                                li.price-list__block-wrapper-list-item R13
                                li.price-list__block-wrapper-list-item R14
                                li.price-list__block-wrapper-list-item R15
                                li.price-list__block-wrapper-list-item R16
                                li.price-list__block-wrapper-list-item R17
                                li.price-list__block-wrapper-list-item R18
                                li.price-list__block-wrapper-list-item R19
                                li.price-list__block-wrapper-list-item R20
                        .price-list__block-wrappers
                            .price-list__block-wrappers-title ЛИТОЙ
                            ul.price-list__block-wrappers-list
                                li.price-list__block-wrappers-list-item от 1 500 ₽
                                li.price-list__block-wrappers-list-item от 1 500 ₽
                                li.price-list__block-wrappers-list-item от 1 500 ₽
                                li.price-list__block-wrappers-list-item от 1 500 ₽
                                li.price-list__block-wrappers-list-item от 1 500 ₽
                                li.price-list__block-wrappers-list-item от 1 500 ₽
                                li.price-list__block-wrappers-list-item от 1 500 ₽
                                li.price-list__block-wrappers-list-item от 1 500 ₽
                        .price-list__block-wrappers 
                            .price-list__block-wrappers-title Внедорожники, Минивэны
                            ul.price-list__block-wrappers-list
                                li.price-list__block-wrappers-list-item от 1 500 ₽
                                li.price-list__block-wrappers-list-item от 1 500 ₽
                                li.price-list__block-wrappers-list-item от 1 500 ₽
                                li.price-list__block-wrappers-list-item от 1 500 ₽
                                li.price-list__block-wrappers-list-item от 1 500 ₽
                                li.price-list__block-wrappers-list-item от 1 500 ₽
                                li.price-list__block-wrappers-list-item от 1 500 ₽
                                li.price-list__block-wrappers-list-item от 1 500 ₽
            .price-list__block 
                .price-list__block-add 012
                .price-list__block-title Цены на ремонт боковых порезов шин:
                .price-list__block-price 
                    .price-list__block-prices
                        .price-list__block-wrapper 
                            .price-list__block-wrapper-title радиус:
                            ul.price-list__block-wrapper-list
                                li.price-list__block-wrapper-list-item R13
                                li.price-list__block-wrapper-list-item R14
                                li.price-list__block-wrapper-list-item R15
                                li.price-list__block-wrapper-list-item R16
                                li.price-list__block-wrapper-list-item R17
                                li.price-list__block-wrapper-list-item R18
                                li.price-list__block-wrapper-list-item R19
                                li.price-list__block-wrapper-list-item R20
                        .price-list__block-wrappers
                            .price-list__block-wrappers-title ЛЕГКОВЫЕ
                            ul.price-list__block-wrappers-list
                                li.price-list__block-wrappers-list-item 600 ₽
                                li.price-list__block-wrappers-list-item 650 ₽
                                li.price-list__block-wrappers-list-item 700 ₽
                                li.price-list__block-wrappers-list-item 750 ₽
                                li.price-list__block-wrappers-list-item 800 ₽
                                li.price-list__block-wrappers-list-item 950 ₽
                                li.price-list__block-wrappers-list-item 1 000 ₽
                                li.price-list__block-wrappers-list-item 1 100 ₽
                        .price-list__block-wrappers 
                            .price-list__block-wrappers-title Внедорожники, Минивэны
                            ul.price-list__block-wrappers-list
                                li.price-list__block-wrappers-list-item 600 ₽
                                li.price-list__block-wrappers-list-item 650 ₽
                                li.price-list__block-wrappers-list-item 700 ₽
                                li.price-list__block-wrappers-list-item 750 ₽
                                li.price-list__block-wrappers-list-item 800 ₽
                                li.price-list__block-wrappers-list-item 950 ₽
                                li.price-list__block-wrappers-list-item 1 000 ₽
                                li.price-list__block-wrappers-list-item 1 100 ₽
            .price-list__block 
                .price-list__block-add 013
                .price-list__block-title Цены на ремонт боковых порезов шин:
                .price-list__block-price 
                    .price-list__block-prices
                        .price-list__block-wrapper 
                            .price-list__block-wrapper-title радиус:
                            ul.price-list__block-wrapper-list
                                li.price-list__block-wrapper-list-item R13
                                li.price-list__block-wrapper-list-item R14
                                li.price-list__block-wrapper-list-item R15
                                li.price-list__block-wrapper-list-item R16
                                li.price-list__block-wrapper-list-item R17
                                li.price-list__block-wrapper-list-item R18
                                li.price-list__block-wrapper-list-item R19
                                li.price-list__block-wrapper-list-item R20
                        .price-list__block-wrappers
                            .price-list__block-wrappers-title ЛЕГКОВЫЕ
                            ul.price-list__block-wrappers-list
                                li.price-list__block-wrappers-list-item 600 ₽
                                li.price-list__block-wrappers-list-item 650 ₽
                                li.price-list__block-wrappers-list-item 700 ₽
                                li.price-list__block-wrappers-list-item 750 ₽
                                li.price-list__block-wrappers-list-item 800 ₽
                                li.price-list__block-wrappers-list-item 950 ₽
                                li.price-list__block-wrappers-list-item 1 000 ₽
                                li.price-list__block-wrappers-list-item 1 100 ₽
                        .price-list__block-wrappers 
                            .price-list__block-wrappers-title Внедорожники, Минивэны
                            ul.price-list__block-wrappers-list
                                li.price-list__block-wrappers-list-item 600 ₽
                                li.price-list__block-wrappers-list-item 650 ₽
                                li.price-list__block-wrappers-list-item 700 ₽
                                li.price-list__block-wrappers-list-item 750 ₽
                                li.price-list__block-wrappers-list-item 800 ₽
                                li.price-list__block-wrappers-list-item 950 ₽
                                li.price-list__block-wrappers-list-item 1 000 ₽
                                li.price-list__block-wrappers-list-item 1 100 ₽











    @@include('components/_footer.pug')
    @@include('components/_menu.pug')

@@include('components/_script.pug')