@@include('components/_head.pug')

    @@include('components/_header.pug')



    section.refill-header 
        .containers 
            .refill-header__block
                .refill-header__block-title Заправка автокондиционеров
                .refill-header__block-add Качественная заправка автокондиционера на итальянском оборудовании. Диагностика и ремонт автомобильных кондиционеров.
                .refill-header__block-banner 
                    img(src="./img/header-banner.png" alt="img")

    section.refill-about 
        .containers 
            .refill-about__block 
                .refill-about__block-img 
                    img(src="./img/about.png", alt="img")
                .refill-about__block-content 
                    .refill-about__block-content-text
                        .refill-about__block-content-text-item Мы производим диагностику, заправку и ремонт автокондиционеров. Наши специалисты проводят заправку на итальянском оборудовании, оснащенном автоматическим циклом диагностики, очистки и заправки хладагентом.
                            br
                            br
                            span Внимание! Мы осуществляем так же заправку фреоном типа R404, R410.
                        button.refill-about__block-content-add-btn
                            a(href="#") Связаться
            .refill-about__wrapper 
                .refill-about__wrapper-text 
                    .refill-about__wrapper-text-add Заправка автокондиционеров осуществляется современным хладагентом, используемым в подавляющем большинстве нынешних автомобилей. Так как в системе автомобильного кондиционирования используется специальное смазывающее масло, которое со временем теряет свои свойства и загрязняется, перед заправкой старое масло в обязательном порядке подлежит замене на свежее.
                        br
                        br
                        | Обращайтесь к нам и мы поможем сделать вашу езду на автомобиле максимальной комфортной.
                        br
                        br
                        | Мы будем рады вам помочь!
                .refill-about__wrapper-banner
                    .refill-about__wrapper-banner-item
                        .refill-about__wrapper-banner-items 
                    button.refill-about__wrapper-banner-btn
                        a(href="#") Связаться

    section.refill-list 
        .containers 
            .refill-list__block 
                .refill-list__block-add 002
                .refill-list__block-title Цены на заправку автокондиционеров
                .refill-list__block-wrapper 
                    .refill-list__block-wrapper-title количество фреона
                    ul.refill-list__block-wrapper-list
                        li.refill-list__block-wrapper-list-item до 500 гр.
                        li.refill-list__block-wrapper-list-item от 500 до 700 гр.
                        li.refill-list__block-wrapper-list-item от 700 до 1000 гр.
                        li.refill-list__block-wrapper-list-item свыше 1000 гр.
                .refill-list__block-wrappers
                    .refill-list__block-wrappers-title заправка + диагностика + замена масла
                    ul.refill-list__block-wrappers-list
                        li.refill-list__block-wrappers-list-item 1 400 ₽
                        li.refill-list__block-wrappers-list-item 1 600 ₽
                        li.refill-list__block-wrappers-list-item 1 800 ₽
                        li.refill-list__block-wrappers-list-item 2 000 ₽

    section.refill-abouts 
        .containers 
            .refill-abouts__block 
                .refill-abouts__block-img 
                    img(src="./img/abouts.png", alt="img")
                .refill-abouts__block-content 
                    .refill-abouts__block-content-text
                        .refill-abouts__block-content-text-item Заправка автокондиционеров осуществляется современным хладагентом, используемым в подавляющем большинстве нынешних автомобилей. Так как в системе автомобильного кондиционирования используется специальное смазывающее масло, которое со временем теряет свои свойства и загрязняется, перед заправкой старое масло в обязательном порядке подлежит замене на свежее.
                    .refill-abouts__block-content-add Обращайтесь к нам и мы поможем сделать вашу езду на автомобиле максимальной комфортной.
                        br
                        br
                        | Мы будем рады вам помочь!





    @@include('components/_footer.pug')
    @@include('components/_menu.pug')

@@include('components/_script.pug')