@@include('components/_head.pug')

    @@include('components/_header.pug')



    section.reviews-header 
        .containers 
            .reviews-header__block
                .reviews-header__block-title Отзывы
                .reviews-header__block-banner 
                    img(src="./img/header-banner.png" alt="img")
                .reviews-header__block-messages 
                    .reviews-header__block-messages-block 
                        .reviews-header__block-messages-block-title 
                            h3 Сергей
                            p 08.12.2012
                        .reviews-header__block-messages-block-text Покрасил в данной Компании несколько комплектов дисков, ни по одному диску нареканий не было, качество достойное положительных отзывов. Ценник на покраску приятно удивляет. За приемлемую цену получил новые диски, машина преобразилась. Спасибо руководству и коллективу за оперативную и качественную работу.
                        .reviews-header__block-messages-block-img
                .reviews-header__block-messages 
                    .reviews-header__block-messages-block 
                        .reviews-header__block-messages-block-title 
                            h3 Руслан
                            p 12.11.2015
                        .reviews-header__block-messages-block-text Добрый день. Хочу оставить положительный отзыв. Сдавали диски на ремонт и покраску, сделали все быстро и качественно. Спасибо, теперь обращаться будем только к вам!
                        .reviews-header__block-messages-block-img
                .reviews-header__block-messages
                    .reviews-header__block-messages-block 
                        .reviews-header__block-messages-block-title 
                            h3 Андрей
                            p 15.11.2015
                        .reviews-header__block-messages-block-text Огромной спасибо за такую достойную и качественную работу! Красили сразу два комплекта, диски просто не узнать! Т.к. крашу диски не первый раз такого эффекта никто не ожидал + важный факт это минимальные цены!!! Спасибо, всем рекомендую))
                        .reviews-header__block-messages-block-img
                button.reviews-header__block-btn#reviewsOpenMessages ЕЩЕ ОТЗЫВЫ
                .reviews-header__block-messages.display-n#reviewsElementMessages-1
                    .reviews-header__block-messages-block 
                        .reviews-header__block-messages-block-title 
                            h3 Светлана
                            p 26.01.2016
                        .reviews-header__block-messages-block-text Хочу оставить положительный отзыв. Отдавала на покраску старые диски. Покрасили, пришлось править 3 диска. Цена вполне себе адекватная за все. Сделали с правкой за 5 дней. Качественно покрасили, никакой шагрени, все ровненько. Спасибо!
                        .reviews-header__block-messages-block-img
                .reviews-header__block-messages.display-n#reviewsElementMessages-2
                    .reviews-header__block-messages-block 
                        .reviews-header__block-messages-block-title 
                            h3 Павел
                            p 07.04.2016
                        .reviews-header__block-messages-block-text О работе центра на Варшавке только положительный отзыв. Сдавал диски в покраску. Ребята сразу предупредили, что загрузка большая и будут делать неделю. Через неделю позвонил и сказали, что диски пришлось перекрасить и поэтому нужен ещё день-два. Я отнесся с пониманием того, что мастера ответственно подошли к выполнению заказа. На следующий день с утра мне позвонили и пригласили на монтаж. Качество покраски на очень хорошем уровне. Сам связан с порошковой окраской по специфики работы знаю как должно быть хорошо. Диски под грязевую резину, которая сложно балансируется. Мастера несколько раз её поворачиваем на диске и добились наилучшего результата. Очень доволен обслуживание и отношением к клиентам. Буду обращаться и в будущем. Буду советовать друзьям и знакомым. Удачи в работе!
                        .reviews-header__block-messages-block-img
                .reviews-header__block-messages.display-n#reviewsElementMessages-3
                    .reviews-header__block-messages-block 
                        .reviews-header__block-messages-block-title 
                            h3 Анатолий
                            p 23.04.2016
                        .reviews-header__block-messages-block-text Привез оригинальные диски на покраску в убитом состоянии,борты были счесаны на каждом диске,были очень глубокие царапины,на одном диске даже была восьмерка,остальные 3 диска тоже нуждались в правке,цену объявили мне 20 000,так как эту фирму мне посоветовал друг решил рискнуть их отремонтировать,честно говоря больших надежд не возлагал ,диски дорогие даже б\у,поэтому такая цена меня приятно удивила , приезжал в Марьино несколько раз ,советовался на счет цвета ,на счет ремонта, администратор Александра помогла мне с выбором цвета (которым я был крайне доволен).Прошла неделя я приехал за дисками и честно говоря я не поверил,что это мой комплект,работники шиномонтажа при мне прокрутили на своем оборудовании диски и показали их состояние после ремонта,они полностью в идеальном состоянии ,восьмерки нет,теперь я постоянный клиент вашего шиномонтажа..
                        .reviews-header__block-messages-block-img

                .reviews-header__block-messages.display-n#reviewsElementMessages-4
                    .reviews-header__block-messages-block 
                        .reviews-header__block-messages-block-title 
                            h3 Станислав
                            p 15.05.2016
                        .reviews-header__block-messages-block-text Хочется поблагодарить компанию "Пит Стоп" за быструю и качественную работу,пользуюсь вашим шиномотажом уже два года,красил диски ,вчера заправлял у вас кондиционер,очень понравился подход ваших работников к моим пожеланиям и просьбам,спасибо за работу!Удачи ребята!
                        .reviews-header__block-messages-block-img

                .reviews-header__block-messages.display-n#reviewsElementMessages-5
                    .reviews-header__block-messages-block 
                        .reviews-header__block-messages-block-title 
                            h3 Евгений
                            p 18.06.2016
                        .reviews-header__block-messages-block-text Хочу поблагодарить ваш сервис за круглосуточный график работы в Марьино. Прокатали, отбалансировали правильно!!! Отдельное спасибо Михаилу, он мастер с большой буквы!!!Профи своего дела. Побольше-бы таких!!! Обязательно к вам приеду еще и на покраску.
                        .reviews-header__block-messages-block-img

                .reviews-header__block-messages.display-n#reviewsElementMessages-6
                    .reviews-header__block-messages-block 
                        .reviews-header__block-messages-block-title 
                            h3 Георгий
                            p 24.08.2016
                        .reviews-header__block-messages-block-text Здравствуйте. Хотел бы узнать имя мастера, который работал 23.08.16 19-21 часа. Запомнил внешность не спросил как зовут. Теперь только к нему.
                        .reviews-header__block-messages-block-img

                .reviews-header__block-messages.display-n#reviewsElementMessages-7
                    .reviews-header__block-messages-block 
                        .reviews-header__block-messages-block-title 
                            h3 Тимофей
                            p 20.09.2016
                        .reviews-header__block-messages-block-text Покрасил три комплекта в Марьино,очень доволен качеством работы,рекомендую всем своим друзьям и знакомым)
                        .reviews-header__block-messages-block-img

                .reviews-header__block-messages.display-n#reviewsElementMessages-8
                    .reviews-header__block-messages-block 
                        .reviews-header__block-messages-block-title 
                            h3 Алексей
                            p 09.10.2016
                        .reviews-header__block-messages-block-text Не смог написать отзыв раньше, пришлось уехать на неделю. Неделю назад сдавал диски в покраску (Перерва 30). 4 оригинальных литых диска от Mitsubishi Lanser 10. Дискам пошел 7-й год. Владельцы поймут о чем я. Все это время диски эксплуатировались только с зимней резиной. За это время они пришли в такое состояние, что любой сказал бы - на свалку, без разговоров. Вся краска повздувалась огромными пузырями, подозреваю что от дорожной химии и местами стала отваливаться огромными кусками, из под которых посыпалась странная крошка похожая на окись. Решил попробовать сдать диски в покраску, терять нечего. Позвонил в компанию, привез диски, отдал и стал ждать, что из этого выйдет. Честно говоря, не думал что из этого "г..на" что-то получится стоящее. Не поверите. Когда увидел диски я обслдел. Стали они выглядеть лучше, чем были новыми. Снимаю шляпу!!!!! Ребята профи! Был уверен на 99%, что под краской будут видны какие-нибудь следы раковин или неровности (окислы были очень глубокие). Покрашено идеально! Ребятам огромный респект! Парни занимаются своей работой не только ради денег но и для удовольствия. Нет большей родости, чем видеть прыгающего от радости клиента. Кстати скаказать, цена за такую работу смешная. 6 700 руб. за 4 диска 16 радиуса. В других местах цена поднималась до 20 000 руб. За те же диски. Еще раз: О Г Р О М Н О Е С П А С И Б О! Однозначно, буду рекомендовать всем друзьям, знакомым и своим клиентам!!!
                        .reviews-header__block-messages-block-img

                .reviews-header__block-messages.display-n#reviewsElementMessages-9
                    .reviews-header__block-messages-block 
                        .reviews-header__block-messages-block-title 
                            h3 Павел
                            p 30.10.2016
                        .reviews-header__block-messages-block-text ремонтировал диски на ул.Лавочкина. оригинал бмв, сделали хорошо. качественно. на одном колесе была сильная вмятина-исправили без трещин.( хотя в другом шиномонтаже уверяли что надо будет варить) . по ценам очень даже отлично, никаких "от 1100р за колесо" а как есть правка-1100р не больше ни меньше.
                        .reviews-header__block-messages-block-img
                .reviews-header__block-messages.display-n#reviewsElementMessages-10
                    .reviews-header__block-messages-block 
                        .reviews-header__block-messages-block-title 
                            h3 Алексей
                            p 30.10.2016
                        .reviews-header__block-messages-block-text Воспользовался услугами этой компании, так как они расположены ближе всех. Мне требовалось покрасить диски на Лексус РХ, на которых я езжу исключительно зимой. Как обычно, вспомнил я об этом не летом, а в самый последний момент, то есть неделю назад, в самый разгар сезона. Колеса я привёз собранными. Сразу проверили диски на симметрию, обнаружились два кривых. Затем сняли резину, пометили номер заказа на дисках и резине и отправили меня домой, сообщив, что через неделю позвонят о готовности. Именно так и случилось. Более того, предложили мне удобное время переобувки. Перед постановкой зимнего комплекта на машину сами предложили и продемонстрировали исправленную симметрию на дисках. Итого: диски покрашены на 5 баллов, качество сервиса на 5 баллов, шиномонтаж на 5 баллов, отношение к клиенту и профессионализм ребят на 5 баллов. Спасибо менеджеру Алексею на Можайке за прекрасную организацию и качественное исполнение заказа. Должен признаться, что давно так не было приятно расставаться с деньгами за хорошо оказанную услугу а автосервисе. Молодцы. Так держать!!! Алексей. Лексус РХ.
                        .reviews-header__block-messages-block-img
                .reviews-header__block-messages.display-n#reviewsElementMessages-11
                    .reviews-header__block-messages-block 
                        .reviews-header__block-messages-block-title 
                            h3 Павел Анатольевич
                            p 06.06.2018
                        .reviews-header__block-messages-block-text Весной этого года отдал диски 17 на улицу Лавочкина, была правка дисков, покраска и сборка с балансировкой, так как машина была на ремонте колеса поставил только на прошлой неделе, и был огорчен диким биением диска не передке от 70 до 100 км/ч, когда диски забирал мой отец "я был на работе" то один диск правили прям в шиномонтаже, ответственный за это был выходной но отец с ним созвонился и тот еще потребовал дополнительную оплату "нагловат парень", в итоге с присутствующим работником шиномонтажа начали править диск, благо что это вн сторона, так как диски уже были покрашены, теперь еще и биение. за все вместе оплачено около 14500, сейчас уже ни кому не доказать что ты ни куда не ездил и сам не погнул диск, но факт остается фактом, потенциальных клиентов прошу быть бдительными в этом вопросе, конечно на фотографиях с сайта все красиво, но факты.... Руководство, обратите внимание на своего сотрудника, да тот который еще и доп оплату просил, да и вообще на весь отзыв в целом. Спасибо за понимание!
                        .reviews-header__block-messages-block-img
                .reviews-header__block-messages.display-n#reviewsElementMessages-12
                    .reviews-header__block-messages-block 
                        .reviews-header__block-messages-block-title 
                            h3 Ярослав Алексеев
                            p 10.10.2018
                        .reviews-header__block-messages-block-text Хороший шиномонтаж. Ребята нормальные. Цены вполне адекватные, не завышенные в сезон переобувки. Менял резину по купону. Обошлось почти в 2 раза дешевле нежели в других местах. Дополнительно в подарок обработали резину после летнего простоя. Рекомендую. Менял на спартаковской площади.
                        .reviews-header__block-messages-block-img
                .reviews-header__block-messages.display-n#reviewsElementMessages-13
                    .reviews-header__block-messages-block 
                        .reviews-header__block-messages-block-title 
                            h3 Dmitry PRoZa
                            p 28.11.2018
                        .reviews-header__block-messages-block-text Хотелось бы написать благодарственный отзыв за профессионально-проделанную работу. Что ж поделаешь, даже качественная китайская продукция выходит из строя: лопнуло крепление деки на электросамокате. По утверждению продавца, материал - авиационный алюминий. Обратился к ребятам за помощью. Шов аргонной сварки аккуратный, вся работа была проделана за полчаса, цены - адекватные. Быстро, качественно, надёжно! Рекомендую!
                        .reviews-header__block-messages-block-img
                button.reviews-header__block-btns.display-n#reviewsCloseMessages СВЕРНУТЬ



    @@include('components/_footer.pug')

@@include('components/_script.pug')