@@include('components/_head.pug')

    @@include('components/_header.pug')



    section.reviews-header 
        .containers 
            .reviews-header__block
                .reviews-header__block-title Отзывы
                .reviews-header__block-banner 
                    img(src="./img/header-banner.png" alt="img")
                .reviews-header__block-messages 
                    .reviews-header__block-messages-block 
                        .reviews-header__block-messages-block-title 
                            h3 Сергей
                            p 08.12.2012
                        .reviews-header__block-messages-block-text Покрасил в данной Компании несколько комплектов дисков, ни по одному диску нареканий не было, качество достойное положительных отзывов. Ценник на покраску приятно удивляет. За приемлемую цену получил новые диски, машина преобразилась. Спасибо руководству и коллективу за оперативную и качественную работу.
                        .reviews-header__block-messages-block-img
                .reviews-header__block-messages 
                    .reviews-header__block-messages-block 
                        .reviews-header__block-messages-block-title 
                            h3 Сергей
                            p 08.12.2012
                        .reviews-header__block-messages-block-text Покрасил в данной Компании несколько комплектов дисков, ни по одному диску нареканий не было, качество достойное положительных отзывов. Ценник на покраску приятно удивляет. За приемлемую цену получил новые диски, машина преобразилась. Спасибо руководству и коллективу за оперативную и качественную работу.
                        .reviews-header__block-messages-block-img
                .reviews-header__block-messages
                    .reviews-header__block-messages-block 
                        .reviews-header__block-messages-block-title 
                            h3 Сергей
                            p 08.12.2012
                        .reviews-header__block-messages-block-text Покрасил в данной Компании несколько комплектов дисков, ни по одному диску нареканий не было, качество достойное положительных отзывов. Ценник на покраску приятно удивляет. За приемлемую цену получил новые диски, машина преобразилась. Спасибо руководству и коллективу за оперативную и качественную работу.
                        .reviews-header__block-messages-block-img
                button.reviews-header__block-btn#reviewsOpenMessages ЕЩЕ ОТЗЫВЫ
                .reviews-header__block-messages.display-n#reviewsElementMessages-1
                    .reviews-header__block-messages-block 
                        .reviews-header__block-messages-block-title 
                            h3 Сергей
                            p 08.12.2012
                        .reviews-header__block-messages-block-text Покрасил в данной Компании несколько комплектов дисков, ни по одному диску нареканий не было, качество достойное положительных отзывов. Ценник на покраску приятно удивляет. За приемлемую цену получил новые диски, машина преобразилась. Спасибо руководству и коллективу за оперативную и качественную работу.
                        .reviews-header__block-messages-block-img
                .reviews-header__block-messages.display-n#reviewsElementMessages-2
                    .reviews-header__block-messages-block 
                        .reviews-header__block-messages-block-title 
                            h3 Сергей
                            p 08.12.2012
                        .reviews-header__block-messages-block-text Покрасил в данной Компании несколько комплектов дисков, ни по одному диску нареканий не было, качество достойное положительных отзывов. Ценник на покраску приятно удивляет. За приемлемую цену получил новые диски, машина преобразилась. Спасибо руководству и коллективу за оперативную и качественную работу.
                        .reviews-header__block-messages-block-img
                .reviews-header__block-messages.display-n#reviewsElementMessages-3
                    .reviews-header__block-messages-block 
                        .reviews-header__block-messages-block-title 
                            h3 Сергей
                            p 08.12.2012
                        .reviews-header__block-messages-block-text Покрасил в данной Компании несколько комплектов дисков, ни по одному диску нареканий не было, качество достойное положительных отзывов. Ценник на покраску приятно удивляет. За приемлемую цену получил новые диски, машина преобразилась. Спасибо руководству и коллективу за оперативную и качественную работу.
                        .reviews-header__block-messages-block-img
                button.reviews-header__block-btns.display-n#reviewsCloseMessages СВЕРНУТЬ



    @@include('components/_footer.pug')

@@include('components/_script.pug')