@@include('components/_head.pug')

    @@include('components/_header.pug')


    section.contact-header 
        .containers 
            .contact-header__block
                .contact-header__block-title Контакты
                .contact-header__block-img 
                    img(src="./img/contact/banner.png" alt="img")
                .contact-header__block-wrapper 
                    .contact-header__block-text 
                        .contact-header__block-text-add 001
                        .contact-header__block-text-title Шиномонтаж и автомойка Пит-Стоп на Рязанском проспекте
                        .contact-header__block-text-phone +7 495 021-88-78
                        .contact-header__block-text-address ул. Михайлова, 51/1
                        .contact-header__block-text-description Шиномонтаж - напротив этого дома.
                        .contact-header__block-text-time с 9:00 - 21:00
                        .contact-header__block-text-email E-mail: shini-pitstop@yandex.ru
                        .contact-header__block-text-item Шиномонтаж "Пит-Стоп на Рязанке" находится в Рязанском районе города Москвы. Шиномонтаж находится рядом с Рязанским проспектом, на улице Михайлова (по ул.Институтская-3). Пит-Стоп на Рязанке оказывает все услуги: шиномонтаж, ремонт и правка дисков, аргоновая сварка, боковые порезы, ремонт грыжи шин, покраска дисков, заправка кондиционеров. Также здесь работает автомойка.
                    .contact-header__block-banner
                        .contact-header__block-banner-item 
                            .contact-header__block-banner-items 
                                img(src="img/contact/rya.png", alt="png")
                        .contact-header__block-banner-map 
                            <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A308b3681372545de3e77dd813d3990745881ff4bd4b4afe69b144d62b22c11be&amp;source=constructor" width="100%" height="720" frameborder="0"></iframe>

    section.contact-mapg 
        .containers 
            .contact-mapg__block 
                .contact-mapg__block-add 002
                .contact-mapg__block-title Панорама на Гугл-картах
                .contact-mapg__block-map
                    <iframe src="https://www.google.com/maps/embed?pb=!4v1637077590269!6m8!1m7!1sXGdpmbesvkV9SiKaLSfUTA!2m2!1d55.72151995901051!2d37.7873676954656!3f204.81662287477218!4f-1.9455319854433952!5f0.7820865974627469" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

    section.contact-mapy 
        .containers 
            .contact-mapy__block 
                .contact-mapy__block-add 003
                .contact-mapy__block-title Панорама на Гугл-картах
                .contact-mapy__block-map
                    <div style="position:relative;overflow:hidden;"><a href="https://yandex.ru/maps/213/moscow/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Москва</a><a href="https://yandex.ru/maps/213/moscow/house/ulitsa_mikhaylova_51_1/Z04YcQ9mT0QAQFtvfXtzcHhmZg==/?ll=37.786691%2C55.721436&panorama%5Bdirection%5D=207.280377%2C2.258801&panorama%5Bfull%5D=true&panorama%5Bpoint%5D=37.787430%2C55.721586&panorama%5Bspan%5D=99.030211%2C48.942773&source=wizgeo&utm_medium=mapframe&utm_source=maps&z=17.55" style="color:#eee;font-size:12px;position:absolute;top:14px;">Улица Михайлова, 51/1 — Яндекс.Карты</a><iframe src="https://yandex.ru/map-widget/v1/-/CCUuuJEt~C" width="100%" height="400" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>


    @@include('components/_footer.pug')
    @@include('components/_menu.pug')

@@include('components/_script.pug')