@@include('components/_head.pug')

    @@include('components/_header.pug')



    section.season-header 
        .containers 
            .season-header__block
                .season-header__block-title Заправка автокондиционеров
                .season-header__block-add Качественная заправка автокондиционера на итальянском оборудовании. Диагностика и ремонт автомобильных кондиционеров.
                .season-header__block-banner 
                    img(src="./img/header-banner.png" alt="img")

    section.season-about 
        .containers 
            .season-about__block 
                .season-about__block-img 
                    img(src="./img/about.png", alt="img")
                .season-about__block-content 
                    .season-about__block-content-text
                        .season-about__block-content-text-item Мы производим диагностику, заправку и ремонт автокондиционеров. Наши специалисты проводят заправку на итальянском оборудовании, оснащенном автоматическим циклом диагностики, очистки и заправки хладагентом.
                            br
                            br
                            span Внимание! Мы осуществляем так же заправку фреоном типа R404, R410.
                        button.season-about__block-content-add-btn
                            a(href="#") Связаться
            .season-about__wrapper 
                .season-about__wrapper-text 
                    .season-about__wrapper-text-add Заправка автокондиционеров осуществляется современным хладагентом, используемым в подавляющем большинстве нынешних автомобилей. Так как в системе автомобильного кондиционирования используется специальное смазывающее масло, которое со временем теряет свои свойства и загрязняется, перед заправкой старое масло в обязательном порядке подлежит замене на свежее.
                        br
                        br
                        | Обращайтесь к нам и мы поможем сделать вашу езду на автомобиле максимальной комфортной.
                        br
                        br
                        | Мы будем рады вам помочь!
                .season-about__wrapper-banner
                    .season-about__wrapper-banner-item
                        .season-about__wrapper-banner-items 
                    button.season-about__wrapper-banner-btn
                        a(href="#") Связаться

    section.season-abouts 
        .containers 
            .season-abouts__block 
                .season-abouts__block-img 
                    img(src="./img/abouts.png", alt="img")
                .season-abouts__block-content 
                    .season-abouts__block-content-text
                        .season-abouts__block-content-text-add 004
                        .season-abouts__block-content-text-title Причины возникновения
                        .season-abouts__block-content-text-item Из-за неудовлетворительного состояния автомобильных дорог, в пути с машиной могут случиться самые разные поломки, но наиболее опасной из них является боковой порез шины или прокол колеса. 
                    .season-abouts__block-content-add 
                        p Если вдруг вы столкнулись с такой неприятностью, позвоните нам. Наши специалисты всегда вам помогут, выполнив профессиональный ремонт боковых порезов шин или ремонт грыжи на шине.
                            button.season-abouts__block-content-add-btn
                                a(href="#") Связаться

    section.season-easy 
        .containers 
            .season-easy__block 
                .season-easy__block-add 002
                .season-easy__block-title С нами удобно!
                ul.season-easy__block-list
                    li.season-easy__block-item
                        .season-easy__block-item-icons 
                        .season-easy__block-item-title Среднее время ожидания - 20 минут
                        .season-easy__block-item-text Самый быстрый шиномонтаж по времени прибытия в Москве
                    li.season-easy__block-item
                        .season-easy__block-item-icons 
                        .season-easy__block-item-title Гарантия на ремонт
                        .season-easy__block-item-text Гарантия на балансировку 14 дней, на ремонт шин - 3 года
                    li.season-easy__block-item
                        .season-easy__block-item-icons 
                        .season-easy__block-item-title Круглосуточно
                        .season-easy__block-item-text 24 часа. У нас нет выходных и праздников
                    li.season-easy__block-item
                        .season-easy__block-item-icons 
                        .season-easy__block-item-title Приедем тогда, когда вам удобно
                        .season-easy__block-item-text Мы приедем максимально быстро или в то время когда удобно вам
                    li.season-easy__block-item
                        .season-easy__block-item-icons 
                        .season-easy__block-item-title Даже если шина не подлежит ремонту!
                        .season-easy__block-item-text При необходимости купим и привезём новую или б/у шину на замену вашей
                    li.season-easy__block-item
                        .season-easy__block-item-icons 
                        .season-easy__block-item-title Повышаем компетенции сотрудников
                        .season-easy__block-item-text Все сотрудники проходят полное обучение технологиям ремонта от американских инструкторов


    @@include('components/_footer.pug')

@@include('components/_script.pug')