@@include('components/_head.pug')

    @@include('components/_header.pug')



    section.season-header 
        .containers 
            .season-header__block
                .season-header__block-title Сезонное хранение шин в Москве
                .season-header__block-add Надежное хранение шин в Москве на специально оборудованных складах.
                .season-header__block-banner 
                    img(src="./img/season/banner.png" alt="img")

    section.season-about 
        .containers 
            .season-about__block 
                .season-about__block-img 
                    img(src="./img/season/about-1.png" alt="img")
                .season-about__block-content 
                    .season-about__block-content-text
                        .season-about__block-content-text-item Вы можете оставить у нас шины на сезонное хранение.
                            br
                            br
                            | Наш склад соответствует всем необходимым требованиям для правильного хранения шин в межсезонье. Когда вы решитесь "переобуться", вам достаточно будет позвонить и записаться на удобное время.
                        button.season-about__block-content-add-btn
                            a(href="#") Связаться
            .season-about__wrapper 
                .season-about__wrapper-text 
                    .season-about__wrapper-text-add Сезонное хранение шин (комплект) - 500 руб./мес., на дисках - 700 руб./мес.
                        br
                        br
                        | Цена на сезонное хранение шин у нас не высокая — 500 руб./мес. для комплекта колес, если оставляете резину с дисками — то 700 руб./мес. Наши склады находятся Марьино (ЮВАО), Реутово.
                        br
                        br
                        br
                        span Внимание: скидка 50% на хранение шин при заказе услуг покраски дисков или шиномонтажа (только для Перерва и Лавочкина). 
                .season-about__wrapper-banner
                    .season-about__wrapper-banner-item
                        .season-about__wrapper-banner-items 
                            img(src="./img/season/about-2.png" alt="img")
                    button.season-about__wrapper-banner-btn
                        a(href="#") Связаться

    section.season-abouts 
        .containers 
            .season-abouts__block 
                .season-abouts__block-img 
                    img(src="./img/season/about-3.png" alt="img")
                .season-abouts__block-content 
                    .season-abouts__block-content-text
                        .season-abouts__block-content-text-add 001
                        .season-abouts__block-content-text-title Как обеспечить правильное хранение шин в межсезонье?
                        .season-abouts__block-content-text-item Из-за неудовлетворительного состояния автомобильных дорог, в пути с машиной могут случиться самые разные поломки, но наиболее опасной из них является боковой порез шины или прокол колеса. 
                    .season-abouts__block-content-add 
                        .season-abouts__block-content-add-item 1. Шины должны находится в темном, сухом и прохладном помещении.
                        .season-abouts__block-content-add-item 2. Необходимо исключить взаимодействие резины с различными химикатами, жирами, бензином и прочими активными жидкостями, так как они разрушительно действуют на них.
                        .season-abouts__block-content-add-item 3. При правильном сезонном хранении, шины должны располагаться на деревянных поддонах, либо специально сконструированных для них стеллажах.
                        .season-abouts__block-content-add-item 4. Чтобы избежать нежелательного давления на покрышку в одних и тех же местах, ее рекомендуется вращать.
                        .season-abouts__block-content-add-item 5. Колеса не следует хранить вертикально.

    section.season-easy 
        .containers 
            .season-easy__block 
                .season-easy__block-add 002
                .season-easy__block-title С нами удобно!
                ul.season-easy__block-list
                    li.season-easy__block-item
                        .season-easy__block-item-icons 
                        .season-easy__block-item-title Среднее время ожидания - 20 минут
                        .season-easy__block-item-text Самый быстрый шиномонтаж по времени прибытия в Москве
                    li.season-easy__block-item
                        .season-easy__block-item-icons 
                        .season-easy__block-item-title Гарантия на ремонт
                        .season-easy__block-item-text Гарантия на балансировку 14 дней, на ремонт шин - 3 года
                    li.season-easy__block-item
                        .season-easy__block-item-icons 
                        .season-easy__block-item-title Круглосуточно
                        .season-easy__block-item-text 24 часа. У нас нет выходных и праздников
                    li.season-easy__block-item
                        .season-easy__block-item-icons 
                        .season-easy__block-item-title Приедем тогда, когда вам удобно
                        .season-easy__block-item-text Мы приедем максимально быстро или в то время когда удобно вам
                    li.season-easy__block-item
                        .season-easy__block-item-icons 
                        .season-easy__block-item-title Даже если шина не подлежит ремонту!
                        .season-easy__block-item-text При необходимости купим и привезём новую или б/у шину на замену вашей
                    li.season-easy__block-item
                        .season-easy__block-item-icons 
                        .season-easy__block-item-title Повышаем компетенции сотрудников
                        .season-easy__block-item-text Все сотрудники проходят полное обучение технологиям ремонта от американских инструкторов


    @@include('components/_footer.pug')
    @@include('components/_menu.pug')
    @@include('components/_modelOrderCall.pug')

@@include('components/_script.pug')