@@include('components/_head.pug')

    @@include('components/_header.pug')


    section.tires-header 
        .containers 
            .tires-header__block
                .tires-header__block-title Вулканизация шин
                .tires-header__block-description Недорогая и быстрая вулканизация шин с пожизненной гарантией
                .tires-header__block-banner 
                    img(src="./img/header-banner.png" alt="img")
                .tires-header__block-wrapper 
                    .tires-header__block-content 
                        .tires-header__block-content-text Недорогая и быстрая вулканизация шин с пожизненной гарантией
                        .tires-header__block-content-add 
                            p Вулканизация резины — это взаимодействие каучукового и резинового покрытия под влиянием специальных смесей и компонентов. Вследствие этого все дефекты на поверхности шины ликвидируются, а сама покрышка становится износостойкой, прочной и эластичной.
                                br
                                br
                                br
                                span Процесс вулканизации занимает 1,5-2 часа.
                            
                    .tires-header__block-add
                        ul.tires-header__block-add-list
                            li.tires-header__block-add-item         
                                .tires-header__block-add-item-icons 
                                    <svg width="4" height="18" viewBox="0 0 4 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M3.28516 12.1953H0.636719L0.0390625 0.195312H3.88281L3.28516 12.1953ZM0.601562 16.6953C0.226562 16.3359 0.0390625 15.918 0.0390625 15.4414C0.0390625 14.957 0.226562 14.5352 0.601562 14.1758C0.976562 13.8164 1.42969 13.6367 1.96094 13.6367C2.49219 13.6367 2.94531 13.8164 3.32031 14.1758C3.69531 14.5352 3.88281 14.957 3.88281 15.4414C3.88281 15.918 3.69531 16.3359 3.32031 16.6953C2.94531 17.0547 2.49219 17.2344 1.96094 17.2344C1.42969 17.2344 0.976562 17.0547 0.601562 16.6953Z" fill="white"/>
                                    </svg>
                                .tires-header__block-add-item-wrapper 
                                    .tires-header__block-add-item-title Скидка 50% на хранение шин
                                    .tires-header__block-add-item-block На хранение шин при заказе покраски дисков или шиномонтажных работ
                            li.tires-header__block-add-item         
                                .tires-header__block-add-item-icons 
                                    <svg width="4" height="18" viewBox="0 0 4 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M3.28516 12.1953H0.636719L0.0390625 0.195312H3.88281L3.28516 12.1953ZM0.601562 16.6953C0.226562 16.3359 0.0390625 15.918 0.0390625 15.4414C0.0390625 14.957 0.226562 14.5352 0.601562 14.1758C0.976562 13.8164 1.42969 13.6367 1.96094 13.6367C2.49219 13.6367 2.94531 13.8164 3.32031 14.1758C3.69531 14.5352 3.88281 14.957 3.88281 15.4414C3.88281 15.918 3.69531 16.3359 3.32031 16.6953C2.94531 17.0547 2.49219 17.2344 1.96094 17.2344C1.42969 17.2344 0.976562 17.0547 0.601562 16.6953Z" fill="white"/>
                                    </svg>
                                .tires-header__block-add-item-wrapper 
                                    .tires-header__block-add-item-title Скидка 6% на страхование
                                    .tires-header__block-add-item-block При заказе услуг шиномонтажа и покраски дисков на Перерва - оформления полиса ОСАГО, КАСКО, страхование дома, квартиры, ипотечное страхование со скидкой 6 процентов! (от страхового партнера).
                button.tires-header__block-btn
                                a(href="#") Связаться

    section.tires-easy 
        .containers 
            .tires-easy__block 
                .tires-easy__block-add 002
                .tires-easy__block-title С нами удобно!
                ul.tires-easy__block-list
                    li.tires-easy__block-item
                        .tires-easy__block-item-icons 
                        .tires-easy__block-item-title Среднее время ожидания - 20 минут
                        .tires-easy__block-item-text Самый быстрый шиномонтаж по времени прибытия в Москве
                    li.tires-easy__block-item
                        .tires-easy__block-item-icons 
                        .tires-easy__block-item-title Гарантия на ремонт
                        .tires-easy__block-item-text Гарантия на балансировку 14 дней, на ремонт шин - 3 года
                    li.tires-easy__block-item
                        .tires-easy__block-item-icons 
                        .tires-easy__block-item-title Круглосуточно
                        .tires-easy__block-item-text 24 часа. У нас нет выходных и праздников
                    li.tires-easy__block-item
                        .tires-easy__block-item-icons 
                        .tires-easy__block-item-title Приедем тогда, когда вам удобно
                        .tires-easy__block-item-text Мы приедем максимально быстро или в то время когда удобно вам
                    li.tires-easy__block-item
                        .tires-easy__block-item-icons 
                        .tires-easy__block-item-title Даже если шина не подлежит ремонту!
                        .tires-easy__block-item-text При необходимости купим и привезём новую или б/у шину на замену вашей
                    li.tires-easy__block-item
                        .tires-easy__block-item-icons 
                        .tires-easy__block-item-title Повышаем компетенции сотрудников
                        .tires-easy__block-item-text Все сотрудники проходят полное обучение технологиям ремонта от американских инструкторов

    section.tires-list 
        .containers 
            .tires-list__block 
                .tires-list__block-add 002
                .tires-list__block-title Исправление повреждения диска "восьмерка"
                .tires-list__block-wrapper 
                    .tires-list__block-wrapper-title радиус:
                    ul.tires-list__block-wrapper-list
                        li.tires-list__block-wrapper-list-item R13
                        li.tires-list__block-wrapper-list-item R14
                        li.tires-list__block-wrapper-list-item R15
                        li.tires-list__block-wrapper-list-item R16
                        li.tires-list__block-wrapper-list-item R17
                        li.tires-list__block-wrapper-list-item R18
                        li.tires-list__block-wrapper-list-item R19
                        li.tires-list__block-wrapper-list-item R20
                        li.tires-list__block-wrapper-list-item R21
                        li.tires-list__block-wrapper-list-item R22
                        li.tires-list__block-wrapper-list-item R23 
                        li.tires-list__block-wrapper-list-item R24
                .tires-list__block-wrappers
                    .tires-list__block-wrappers-title цена за 1 комплект
                    ul.tires-list__block-wrappers-list
                        li.tires-list__block-wrappers-list-item 6 000 ₽
                        li.tires-list__block-wrappers-list-item 6 800 ₽
                        li.tires-list__block-wrappers-list-item 7 300 ₽
                        li.tires-list__block-wrappers-list-item 7 700 ₽
                        li.tires-list__block-wrappers-list-item 8 100 ₽
                        li.tires-list__block-wrappers-list-item 8 500 ₽
                        li.tires-list__block-wrappers-list-item 8 900 ₽
                        li.tires-list__block-wrappers-list-item 9 900 ₽
                        li.tires-list__block-wrappers-list-item 10 900 ₽
                        li.tires-list__block-wrappers-list-item 11 900 ₽
                        li.tires-list__block-wrappers-list-item 12 900 ₽ 
                        li.tires-list__block-wrappers-list-item 13 900 ₽
                .tires-list__block-wrappers 
                    .tires-list__block-wrappers-title цена за 1 комплект
                    ul.tires-list__block-wrappers-list
                        li.tires-list__block-wrappers-list-item 6 000 ₽
                        li.tires-list__block-wrappers-list-item 6 800 ₽
                        li.tires-list__block-wrappers-list-item 7 300 ₽
                        li.tires-list__block-wrappers-list-item 7 700 ₽
                        li.tires-list__block-wrappers-list-item 8 100 ₽
                        li.tires-list__block-wrappers-list-item 8 500 ₽
                        li.tires-list__block-wrappers-list-item 8 900 ₽
                        li.tires-list__block-wrappers-list-item 9 900 ₽
                        li.tires-list__block-wrappers-list-item 10 900 ₽
                        li.tires-list__block-wrappers-list-item 11 900 ₽
                        li.tires-list__block-wrappers-list-item 12 900 ₽ 
                        li.tires-list__block-wrappers-list-item 13 900 ₽
                .tires-list__block-description Вулканизация шин — простой, эффективный и дешевый способ выполнить ремонт шин. Вулканизация резины позволяет полностью ликвидировать мелкие дефекты, образовавшиеся на поверхности покрышки во время эксплуатации: проколы, микротрещины и т.д. Это намного быстрее и дешевле, чем производить замену всей покрышки целиком.

    section.tires-ways
        .containers 
            .tires-ways__wrapper 
                .tires-ways__wrapper-content 
                    .tires-ways__wrapper-content-title Способы вулканизации
                    .tires-ways__wrapper-content-add Холодная вулканизация. Этот способ подразумевает вулканизацию посредством химических реакций, которые активируют бутиловый слой автомобильной шины;
                    .tires-ways__wrapper-content-description Горячая вулканизация. Это воздействие на резину высокой температуры, которая делает ее гибкой и эластичной, и ликвидирует глубокие порезы и серьезные повреждения в структуре шины.
                .tires-ways__wrapper-add 
                    .tires-ways__wrapper-add-bg 
                        .tires-ways__wrapper-add-item
            button.tires-ways__btn
                a(href="#") Связаться 

    @@include('components/_footer.pug')

@@include('components/_script.pug')