@@include('components/_head.pug')

    @@include('components/_header.pug')


    section.contact-header 
        .containers 
            .contact-header__block
                .contact-header__block-title Контакты
                .contact-header__block-img 
                    img(src="./img/contact/banner.png" alt="img")
                .contact-header__block-wrapper 
                    .contact-header__block-text 
                        .contact-header__block-text-add 001
                        .contact-header__block-text-title Пит-Стоп Ярославское шоссе
                        .contact-header__block-text-phone +7 495 021-88-78
                        .contact-header__block-text-address ул. Холмогорская, 2К3
                        .contact-header__block-text-description Пересечение МКАД и Ярославского шоссе.
                        .contact-header__block-text-time с 9:00 - 21:00
                        .contact-header__block-text-email E-mail: shini-pitstop@yandex.ru
                        .contact-header__block-text-item Подземная парковка в доме.
                            br
                            br
                            | 3 теплых шиномонтажных поста;
                            br
                            | немецкое оборудование HOFFMAN - идеальная балансировка ваших колес;
                            br
                            | оборудованный склад для ХРАНЕНИЯ колес.
                            br
                            br
                            | В Пит-Стоп на Ярославском шоссе предоставляются все виды услуг: шиномонтаж, вулканизация и ремонт шин, ремонт боковых порезов, правка и ремонт дисков, аргонная сварка, порошковая покраска дисков. Также здесь есть оборудованный склад для хранения шин.
                    .contact-header__block-banner
                        .contact-header__block-banner-item 
                            .contact-header__block-banner-items 
                                img(src="img/contact/yar.png", alt="img")
                        .contact-header__block-banner-map 
                            <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Aa4fc756ae557dc5ca63e6dd5601dca4999e818f478828f8a1b461f8358681f92&amp;source=constructor" width="100%" height="720" frameborder="0"></iframe>

    section.contact-mapg 
        .containers 
            .contact-mapg__block 
                .contact-mapg__block-add 002
                .contact-mapg__block-title Панорама на Гугл-картах
                .contact-mapg__block-map
                    <iframe src="https://www.google.com/maps/embed?pb=!4v1637078037878!6m8!1m7!1sqko62up9eHb4nn_WsJipvw!2m2!1d55.88255661414727!2d37.71924965325493!3f53.00546899635597!4f-6.043219967429181!5f0.7820865974627469" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

    section.contact-mapy 
        .containers 
            .contact-mapy__block 
                .contact-mapy__block-add 003
                .contact-mapy__block-title Панорама на Гугл-картах
                .contact-mapy__block-map
                    <div style="position:relative;overflow:hidden;"><a href="https://yandex.ru/maps/213/moscow/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Москва</a><a href="https://yandex.ru/maps/213/moscow/house/kholmogorskaya_ulitsa_2k3/Z04YcQVgTUUEQFtvfXR5c3hmbQ==/?ll=37.720402%2C55.882460&panorama%5Bdirection%5D=65.339744%2C4.929452&panorama%5Bfull%5D=true&panorama%5Bpoint%5D=37.719291%2C55.882570&panorama%5Bspan%5D=112.126025%2C60.000000&source=wizgeo&utm_medium=mapframe&utm_source=maps&z=17.15" style="color:#eee;font-size:12px;position:absolute;top:14px;">Холмогорская улица, 2к3 — Яндекс.Карты</a><iframe src="https://yandex.ru/map-widget/v1/-/CCUuuJu~LD" width="100%" height="400" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>


    @@include('components/_footer.pug')
    @@include('components/_menu.pug')

@@include('components/_script.pug')